<div class="container">
    <div class="col-md-12 right_section upload-doc-page">
        <div id="titlebar" class="property-titlebar margin-bottom-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="property-title">
                        <a style="cursor: pointer" class="back-to-listings" (click)="goToListingPage()"></a>
                        <h2> View/Upload Property Documents <span class="property-badge">{{propertyId}}</span> </h2>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="submit-section">
            <div class="row">

                <div class="col-md-3">
                    <h5>Documents</h5>
                    <select class="chosen-select-no-single" id="documentName" tabindex="24"
                        (change)="docsChanged($event)" *ngIf='docsArray'>
                        <option *ngFor='let item of docsArray' value='{{item?.document_proof_id}}'>
                            {{item?.document_proof_name}}</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <h5>Documents Type</h5>
                    <select class="chosen-select-no-single" tabindex="25" id="documentType" *ngIf='docsArray'
                        (change)="docsTypeChanged($event)">
                        <option *ngFor='let item of docsArray[selectedDocIndex]?.docType'
                            value='{{item?.document_proof_type_id}}'>
                            {{item.document_proof_type_name}}</option>
                    </select>
                </div>


                <div class="col-md-4">
                    <h5>Upload File</h5>
                    <input id='upload_documents' type="file" accept=".pdf, image/*, .doc, .docx"
                        (change)="onFileChange($event)">
                </div>

                <!-- <div class="col-md-3" style="margin-top:43px;">
              <button class="button border" (click)="uploadDocs()" [disabled]='isLoading'
                [ngStyle]="{'cursor': isLoading ? 'progress' : 'pointer'}">
                <i class="fa fa-spinner fa-pulse fa-1x fa-fw fa fa-upload" *ngIf='isLoading'></i>Upload</button>
              <div *ngFor="let file of docsDataFiles">
                <p>{{file}}</p>
              </div>
            </div> -->

            </div>

            <div class="col-md-3"> </div>

            <div class="col-md-3"> </div>

            <div class="col-md-3">
                <p>Note: File size limit is 5MB</p>
            </div>
            <br>
            <hr>

            <!-- <div class="card text-center" >
          <div class="card-content">
            <div class="card-body">
              <img src='./assets/images/no_data.png' style='width: 100px' />
              <h4 class="card-title success">No Data available</h4>
            </div>
          </div>
        </div> -->

            <div class="row">
                <div class="card text-center" *ngIf='isLoading===true'>
                    <div class="card-content">
                        <div class="card-body">
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                            Uploading....
                        </div>
                    </div>
                </div>

                <div class="card text-center" *ngIf='documentsArrayMatrix.length === 0 && isLoading ===false'>
                    <div class="card-content">
                        <div class="card-body">
                            <img src='./assets/images/no_data.png' alt="no data" style='width: 100px' />
                            <h4 class="card-title success">No Data available</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class="col-md-12">
                    <div class="row" *ngFor='let row of documentsArrayMatrix; let i=index'>
                        <div class="col-md-3" *ngFor='let item of row; let k=index'>
                            <center>
                                <h3 class="doc-head">{{item?.document_proof_name}}</h3>
                            </center>
                            <div class="agent">
                                <div class="agent-avatar" style="height: 15rem;">
                                    <a href="{{getDocumentFileImageUrl(item)}}" target='_blank'>
                                        <img src="{{getDocumentFileImage(item)}}" alt="document">
                                        <span class="view-profile-btn"><i class="fa fa-eye"></i></span>
                                    </a>
                                </div>
                            </div>

                            <center>
                                <button (click)='deletePropertyDocument(item,i,k)' class="button border"><i
                                        class="fa fa-trash"></i></button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div class="row" *ngFor="let row of docsGrid; let i = index;" >
            <div class="column thumb-images-container" *ngFor="let item of row; let k = index;" >
              <img [src]="item" alt="Snow" style="width:100%" class='thumb-img'>
              <div class="middle">
                 <div class="text">Delete</div>
              </div>
            </div>
        </div> -->
            <br><br>
            <!-- *ngIf='(isAddProperty===true || propertyData?.HW_status==="Pending" && documentsArray?.length>0)' -->
            <!-- <div>
          <hr>
          <button [disabled]='this.documentsArrayMatrix.length === 0 || isLoading===true'
            [ngStyle]="{'cursor': this.documentsArrayMatrix.length>0 ? 'pointer' : 'default'}"
            [ngClass]="{ 'disable-button': this.documentsArrayMatrix.length === 0}" type="button"
            class="button border right" (click)='updatePropertyCompleteStatus()'>
            Finish
          </button>
          &nbsp;
          <button [disabled]='isLoading===true' *ngIf='this.documentsArrayMatrix.length===0' type="button"
            class="button border right skip" (click)='skipDocTab()'>
            Skip
          </button>
        </div> -->
        </div>
    </div>
</div>