.doc-head {
    height: 5rem;
}

.upload-doc-page {
    margin-top: 5px !important;
}

#titlebar.property-titlebar {
    background: linear-gradient(to bottom, #fff 0%, rgba(255, 255, 255, 0.5));
}

.submit-section {
    margin: -20px 20px 0px 20px;
}

.back-to-listings:hover {
    color: #fff;
    background-color: #8dc63f;
}

@media (max-width: 767px) {
    .upload-doc-page {
        margin-top: 5px !important;
    }
    .back-to-listings { 
        top: -40%;
    }
}