.child img {
    padding: 10px !important;
    border-radius: 4px !important;
}

.interestedActive>i {
    color: #EF4136 !important;
}

.shortlistedActive>i {
    color: #ffb400;
    content: "\f005";
}

.back-to-listings:hover {
    color: #fff;
    background-color: #8cc63f;
}

a.button.border:hover {
    background-color: #8cc63f !important;
    color: #fff;
    opacity: 1;
}

.listing-title h4 a:hover {
    color: #8cc63f;
}

a {
    color: #3c3d3b;
    text-decoration: none;
}

.rejected {
    color: red;
}

a.button.border.reject:disabled {
    background-color: #909090;
    border-color: #909090;
}

a.button.border.approve:disabled {
    background-color: #909090;
    border-color: #909090;
}

a.button.border.reject:hover {
    background-color: #ef453a !important;
    border: 1px solid #ef453a;
    color: #fff;
    opacity: 1;
}

.edit-btn {
    background-color: #8cc63f;
    border: 1px solid #8cc63f;
    color: #fff;
    padding: 0px 15px;
    margin-right: 2px;
}

.edit-btn:hover {
    opacity: 1;
}

.edit-btn-top {
    margin-top: 0px !important;
}

.edit-span {
    position: absolute;
    right: 0;
}

@media (max-width: 400px) {
    .edit-btn-top {
        margin-top: -2.5em !important;
    }
}

@media (max-width: 322px) {
    .edit-btn-top {
        margin-top: -8rem !important;
    }

    .back-to-listings {
        top: -15% !important;
    }
}

.approved {
    color: #8dc63f;
}

.rejected {
    color: red;
}

.else {
    color: black;
}

.shortlisted-button {
    width: 80px;
}

@media (max-width: 767px) {
    .details-phone {
        display: inline-block !important;
        float: right !important;
        margin-bottom: 1rem !important;
        margin-top: -1rem !important;
    }
}

@media (min-width: 768px) {
    .details-phone {
        display: none !important;
    }
}




/* .property-features {
    margin: 0px 0px 0px 10px !important;
}

.property-features.checkboxes {
    margin: 0px 0px 0px 0px !important;
}

.property-features.checkboxes li {
    color: #707070 !important;
    margin: 0px 0px 0px 10px !important;
} */