<div id="top"></div>
<div id="titlebar" class="property-titlebar margin-bottom-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a *ngIf='userData?.user_type.toUpperCase()===userTypeOwner' style="cursor: pointer" class="back-to-listings" [routerLink]="['/user/owner-dashboard']"></a>
        <a *ngIf='userData?.user_type.toUpperCase()===userTypeTenant' style="cursor: pointer" class="back-to-listings" (click)="goToListingPage()"></a>
        <div class="property-title">
          <h2>{{propertyData?.features?.bedrooms}}BHK {{propertyData?.ptype_name}}<span
              class="property-badge">{{propertyData?.id}}</span>
            <span class="edit-span edit-btn-top" *ngIf='userData?.user_type.toUpperCase()===userTypeOwner'>
              <button class="edit-btn button" (click)='editProperty(propertyData)'>Edit</button>
            </span>
          </h2>
          <span *ngIf="propertyData">
            <a class="listing-address" style='cursor: pointer;'
              href='https://www.google.com/maps/search/?api=1&query={{getAddress(propertyData?.details)}}'
              target='_blank'>
              <i class="fa fa-map-marker"></i>
              {{getAddress(propertyData?.details)}}
            </a>
          </span>
        </div>
        <div class="property-pricing">
          <div class="property-price"></div>
          <div class="sub-price"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <ngx-slick class="carousel " class="main" #slickModal="slick-modal" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let imageData of propertyImages" class="slide ">
      <div class="agent-avatar" style='height: 100%'>
        <img src="{{imageData?.image}}" alt="" width="100%">
      </div>
    </div>
  </ngx-slick>
  
  <ngx-slick *ngIf='noImage===false' class="carousel" class="child" #slickModal="slick-modal" [config]="slideConfig2">
    <div ngxSlickItem *ngFor="let imageData of propertyData?.images" class="slide">
      <div class="agent-avatar">
        <img src="{{imageData?.image}}" alt="" width="100%">
      </div>
    </div>
  </ngx-slick>
</div> -->

<!-- <div class="container" style="width:36rem !important; text-align: center" *ngIf='noImage ===true'>
  <img src="{{noImageUrl}}" alt="property image" width="100%">
</div> -->

<div class="card text-center" *ngIf='noImage ===true'>
  <div class="card-content">
    <div class="card-body">
      <img src='./assets/images/no_data.png' alt="no data" style='width: 90px' />
      <h4 class="card-title success">No image available</h4>
    </div>
  </div>
</div>

<div class="container" *ngIf='noImage ===false'>
  <ngx-slick class="carousel " #slickModal="slick-modal" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let imageData of propertyImages" class="slide ">
      <div class="agent-avatar" style='height: 100%'>
        <img src="{{imageData?.image}}" alt="property image" width="100%">
      </div>
    </div>
  </ngx-slick>
</div>



<div class="container" style="margin-bottom:30px;">

  <div class="row">
    <div class="col-lg-12 col-md-12">

      <div class="property-description">
        <!-- <ul class="property-main-features">
          <li>Area <span>{{propertyData?.features?.builtup}} {{propertyData?.features?.units }}</span></li>
          <li>Bedrooms <span>{{propertyData?.features?.bedrooms}}</span></li>
          <li>Bathrooms <span>{{propertyData?.features?.bathrooms}}</span></li>
          <li>Balconies <span>{{propertyData?.features?.balconies}}</span></li>
          <li *ngIf='userData?.user_type==="tenant"'>
            <span>
              <button (click)='shorlistInterestedProperty("shortlisted")'
                [ngClass]="{'shortlistedActive': propertyData?.sactive}" class="widget-button with-tip"
                data-tip-content="Add to shortlisted property"><i class="fa fa-star"></i>
                <div class="tip-content" *ngIf='propertyData?.sactive'>Shortlisted</div>
                <div class="tip-content" *ngIf='!propertyData?.sactive'>Add to shortlisted property</div>

              </button>
              <button (click)='shorlistInterestedProperty("interested")'
                [ngClass]="{'interestedActive': propertyData?.iactive}" class="interested-button widget-button with-tip"
                data-tip-content="Add to interested property"> <i id="Thumbs" class="fa fa-heart white"></i>
                Express Interest
              </button>
            </span>
          </li>
        </ul> -->

        <ul class="property-main-features" *ngIf='userRole===userTypeTenant'>
          <li>
            <span>
              <button (click)='shorlistInterestedProperty("shortlisted")'
                [ngClass]="{'shortlistedActive': propertyData?.sactive}" *ngIf='!propertyData?.iactive'
                class="shortlisted-button widget-button with-tip" data-tip-content="Add to shortlisted property"
                [disabled]="isLoading" [ngStyle]="{'cursor': isLoading ? 'progress' : 'pointer'}">
                <i class="fa fa-spinner fa-pulse fa-1x fa-fw" *ngIf='isLoading && shortlistedLoading'></i> <i
                  class="fa fa-star"></i>
                <div class="tip-content" *ngIf='propertyData?.sactive'>Shortlisted</div>
                <div class="tip-content" *ngIf='!propertyData?.sactive'>Add to shortlisted property</div>
              </button>
              <button (click)='shorlistInterestedProperty("interested")'
                [ngClass]="{'interestedActive': propertyData?.iactive}" class="interested-button widget-button with-tip"
                data-tip-content="Add to interested property" [disabled]="isLoading"
                [ngStyle]="{'cursor': isLoading ? 'progress' : 'pointer'}">
                <i class="fa fa-spinner fa-pulse fa-1x fa-fw" *ngIf='isLoading && interestedLoading'></i> <i id="Thumbs"
                  class="fa fa-heart white"></i>
                Express Interest
              </button>
            </span>
          </li>
        </ul>

        <h3 class="desc-headline">Details</h3>
        <ul class="property-features margin-top-0">
          <li>Property Type: <span>{{propertyType}}</span></li>
          <li>City: <span>{{city}}</span></li>
          <li>Services: <span>{{propertyData?.typeOfAServices[0].services_name}}</span></li>
          <!-- <li>
            <div class="row">
              <div class="col-md-3" style='padding-right: 0px'>
                Services:
              </div>
              <div class="col-md-9" style='margin-left: -2.5em;'>
                <span>{{propertyData?.typeOfAServices[0].services_name}}</span>
              </div>
            </div>
          </li> -->
          <li>Furnishing: <span>{{propertyData?.details?.furnishing}}</span></li>
          <li>Available From: <span>{{propertyData?.details?.availFrom}}</span></li>
          <li>Address Line1: <span>{{propertyData?.details?.addr1}}</span></li>
          <li *ngIf='propertyData?.details?.addr2'>Address Line2: <span>{{propertyData?.details?.addr2}}</span></li>
          <li>Pincode: <span>{{propertyData?.details?.pincode}}</span></li>
          <!-- <li *ngIf='propertyData?.features?.occupancy'>Occupancy: <span>{{propertyData?.features?.occupancy}}</span>
          </li> -->
          <li *ngIf="propertyData?.details?.area">Area: <span>{{propertyData?.details?.area}}</span></li>
          <li>Property Age: <span>{{propertyData?.details?.propertyAge}}</span></li>
          <li>Built Up Area: <span>{{propertyData?.features?.builtup}} {{propertyData?.features?.units}}</span></li>
          <!-- <li>Units: <span>{{propertyData?.features?.units}}</span></li> -->
          <li>Floor Level: <span *ngIf="propertyData?.features?.floorlvl === '0'">Ground</span> <span
              *ngIf="propertyData?.features?.floorlvl !== '0'">{{propertyData?.features?.floorlvl}}</span></li>
          <li>Total Floors: <span *ngIf="propertyData?.features?.totalFloor === '0'">Ground</span> <span
              *ngIf="propertyData?.features?.totalFloor !== '0'">{{propertyData?.features?.totalFloor}}</span></li>
        </ul>

        <h3 class="desc-headline">Preferences</h3>
        <ul class="property-features margin-top-0">
          <li *ngIf="propertyData?.preference?.rentTO.length > 0">To Whom To Rent: <span>{{rentTo}}</span>
          </li>
          <li *ngIf="propertyData?.preference?.rentTO.length == 0">To Whom To Rent: <span>&nbsp;&nbsp; None </span>
          </li>
          <li>Expected Monthly Rent: <span>{{propertyData?.preference?.exptRent}}</span></li>
          <li>Security: <span>{{propertyData?.preference?.security}}</span></li>
          <!-- <li>Rent Type:
            <span
              *ngIf="propertyData?.preference?.rentType == 1 || propertyData?.preference?.rentType == 'Company Lease'">Company
              Lease</span>
            <span
              *ngIf="propertyData?.preference?.rentType == 2 || propertyData?.preference?.rentType == 'Any'">Any</span>
          </li> -->
        </ul>

        <h3 class="desc-headline">Amenities</h3>
        <ul class="property-features checkboxes margin-top-0" *ngIf="amenities.length > 0">
          <li *ngFor='let item of amenities'>{{item?.ami_name}}</li>
        </ul>
        <div class="property-features checkboxes margin-top-0" *ngIf="amenities.length == 0 ">
          <h4> None </h4>
        </div>
        <br>




        <div class="box" *ngIf="userRole == userTypeOwner && isTenant === true ">
          <div class="box-header">
            <h3 class="desc-headline" style="color:#000;">Confirmed Tenant</h3>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>
                    <center>Tenant Id</center>
                  </th>
                  <th>
                    <center>Tenant Name</center>
                  </th>
                  <th>
                    <center>Contact No</center>
                  </th>
                  <th>
                    <center>Tenant Address</center>
                  </th>
                  <th colspan="2">
                    <center>Action</center>
                  </th>
                  <th>
                    <center>Tenant Documents</center>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let item of interestedTenants; let i=index'>
                  <td>
                    <center>{{item?.tenant_id}}</center>
                  </td>
                  <td>
                    <center>{{item?.first_name}}&nbsp;{{item?.last_name}}</center>
                  </td>
                  <td>
                    <center>{{item?.contact_no}}</center>
                  </td>
                  <td>
                    <center>{{item?.user_address}}</center>
                  </td>

                  <!-- <td colspan="2" *ngIf="item?.status !==''">
                    <center>
                      <lable class="rejected">{{item?.status}}</lable>
                    </center>
                  </td> -->
                  <td colspan="2">
                    <div *ngIf='checkStatus(item)===1'>
                      <center>
                        <a (click)="updateAgreementStatus(item,'Approved')" button class="button border approve"
                          [disabled]="isLoading" [ngStyle]="{'cursor': approvedBtnPressed ? 'progress' : 'pointer'}"><i
                            class="fa fa-spinner fa-pulse fa-1x fa-fw" *ngIf='approvedBtnPressed'></i>Approve</a>
                        <a (click)="updateAgreementStatus(item,'Rejected')" button class="button border reject"
                          [disabled]="isLoading" [ngStyle]="{'cursor': rejectedBtnPressed ? 'progress' : 'pointer'}"><i
                            class="fa fa-spinner fa-pulse fa-1x fa-fw" *ngIf='rejectedBtnPressed'></i>Reject</a>
                      </center>
                    </div>
                    <div *ngIf='checkStatus(item)===2'>
                      <center>
                        <lable class="rejected">{{item?.tenant_detail_status}}</lable>
                      </center>
                    </div>
                    <div *ngIf='checkStatus(item)===3'>
                      <center>
                        <lable class="approved">{{item?.tenant_detail_status}}</lable>
                      </center>
                    </div>
                    <div *ngIf='checkStatus(item)===4'>
                      <center>
                        <lable class="else">{{item?.tenant_detail_status}}</lable>
                      </center>
                    </div>
                  </td>
                  <!-- <td colspan="2" *ngIf="item?.status ===''">
                    <a (click)="updateAgreementStatus(item,'Approved')" button class="button border approve">Approve</a>
                    <a (click)="updateAgreementStatus(item,'Rejected')" button class="button border reject">Reject</a>
                  </td> -->
                  <td>
                    <center><a [routerLink]="['/user/upload-docs', propertyData?.id, item?.tenant_id,'tenant_docs']"
                        class="button border">View </a></center>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="layout-switcher hidden">
          <a class="list"><i class="fa fa-th-list"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-5"></div>
  </div>

  <h3 *ngIf='(similarPropertyData && (similarPropertyData.length > 0) && userRole===userTypeTenant)'
    class="desc-headline no-border margin-bottom-35 margin-top-60">Similar Properties</h3>

  <div class="listings-container list-layout" *ngIf='userRole===userTypeTenant'>
    <div class="listing-item" *ngFor='let item of similarPropertyData'>
      <a (click)='getPropertyDetails(item)' class="listing-img-container" style="height: 241px; cursor: pointer;">

        <div class="listing-img-content">
          <span class="listing-price"></span>
        </div>

        <img src="{{getPropertyImage(item)}}" alt="property image" style="height: 241px;">
      </a>

      <div class="listing-content">
        <div class="listing-title">
          <h4><a (click)='getPropertyDetails(item)' style="cursor: pointer">{{item?.features?.bedrooms}} BHK
              {{item?.ptype_name}}</a></h4>

          <a style="cursor: pointer"><i class="fa fa-map-marker"></i>
            {{getAddress(item?.details)}}</a>


          <a (click)='getPropertyDetails(item)' class="details button border">Details</a>
        </div>
        <a (click)='getPropertyDetails(item)' class="details-phone button border">Details</a>

        <ul class="listing-details">
          <li><i class="fa fa-inr"></i><span>{{item?.preference?.exptRent}}/Month</span></li>
          <li>{{item?.features?.builtup}} {{item?.features?.units}}</li>
          <li>{{item?.features?.bedrooms}} Bedroom</li>
        </ul>

        <div class="listing-footer">
          <a></a>
        </div>
      </div>
    </div>

  </div>

</div>

<div id="backtotop"><a style="cursor: pointer" (click)="gotoTop()"></a></div>