<div class="container row tab-info">
  <div class="col-md-12" style="padding: 0 7%;">
    <ul class="nav nav-tabs nav-topline no-hover-bg" style='margin-top: 30px'>
      <li class="nav-item active" (click)="changeTab($event, 'property_details')" id="property_details_tab">
        <a class="nav-link " aria-controls="tab11" aria-expanded="true">Property
          Details</a>
      </li>
      <li class="nav-item" (click)="changeTab($event, 'property_images')" id="property_images_tab">
        <a class="nav-link " aria-controls="tab12" aria-expanded="false" [ngClass]="{ 'disabled': !propertyData}">Images
          Upload</a>
      </li>
      <li class="nav-item" (click)="changeTab($event, 'property_documents')" id="property_docs_tab">
        <a class="nav-link" aria-controls="tab13" aria-expanded="false"
          [ngClass]="{ 'disabled': !propertyData}">Documents
          Upload</a>
      </li>
    </ul>

  </div>
</div>




<div class="container" style="margin-top:120px;">

  <div class="row tabcontent " id="property_details" style="display:block">
    <div class="col-md-12 right_section">
      <form [formGroup]="propertyForm">
        <div class="submit-page">
          <div class="submit-section">
            <div class="row with-forms">
              <div class="col-md-4">
                <h5>Property Type</h5>
                <select [ngClass]="{ 'error': (formControl.propertyType.errors?.required && isSubmitted)}"
                  class="chosen-select-no-single" formControlName="propertyType" autofocus tabindex="1"
                  [(ngModel)]="propertyData?.propertyType && propertyData.propertyType">
                  <option selected *ngFor="let item of comboList?.propertyTypes" value='{{item?.ptype_id}}'>
                    {{item?.ptype_name}}
                  </option>
                </select>
              </div>

              <div class="col-md-4">
                <h5>City</h5>
                <select [ngClass]="{ 'error': (formControl.city.errors?.required && isSubmitted)}"
                  class="chosen-select-no-single" formControlName="city" tabindex="2"
                  [(ngModel)]="propertyData?.city && propertyData.city">
                  <option *ngFor="let item of comboList?.city" value='{{item?.city_id}}'>{{item?.city_name}}</option>
                </select>
              </div>
              <!-- <span>
                      <p class="err-msg" *ngIf="formControl.city.errors.required" > Please select City</p>          
                  </span> -->
              <div class="col-md-4">
                <h5>Types Of Services</h5>
                <select [ngClass]="{ 'error': (formControl.typeOfAServices.errors?.required && isSubmitted)}"
                  class="chosen-select-no-single" formControlName="typeOfAServices" tabindex="3"
                  [(ngModel)]="propertyData?.typeOfAServices[0]?.services_master_id && propertyData?.typeOfAServices[0].services_master_id"
                  style="height: 50px">
                  <option *ngFor="let item of comboList?.services" value='{{item?.services_master_id}}'>
                    {{item?.services_name}}</option>
                </select>

                <!-- <ng-multiselect-dropdown-angular7 [placeholder]="' '" [data]="comboList?.services" tabindex="3"
                  class="multiselect-dropdown" [(ngModel)]="selectedTypeOfServices" [settings]="dropdownSettings"
                  formControlName="typeOfAServices" [ngModelOptions]="{standalone: true}">
                </ng-multiselect-dropdown-angular7> -->

              </div>
            </div>
          </div>

          <h3 *ngIf='isAddProperty===true'>Add Details</h3>
          <h3 *ngIf='isAddProperty===false'>Update Details</h3>

          <div class="submit-section" formGroupName="details">
            <div class="row with-forms">
              <div class="col-md-4">
                <h5>Furnishing</h5>
                <select
                  [ngClass]="{ 'error': (formControl.details.controls.furnishing.errors?.required && isSubmitted)}"
                  class="chosen-select-no-single" formControlName="furnishing" tabindex="4"
                  [(ngModel)]="propertyData?.details?.furnishing && propertyData?.details.furnishing">
                  <option value='Fully Furnished'>Fully Furnished</option>
                  <option value='Semi Furnished'>Semi Furnished</option>
                  <option value='Not Furnished'>Not Furnished</option>
                </select>
              </div>

              <div class="col-md-4">
                <h5>Available From</h5>
                <input [ngClass]="{ 'error': !availableFromDate && isSubmitted}" placeholder="" tabindex="5"
                  [(ngModel)]="availableFromDate" [owlDateTime]="dt3" [ngModelOptions]="{standalone: true}"
                  [owlDateTimeTrigger]="dt3" [min]='currentDate' />
                <owl-date-time id="startDatePicker" [pickerMode]="'popup'" [pickerType]="'calendar'" #dt3>
                </owl-date-time>
              </div>

              <div class="col-md-4">
                <h5>Property Age</h5>
                <select
                  [ngClass]="{ 'error': (formControl.details.controls.propertyAge.errors?.required && isSubmitted)}"
                  class="chosen-select-no-single" formControlName="propertyAge" tabindex="6"
                  [(ngModel)]="propertyData?.details?.propertyAge && propertyData?.details.propertyAge">
                  <option value='Less than 1 Yr'>Less than 1 Yr</option>
                  <option value='1 to 5 Yr'>1 to 5 Yr</option>
                  <option value='More than 5 Yrs'>More than 5 Yrs</option>
                </select>
              </div>
              <div class="col-md-4">
                <h5>Address Line1</h5>
                <input [ngClass]="{ 'error': (formControl.details.controls.addr1.errors?.required && isSubmitted)}"
                  type="text" formControlName="addr1" placeholder="" tabindex="7"
                  [(ngModel)]="propertyData?.details?.addr1 && propertyData.details.addr1">
              </div>
              <div class="col-md-4">
                <h5>Address Line2</h5>
                <input type="text" formControlName="addr2" placeholder="" tabindex="8"
                  [(ngModel)]="propertyData?.details?.addr2 && propertyData.details.addr2">
                <!-- <input [ngClass]="{ 'error': (formControl.details.controls.addr2.errors?.required && isSubmitted)}"
                  type="text" formControlName="addr2" placeholder="" tabindex="8"
                  [(ngModel)]="propertyData?.details?.addr2 && propertyData.details.addr2"> -->
              </div>
              <div class="col-md-4">
                <h5>Area/Landmark</h5>
                <!-- <input type="text" formControlName="area" placeholder="" tabindex="9"
                  [(ngModel)]="propertyData?.details?.area && propertyData.details.area"> -->
                <input [ngClass]="{ 'error': (formControl.details.controls.area.errors?.required && isSubmitted)}"
                  type="text" formControlName="area" placeholder="" tabindex="9"
                  [(ngModel)]="propertyData?.details?.area && propertyData.details.area">
              </div>
              <div class="col-md-4">
                <h5>City</h5>
                <select [ngClass]="{ 'error': (formControl.details.controls.city.errors?.required && isSubmitted)}"
                  class="chosen-select-no-single" formControlName="city" tabindex="10"
                  [(ngModel)]="propertyData?.city && propertyData.city" (change)="onSelect($event)">
                  <option *ngFor="let item of comboList?.city" value='{{item?.city_id}}'>{{item?.city_name}}</option>
                </select>
              </div>
              <div class="col-md-4">
                <h5>Pincode</h5>
                <input
                  [ngClass]="{ 'error': ((formControl.details.controls.pincode.errors?.pattern || formControl.details.controls.pincode.errors?.required) && isSubmitted)}"
                  type="text" formControlName="pincode" placeholder="" tabindex="11"
                  [(ngModel)]="propertyData?.details?.pincode && propertyData.details.pincode">
              </div>
              <!-- <div>
                      <p class="err-msg" *ngIf="formControl.details.controls.pincode.errors?.pattern"> Please Enter Valid Pincode</p>
                    </div> -->
              <div class="col-md-4">
                <h5>Country</h5>
                <!-- <input [ngClass]="{ 'error': (formControl.details.controls.country.errors?.required && isSubmitted)}"
                  type="text" formControlName="country" placeholder="India" tabindex="12"
                  [(ngModel)]="propertyData?.details?.country && propertyData.details.country"> -->
                <select [ngClass]="{ 'error': (formControl.details.controls.country.errors?.required && isSubmitted)}"
                  class="chosen-select-no-single" formControlName="country" tabindex="12" id="country"
                  [(ngModel)]="countryId">
                  <option *ngFor="let item of comboList?.country" value='{{item?.country_id}}'>{{item?.country_name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div formGroupName="features">
            <h3>Features</h3>
            <div class="submit-section">
              <div class="row with-forms">

                <!-- <div class="col-md-4">
                  <h5>Occupancy</h5>
                  <select
                    [ngClass]="{ 'error': (formControl.features.controls.occupancy.errors?.required && isSubmitted)}"
                    class="chosen-select-no-single" formControlName="occupancy" tabindex="13"
                    [(ngModel)]="propertyData?.features?.occupancy && propertyData?.features.occupancy">
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                    <option value='7'>7</option>
                    <option value='8'>8</option>
                    <option value='9'>9</option>
                    <option value='10'>10+</option>
                  </select>
                </div> -->

                <!-- Beds -->
                <div class="col-md-4">
                  <h5>Bedrooms</h5>
                  <select
                    [ngClass]="{ 'error': (formControl.features.controls.bedrooms.errors?.required && isSubmitted)}"
                    formControlName="bedrooms" class="chosen-select-no-single" tabindex="13"
                    [(ngModel)]="propertyData?.features?.bedrooms && propertyData?.features.bedrooms">
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                  </select>
                </div>
                <!-- Baths -->
                <div class="col-md-4">
                  <h5>Bathrooms</h5>
                  <select
                    [ngClass]="{ 'error': (formControl.features.controls.bathrooms.errors?.required && isSubmitted)}"
                    formControlName="bathrooms" class="chosen-select-no-single" tabindex="14"
                    [(ngModel)]="propertyData?.features?.bathrooms && propertyData?.features.bathrooms">
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <h5>Balconies</h5>
                  <select
                    [ngClass]="{ 'error': (formControl.features.controls.balconies.errors?.required && isSubmitted)}"
                    class="chosen-select-no-single" formControlName="balconies" tabindex="15"
                    [(ngModel)]="propertyData?.features?.balconies && propertyData?.features.balconies">
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                  </select>
                </div>

              </div>

              <div class="row with-forms">
                <!-- Age of Home -->

                <!-- Beds -->
                <div class="col-md-4">
                  <h5>Built Up Area</h5>
                  <input
                    [ngClass]="{ 'error': ((formControl.features.controls.builtup.errors?.required || formControl.features.controls.builtup.errors?.pattern) && isSubmitted)}"
                    formControlName="builtup" type="number" min="0" placeholder="" tabindex="16"
                    [(ngModel)]="propertyData?.features?.builtup && propertyData.features.builtup">
                </div>

                <!-- Baths -->
                <div class="col-md-4">
                  <h5>Units</h5>
                  <select [ngClass]="{ 'error': (formControl.features.controls.units.errors?.required && isSubmitted)}"
                    class="chosen-select-no-single" formControlName="units" tabindex="17"
                    [(ngModel)]="propertyData?.features?.units && propertyData.features.units">
                    <option value='Square ft'>Square ft</option>
                    <option value='Square yds'>Square yds</option>
                    <option value='Square mtr'>Square mtr</option>
                    <option value='Acres'>Acres</option>

                  </select>
                </div>
                <div class="col-md-4">
                  <h5>Floor Level</h5>
                  <select
                    [ngClass]="{ 'error': (formControl.features.controls.floorlvl.errors?.required && isSubmitted)}"
                    formControlName="floorlvl" class="chosen-select-no-single" tabindex="18"
                    [(ngModel)]="propertyData?.features?.floorlvl && propertyData.features.floorlvl">
                    <option value='0'>Ground</option>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                    <option value='7'>7</option>
                    <option value='8'>8</option>
                    <option value='9'>9</option>
                    <option value='10'>10</option>
                    <option value='11'>11</option>
                    <option value='12'>12</option>
                    <option value='13'>13</option>
                    <option value='14'>14</option>
                    <option value='15'>15</option>
                  </select>
                </div>
              </div>

              <div class="row with-forms">


                <div class="col-md-4">
                  <h5>Total Floors</h5>
                  <select
                    [ngClass]="{ 'error': (formControl.features.controls.totalFloor.errors?.required && isSubmitted)}"
                    formControlName="totalFloor" class="chosen-select-no-single" tabindex="19"
                    [(ngModel)]="propertyData?.features?.totalFloor && propertyData.features.totalFloor">
                    <option value='0'>Ground</option>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                    <option value='7'>7</option>
                    <option value='8'>8</option>
                    <option value='9'>9</option>
                    <option value='10'>10</option>
                    <option value='11'>11</option>
                    <option value='12'>12</option>
                    <option value='13'>13</option>
                    <option value='14'>14</option>
                    <option value='15'>15</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- Section -->
          <div formGroupName="preference">
            <h3>Preferences</h3>
            <h5>To Whom To Rent</h5>
            <div class="checkboxes in-row">
              <div class="row">
                <div class="col-md-3" *ngFor='let item of rentToArray; let i=index'>
                  <input
                    [ngClass]="{ 'error': (formControl.preference.controls.rentTO.errors?.required && isSubmitted)}"
                    formControlName="rentTO" value="{{item.name}}" type="checkbox" name="{{item.id}}"
                    id="rent{{item.id}}" [checked]="item?.checked" (change)="rentToChecked(i,$event)" tabindex="20">
                  <label for="rent{{item.id}}">{{item.name}}</label></div>
              </div>
            </div>
            <br>

            <div class="submit-section">
              <div class="row with-forms">
                <div class="col-md-4">
                  <h5>Expected Monthly Rent</h5>
                  <input
                    [ngClass]="{ 'error': ((formControl.preference.controls.exptRent.errors?.required || formControl.preference.controls.exptRent.errors?.pattern) && isSubmitted)}"
                    formControlName="exptRent" type="text" placeholder="" tabindex="21"
                    [(ngModel)]="propertyData?.preference?.exptRent && propertyData.preference.exptRent">
                </div>

                <div class="col-md-4">
                  <h5>Security</h5>
                  <input
                    [ngClass]="{ 'error': ((formControl.preference.controls.security.errors?.required || formControl.preference.controls.security.errors?.pattern) && isSubmitted)}"
                    formControlName="security" type="text" placeholder="" tabindex="22"
                    [(ngModel)]="propertyData?.preference?.security && propertyData.preference.security">
                </div>

                <!-- <div class="col-md-4">
                  <h5>Rent Type</h5>
                  <select
                    [ngClass]="{ 'error': (formControl.preference.controls.rentType.errors?.required && isSubmitted)}"
                    formControlName="rentType" class="chosen-select-no-single" tabindex="23"
                    [(ngModel)]="propertyData?.preference?.rentType && propertyData.preference.rentType">
                    <option value='Company Lease'>Company Lease</option>
                    <option value='Any'>Any</option>
                  </select>
                </div> -->

              </div>
            </div>


            <h3>Amenities</h3>
            <div class="checkboxes in-row">

              <div class="row" *ngFor='let row of amenitiesMatrix; let i = index;'>
                <div class="col-md-3" *ngFor='let item of row; let k = index;'>
                  <input
                    [ngClass]="{ 'error': (formControl.preference.controls.amenities.errors?.required && isSubmitted)}"
                    formControlName="amenities" value="{{item?.ami_id}}" id="amenity{{item?.ami_id}}"
                    name="amenity{{item?.ami_id}}" type="checkbox" [checked]="item?.checked" value='{{item?.ami_name}}'
                    (change)="amenitiesCheckeBoxChanged(i,k,$event)" tabindex="23">
                  <label for="amenity{{item?.ami_id}}">{{item?.ami_name}}</label>
                </div>
              </div>
              <br>

            </div>
          </div>


          <br><br>

          <hr>

          <button type="button" class="button border right" (click)="onSubmit(propertyForm)" [disabled]='isLoading'
            [ngStyle]="{'cursor': isLoading ? 'progress' : 'pointer'}" tabindex="24">
            <i class="fa fa-spinner fa-pulse fa-1x fa-fw" *ngIf='isLoading'></i>
            <span *ngIf='isAddProperty===true && isEdit===false'>Next</span>
            <span *ngIf='isEdit===true'>Save</span>
          </button>
          <button type="button" class="button border right" (click)="cancelAction()" [disabled]='isLoading'
            [ngStyle]="{'cursor': isLoading ? 'progress' : 'pointer'}" tabindex="24">
            <span>Cancel</span>
          </button>
        </div>
      </form>
    </div>
  </div>


  <div class="row tabcontent" id="property_images">
    <div class="col-md-12 right_section">
      <div class="submit-page">

        <div class="checkboxes in-row">
          <!-- 
          <h3>Upload Property Images</h3> -->
          <div class="submit-section">
            <div class="row">
              <div class="col-md-4">
                <h5>Upload File</h5>
                <input id='image_upload' type="file" accept=".png,.jpeg,.jpg," (change)="onImageChange($event)"
                  multiple>
              </div>


              <!-- <div class="col-md-3" *ngFor="let file of imageDataFiles">
                  <h5>Selected File</h5>
                  <p>{{file.name}}</p>
              </div> -->

              <!-- <div class="col-md-3" style="margin-top:43px;">
                <button class="button border" (click)="uploadImages()" [disabled]='isLoading'
                  [ngStyle]="{'cursor': isLoading ? 'progress' : 'pointer'}">
                  <i class="fa fa-spinner fa-pulse fa-1x fa-fw fa fa-upload" *ngIf='isLoading'></i>Upload</button>
              </div> -->

            </div>
            <div class="col-md-3">
              <p>Note: File size limit is 5MB</p>
            </div>
          </div>

          <div class="card text-center" *ngIf='isImageUploading===true'>
            <div class="card-content">
              <div class="card-body">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                Uploading....
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 5%">
            <div class="card text-center col-md-6" *ngIf='imageGrid.length === 0 && isImageUploading ===false'>
              <div class="card-content">
                <div class="card-body">
                  <img src='./assets/images/no_data.png' alt="no data" style='width: 100px' />
                  <h4 class="card-title success">No Data available</h4>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="row" *ngFor="let row of imageGrid; let i = index;">
            <div class="column thumb-images-container" *ngFor="let item of row; let k = index;">
              <div class="agent">
                <div class="agent-avatar">
                  <a href="{{getImageUrl(item?.image)}}" target='_blank'>
                    <img [src]="getImageUrl(item?.image)" alt="">
                    <span class="view-profile-btn"><i class="fa fa-eye"></i></span>
                  </a>
                </div>
              </div>
              <center>
                <button (click)='deletePropertyImage(item)' class="button border"><i class="fa fa-trash"></i></button>
              </center>
            </div>
          </div> -->


          <div class='row'>
            <div class="col-md-12">
              <div class="row" *ngFor='let row of imageGrid; let i=index' style="margin-bottom: 15px">
                <div class="col-md-3" *ngFor='let item of row; let k=index'>
                  <div class="agent">
                    <div class="agent-avatar" style="height: 15rem;">
                      <a href="{{getImageUrl(item?.image)}}" target='_blank'>
                        <img [src]="getImageUrl(item?.image)" alt="property image">
                        <span class="view-profile-btn"><i class="fa fa-eye"></i></span>
                      </a>
                    </div>
                  </div>

                  <center>
                    <button (click)='deletePropertyImage(item)' class="button border"><i
                        class="fa fa-trash"></i></button>
                  </center>
                </div>
              </div>
            </div>
          </div>

          <br><br>
          <!-- *ngIf='(isAddProperty===true || propertyData?.HW_status==="Pending")' -->
          <div>
            <hr>
            <button [disabled]='this.propertyData?.images?.length===0 || isImageUploading===true'
              [ngStyle]="{'cursor': this.propertyData?.images?.length>0 ? 'pointer' : 'default'}" type="button"
              [ngClass]="{ 'disable-button': this.propertyData?.images?.length===0}" class="button border right"
              (click)="gotoUploadDocs()">
              Next
            </button>
            &nbsp;
            <button [disabled]='isImageUploading===true' *ngIf='this.propertyData?.images?.length===0' type="button"
              class="button border right skip" (click)='skipImageTab()'>
              Skip
            </button>


          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="row tabcontent" id="property_documents">
    <div class="col-md-12 right_section">

      <div class="submit-page">

        <div class="checkboxes in-row">
          <!-- <h3>Upload Docs</h3> -->
          <div class="submit-section">
            <div class="row">

              <div class="col-md-3">
                <h5>Documents</h5>
                <select class="chosen-select-no-single" id="documentName" tabindex="24" (change)="docsChanged($event)"
                  *ngIf='docsArray'>
                  <option *ngFor='let item of docsArray' value='{{item?.document_proof_id}}'>
                    {{item?.document_proof_name}}</option>
                </select>
              </div>

              <div class="col-md-3">
                <h5>Documents Type</h5>
                <select class="chosen-select-no-single" tabindex="25" id="documentType" *ngIf='docsArray'
                  (change)="docsTypeChanged($event)">
                  <option *ngFor='let item of docsArray[selectedDocIndex]?.docType'
                    value='{{item?.document_proof_type_id}}'>
                    {{item.document_proof_type_name}}</option>
                </select>
              </div>


              <div class="col-md-4">
                <h5>Upload File</h5>
                <input id='upload_documents' type="file" accept=".pdf, image/*, .doc, .docx"
                  (change)="onFileChange($event)">
              </div>

              <!-- <div class="col-md-3" style="margin-top:43px;">
                <button class="button border" (click)="uploadDocs()" [disabled]='isLoading'
                  [ngStyle]="{'cursor': isLoading ? 'progress' : 'pointer'}">
                  <i class="fa fa-spinner fa-pulse fa-1x fa-fw fa fa-upload" *ngIf='isLoading'></i>Upload</button>
                <div *ngFor="let file of docsDataFiles">
                  <p>{{file}}</p>
                </div>
              </div> -->

            </div>

            <div class="col-md-3">    </div>

            <div class="col-md-3">    </div>

            <div class="col-md-3">
              <p>Note: File size limit is 5MB</p>
            </div>

          </div>

          <!-- <div class="card text-center" >
            <div class="card-content">
              <div class="card-body">
                <img src='./assets/images/no_data.png' style='width: 100px' />
                <h4 class="card-title success">No Data available</h4>
              </div>
            </div>
          </div> -->

          <div class="row" style="margin-top: 5%">
            <div class="card text-center" *ngIf='isLoading===true'>
              <div class="card-content">
                <div class="card-body">
                  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                  Uploading....
                </div>
              </div>
            </div>

            <div class="card text-center" *ngIf='documentsArrayMatrix.length === 0 && isLoading ===false'>
              <div class="card-content">
                <div class="card-body">
                  <img src='./assets/images/no_data.png' alt="no data" style='width: 100px' />
                  <h4 class="card-title success">No Data available</h4>
                </div>
              </div>
            </div>
          </div>

          <div class='row'>
            <div class="col-md-12">
              <div class="row" *ngFor='let row of documentsArrayMatrix; let i=index'>
                <div class="col-md-3" *ngFor='let item of row; let k=index'>
                  <center>
                    <h3 class="doc-head">{{item?.document_proof_name}}</h3>
                  </center>
                  <div class="agent">
                    <div class="agent-avatar" style="height: 15rem;">
                      <a href="{{getDocumentFileImageUrl(item)}}" target='_blank'>
                        <img src="{{getDocumentFileImage(item)}}" alt="document">
                        <span class="view-profile-btn"><i class="fa fa-eye"></i></span>
                      </a>
                    </div>
                  </div>

                  <center>
                    <button (click)='deletePropertyDocument(item,i,k)' class="button border"><i
                        class="fa fa-trash"></i></button>
                  </center>
                </div>
              </div>
            </div>
          </div>


          <!-- <div class="row" *ngFor="let row of docsGrid; let i = index;" >
              <div class="column thumb-images-container" *ngFor="let item of row; let k = index;" >
                <img [src]="item" alt="Snow" style="width:100%" class='thumb-img'>
                <div class="middle">
                   <div class="text">Delete</div>
                </div>
              </div>
          </div> -->
          <br><br>
          <!-- *ngIf='(isAddProperty===true || propertyData?.HW_status==="Pending" && documentsArray?.length>0)' -->
          <div>
            <hr>
            <button [disabled]='this.documentsArrayMatrix.length === 0 || isLoading===true'
              [ngStyle]="{'cursor': this.documentsArrayMatrix.length>0 ? 'pointer' : 'default'}"
              [ngClass]="{ 'disable-button': this.documentsArrayMatrix.length === 0}" type="button"
              class="button border right" (click)='updatePropertyCompleteStatus()'>
              Finish
            </button>
            &nbsp;
            <button [disabled]='isLoading===true' *ngIf='this.documentsArrayMatrix.length===0' type="button"
              class="button border right skip" (click)='skipDocTab()'>
              Skip
            </button>


          </div>
        </div>
      </div>

    </div>
  </div>




</div>




<div id="backtotop"><a style="cursor: pointer" (click)="gotoTop()"></a></div>