.error {
    border-color: red !important;
}

.errorTOS {
    border: 1px solid red;
}

/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */

.tab button:not(.disable):not(.active):hover {
    background-color: #ddd;
}

.tab button.disable {
    color: #00000050;
}

.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */

.tab button.active {
    background-color: #8cc63f;
}

/* Style the tab content */

.tabcontent {
    display: none;
}

.tab-info {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.thumb-images-container {
    position: relative;
    width: 200px;
    height: 200px;
}

.thumb-img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
}

.thumb-images-container:hover .thumb-img {
    opacity: 0.3;
}

.thumb-images-container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */

.row::after {
    content: "";
    clear: both;
    display: table;
}

table, th, td {
    border: 1px solid black;
    align-content: center;
    padding: 10px;
}

.pdf-view {
    width: 100px;
    height: 150px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: black;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: 4px solid #EF4136;
    border-bottom-color: transparent;
    font-size: 1.2em;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-size: 1.2em;
}

.right {
    float: right;
}

.disable-button {
    opacity: 0.8;
    background-color: #909090;
}

.skip {
    background-color: white !important;
    border: 1px solid;
    border-color: #8cc63f !important;
    color: #8cc63f !important;
}

.skip:hover {
    background-color: #8cc63f !important;
    color: white !important;
}

.checkboxes input[type=checkbox]:checked+label:before {
    content: "\f00c";
    font-family: "FontAwesome";
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 15px;
    background-color: #8cc63f;
    border: 2px solid transparent;
    transition: border-color 0s;
}

a:focus, a:hover {
    color: black;
}

.example-chip-list {
    width: 100%;
}

.doc-head {
    height: 5rem;
}
