<div class="container">
  <div class="col-md-6">
    <div class="row">
      <div class="style-2">
        <div class="col-md-12">
          <center>
            <h2>Owner</h2>
          </center>
        </div>

        <!-- Toggle 1 -->
        <div class="col-md-12">
          <div class="toggle-wrap">
            <span class="trigger "><a>How will housewise rent the property?
                <i class="sl sl-icon-plus"></i></a></span>
            <div class="toggle-container">
              <p>Refer to "How does it Works" page to understand the process flow.</p>
            </div>
          </div>
        </div>


        <!-- Toggle 2 -->
        <div class="col-md-12">
          <div class="toggle-wrap">
            <span class="trigger"><a>How will the deposit and
                monthly rental be taken care of?<i class="sl sl-icon-plus"></i> </a></span>
            <div class="toggle-container">
              <p>The tenant will transfer the security deposit as well as monthly rental to the owner's
                account.</p>
            </div>
          </div>
        </div>

        <!-- Toggle 3 -->
        <div class="col-md-12">
          <div class="toggle-wrap">
            <span class="trigger"><a>I stay abroad, how will the paperwork happen and agreements be
                signed?<i class="sl sl-icon-plus"></i> </a></span>
            <div class="toggle-container">
              <p>You can sign the documents by yourself or authorize the Housewise representative to sign the agreement
                and other papers on
                your behalf.</p>
            </div>
          </div>
        </div>

        <!-- Toggle 4 -->
        <div class="col-md-12">
          <div class="toggle-wrap">
            <span class="trigger"><a>What if If the house requires some repair, electrical or woodwork before, during,
                or after the tenant's stay? <i class="sl sl-icon-plus"></i> </a></span>
            <div class="toggle-container">
              <p>No problem. Housewise has partnered with professional services. We will arrange a reasonable quotation
                and share with owner. If the owner approves, we will ensure completion of quality work.</p>
            </div>
          </div>
        </div>

        <!-- Toggle 5 -->
        <div class="col-md-12">
          <div class="toggle-wrap">
            <span class="trigger"><a>What if tenant decides to leave midway through the lease?<i
                  class="sl sl-icon-plus"></i> </a></span>
            <div class="toggle-container">
              <p>No problem. Housewise completes the formalities of vacating the apartment and
                hunt for the new tenant.</p>
            </div>
          </div>
        </div>

        <!-- Toggle 6 -->
        <div class="col-md-12">
          <div class="toggle-wrap">
            <span class="trigger"><a>What if tenant refuses to leave?<i class="sl sl-icon-plus"></i> </a></span>
            <div class="toggle-container">
              <p>Housewise research team has spent time in creating foolproof legal framework. The contract will
                safeguard the interest of house owner and the tenant will never
                have any tenancy rights. In the worst case scenario, Housewise will take legal help to get the apartment
                evacuated.</p>
            </div>
          </div>
        </div>





        <!-- Toggle 7 -->
        <div class="col-md-12">
          <div class="toggle-wrap">
            <span class="trigger"><a>What if the tenant damages the property?<i class="sl sl-icon-plus"></i> </a></span>
            <div class="toggle-container">
              <ol>
                <li>Housewise does inspection before the termination of lease?</li>
                <li>Housewise assess and quantify damages, if any.</li>
                <li>Housewise communicates with both tenant and house owner and advises the amount required to fix the
                  damages.</li>
                <li>House owner transfers the deposit to tenant after deducting damages.</li>
              </ol>
            </div>
          </div>
        </div>


        <!-- Toggle 8 -->
        <div class="col-md-12">
          <div class="toggle-wrap">
            <span class="trigger"><a>What services are provided by Housewise?<i class="sl sl-icon-plus"></i> </a></span>
            <div class="toggle-container">
              <p>Please refer to page "Services" to know about our services in detail.
                If you are a Tenant, please refer to page "Tenant Services".</p>
            </div>
          </div>
        </div>


        <!-- Toggle 9 -->
        <div class="col-md-12">
          <div class="toggle-wrap">
            <span class="trigger"><a>Who can contact Housewise? <i class="sl sl-icon-plus"></i> </a></span>
            <div class="toggle-container">
              <p>Anyone who is looking to rent out his property in a city other than the city of residence or anyone
                who stay abroad and own a property in India, can contact Housewise. Anyone looking for a house to stay
                can also contact Housewise.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">


      <!-- Toggles Container -->
      <div class="style-2">
        <div class="col-md-12">
          <center>
            <h2>Tenant</h2>
          </center>
        </div>
        <!-- Toggle 1 -->
        <div class="col-md-12">
          <div class="toggle-wrap">
            <span class="trigger "><a>Why should I go to Housewise?<i class="sl sl-icon-plus"></i></a></span>
            <div class="toggle-container">
              <p>For professional, fair and transparent dealing which is either minimal or completely
                missing
                while dealing with brokers.</p>
            </div>
          </div>
        </div>


        <!-- Toggle 2 -->
        <div class="col-md-12">
          <div class="toggle-wrap">
            <span class="trigger"><a>Will I receive the deposit in
                a fair way at the end of tenancy?<i class="sl sl-icon-plus"></i> </a></span>
            <div class="toggle-container">
              <p>Housewise does an objective assessment of the property before the start and after the completion of
                lease. Any damage is
                assessed and the feedback is shared with both the tenant as well as owner. No damage - No deduction in
                the
                deposit.</p>
            </div>
          </div>
        </div>

        <!-- Toggle 3 -->
        <div class="col-md-12">
          <div class="toggle-wrap">
            <span class="trigger"><a>How will Housewise take care of the documentation? <i class="sl sl-icon-plus"></i>
              </a></span>
            <div class="toggle-container">
              <p>Housewise has tied up with professional companies for agreement preparation.
                The tenant will have a hassle
                free experience.</p>
            </div>
          </div>
        </div>

        <!-- Toggle 4 -->
        <div class="col-md-12">
          <div class="toggle-wrap">
            <span class="trigger"><a>Who can contact Housewise?<i class="sl sl-icon-plus"></i> </a></span>
            <div class="toggle-container">
              <p>Anyone who is looking for an apartment to live - Working bachelors, Students, Families.</p>
            </div>
          </div>
        </div>

        <!-- Toggle 5-->
        <div class="col-md-12">
          <div class="toggle-wrap">
            <span class="trigger"><a>How much will Housewise
                charge?<i class="sl sl-icon-plus"></i> </a></span>
            <div class="toggle-container">
              <p>Please contact the customer care via email/phone to obtain a quote.</p>
            </div>
          </div>
        </div>

        <!-- Toggle 6-->
        <div class="col-md-12">
          <div class="toggle-wrap">
            <span class="trigger"><a>I stay abroad, how will the paperwork
                happen and agreements be signed?<i class="sl sl-icon-plus"></i> </a></span>
            <div class="toggle-container">
              <p>You can sign the documents by yourself or authorize the Housewise representative
                to sign the agreement and other papers
                on your behalf.</p>
            </div>
          </div>
        </div>





        <!-- Toggle 7-->
        <div class="col-md-12">
          <div class="toggle-wrap">
            <span class="trigger"><a>What if If
                the house requires some repair, electrical or woodwork before, during, or after the tenant's
                stay?<i class="sl sl-icon-plus"></i> </a></span>
            <div class="toggle-container">
              <p>No problem. Housewise has partnered with professional services. We will arrange a
                reasonable quotation and share with owner. If the owner approves, we will ensure
                completion of quality work</p>
            </div>
          </div>
        </div>


        <!-- Toggle 8 -->
        <div class="col-md-12">
          <div class="toggle-wrap">
            <span class="trigger"><a>What are the Bank details of Housewise? <i class="sl sl-icon-plus"></i> </a></span>
            <div class="toggle-container">
              <p>HOUSEWISE SERVICES PVT LTD<br>
                Bank : ICICI Bank, Baner Road, Pune<br>
                A/C No : 098505003728<br>
                IFSC Code : ICIC0000985</p>
            </div>
          </div>
        </div>


        <!-- Toggle 9 -->
        <div class="col-md-12">
          <div class="toggle-wrap">
            <span class="trigger"><a>How can I search properties on Housewise? <i class="sl sl-icon-plus"></i>
              </a></span>
            <div class="toggle-container">
              <p>In order to search properties, signup on our portal & start to search properties as per your liking.
                You can then mark properties of your choice as "Interested", you will subsequently hear
                from our representative.</p>
            </div>
          </div>
        </div>



        <!-- Toggle 10 -->
        <div class="col-md-12">
          <div class="toggle-wrap">
            <span class="trigger"><a>Is there a charge to the tenant?
                <i class="sl sl-icon-plus"></i> </a></span>
            <div class="toggle-container">
              <p>There is one time fees charges to the tenant.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div id="backtotop"><a style="cursor: pointer" (click)="gotoTop()"></a></div>