<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<center>
					<h1>Blogs</h1>
				</center>
			</div>
		</div>
	</div>
</div>

<div class="card text-center" *ngIf='loadingList===true'>
	<div class="card-content">
		<div class="card-body">
			<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
		</div>
	</div>
</div>



<div class="container" style="margin-bottom: 20px" *ngIf='searchString'>
	<div class="row">
		<hr>
		<h3> Showing for: {{searchString}} &nbsp;&nbsp;
			<a style="cursor: pointer; color: red" class="delete" (click)="clearSearchString()"><i
					class="fa fa-remove"></i>clear</a></h3>
		<hr>
	</div>
</div>



<div class="container" style="margin-top:0px;">

	<!-- Blog Posts -->
	<div class="blog-page">
		<div class="row">
			<div class="card text-center col-md-8" *ngIf='dataError===true' style="margin-top: 10rem">
				<div class="card-content">
					<div class="card-body">
						<img src='./assets/images/no_data.png' alt="No data" style='width: 100px' />
						<h4 class="card-title success">No Data available</h4>
					</div>
				</div>
			</div>
			<div class="col-md-8" *ngIf="(!isSearchResult || searchString==='') && dataError===false">
				<div class="blog-post" *ngFor='let blog of blogData'>
					<img *ngIf="blog?.image && blog?.image!=''" style="width: 100%; margin: 10px;" src="{{blog?.image}}"
						alt="blog image">
					<div class="post-content">
						<h3>{{blog.title}}</h3>
						<!-- <h4>{{blog.sub_title}}</h4> -->
						<p class="content-data" [innerHtml]="blog?.text" style="max-height: 175px; overflow: hidden;"></p>
						<!-- <p class="content-data" [innerHtml]="getSafeHtml(blog?.text)" style="max-height: 180px; line-height: 1.5em; overflow: hidden;"></p> -->
						<a style="cursor: pointer" class="read-more" (click)='goToBlogDetails(blog)'>Read More <i
								class="fa fa-angle-right"></i></a>
					</div>
				</div>

				<!-- <div class="blog-post">
					<img src="../../assets/images/blog-post-02a.jpg" alt="">
					<div class="post-content">
						<h3>Hire a property management company</h3>
						<h4>When Should A Landlord Hire A Rental Property Management Company?</h4>

						<p>One of the most significant decisions you will make as a property-owner is if you must employ
							the Property management services for NRI. For a good number of property-owners, there comes
							the point when you find yourself wondering, "When should a landlord hire a rental property
							management company?" Even though it is possible to handle your property
							on your own, there are quite a lot of conditions when employing Property management services
							for NRI makes
							sense. </p>

						<a class="read-more">Read More <i class="fa fa-angle-right"></i></a>
					</div>

				</div>

				<div class="blog-post">
					<img src="../../assets/images/blog-post-03a.jpg" alt="">
					<div class="post-content">
						<h3>Property Management for NRI:</h3>
						<h4>What to Do a Year Before Buying Apartment</h4>
						<p>Housewise is single stop company for every Non Resident-Indian who want to manage their end
							to end property. We are a team of professionals ensuring
							complete property management from rental fee management to finding tenant, police
							verification and maintenance. </p>
						<a class="read-more">Read More <i class="fa fa-angle-right"></i></a>
					</div>
				</div>

				<div class="blog-post">
					<img src="../../assets/images/blog-post-03a.jpg" alt="">
					<div class="post-content">
						<h3>A Guide to sign a Contract in Pune</h3>
						<h4>A Guide to sign a Contract with Property Management Company in Pune 2019:</h4>
						<p>A property management contract is an agreement between a property holder and the property
							Management Company or individual employed to handle the property. This agreement covers all
							of the tasks that a property management company in Pune is taking on for the landlord. And
							factually, this agreement does more than merely clearing up the
							responsibilities both parties would maintain. Furthermore, it covers the officially
							authorized liabilities
							as well.</p>

						<a class="read-more">Read More <i class="fa fa-angle-right"></i></a>
					</div>

				</div>

				<div class="blog-post">
					<img src="../../assets/images/blog-post-03a.jpg" alt="">
					<div class="post-content">
						<h3>Resolve the Rental Dispute With Bad Tenant</h3>
						<h4>Seven Take On Steps To Resolve The Rental Dispute With a Bad Tenant</h4>
						<p>As soon as you decide to turn into a landowner, you'll need to be all set for rental disputes
							that, as you might expect, will arise with your new tenants. Being geared up will help you
							avoid being caught uninformed by a rental dispute with a bad tenant.Landlord-tenant
							rental disputes can turn out to be spiteful in no time. A renter might say no to pay
							rental fee anytime. </p>

						<a class="read-more">Read More <i class="fa fa-angle-right"></i></a>
					</div>
				</div>

				<div class="blog-post">
					<img src="../../assets/images/blog-post-03a.jpg" alt="">
					<div class="post-content">
						<h3>The Difference Between Rental Agreement and Leave & License Agreement</h3>
						<h4>Why Leave and License Agreement for House Owners Is Beneficial Compared To Normal Rent
							Agreement?</h4>
						<p>Squatters are the most horrible nightmarish for each property owner. As having possession of
							their real estate is out of reach for a massive number of folks, time and again, we hear
							stories of renters unlawfully occupying significant properties. If the squatter declines to
							check out of your property, as a rule, it translates into a prolonged court clash or an
							out-of-court agreement arrived at on terms that
							might not necessarily be approving to you. However, worry not as we have a way out: Leave
							and License Agreement. </p>

						<a class="read-more">Read More <i class="fa fa-angle-right"></i></a>
					</div>
				</div>

				<div class="blog-post">
					<img src="../../assets/images/blog-post-03a.jpg" alt="">
					<div class="post-content">
						<h3>Financial planning</h3>
						<h4>Best Investment Plans for NRIs in India | Housewise</h4>
						<p>For the NRIs who stays and works in a foreign country, the major trouble is where to invest
							the hard earned cash. You principally have two choices - should you spend it overseas where
							you and your family is settled at present, or should you invest it in India, which is home
							for the complete family. This puzzlement arises from the fact that a Non-Resident Indian
							cannot stay out of the country forever. Moreover, the tax policies in the in a foreign
							country could very well put you in a detrimental state of affairs if you choose to endow
							in the markets there. </p>

						<a class="read-more">Read More <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
				 -->

				<div class="clearfix"></div>

				<div class="pagination-container" *ngIf='dataError==false || loadingList==false'>
					<nav class="pagination">
						<ul>
							<li *ngFor='let pageNumber of paginationArray' (click)="changePage(pageNumber)"><a
								style="cursor: pointer"	[ngClass]="{ 'current-page': currentPage===pageNumber}">{{pageNumber}}</a></li>
						</ul>
						<!-- <ul>
							<li><a class="current-page">1</a></li>
							<li><a>2</a></li>
							<li><a>3</a></li>
						</ul> -->
					</nav>

					<nav class="pagination-next-prev">
						<ul>
							<li *ngIf='dataError===false && currentPage>1 && searchString===""'
								(click)='previousPage()'><a class="prev" style='cursor: pointer;'>Previous</a></li>
							<li *ngIf='dataError===false && currentPage<paginationArray.length && pageCount>1'
								(click)='nextPage()' style='cursor: pointer;'><a class="next">Next</a></li>
						</ul>
						<!-- <ul>
							<li><a class="prev">Previous</a></li>
							<li><a class="next">Next</a></li>
						</ul> -->
					</nav>
				</div>

				<div class="clearfix"></div>

			</div>

			<div class="col-md-8" style="margin-bottom: 100%" *ngIf="isSearchResult ">
				<p>{{errMessage}}</p>
			</div>

			<div class="col-md-4">
				<div class="sidebar right">

					<div class="widget">
						<h3 class="margin-top-0 margin-bottom-25">Search Blog</h3>
						<div class="search-blog-input">
							<div class="input">
								<input id="search" class="search-field" type="text" placeholder="Type and hit enter"
									[(ngModel)]="searchString" (keyup.enter)="searchBlog()" (keyup)="clearBlog()"
									autocomplete="off">
							</div>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="widget">
						<h3>Got any questions?</h3>
						<div class="info-box margin-bottom-10">
							<p>If you are having any questions, please feel free to ask.</p>
							<a class="button fullwidth margin-top-20" (click)="goToContactUs()"><i
									class="fa fa-envelope-o"></i> Drop Us a Line</a>
						</div>
					</div>

					<div class="widget">

						<h3>Popular Posts</h3>
						<div class="card text-center" *ngIf='dataError===true'>
							<div class="card-content">
								<div class="card-body">
									<img src='./assets/images/no_data.png' alt="No data" style='width: 100px' />
									<h4 class="card-title success">No Data available</h4>
								</div>
							</div>
						</div>
						<ul class="widget-tabs" *ngFor='let popularBlog of popularBlogs'>

							<!-- Post #1 -->
							<li *ngIf='dataError===false'>
								<div class="widget-content">
									<div class="widget-thumb">
										<a *ngIf="popularBlog?.image && popularBlog?.image!=''"><img
												src="{{popularBlog?.image}}" alt="popular blog image"></a>
										<a *ngIf="!popularBlog?.image && popularBlog?.image===''"><img
												src="./assets/images/logohw.png" alt="popular blog image"></a>

									</div>

									<div class="widget-text">
										<h5><a style="cursor: pointer"
												(click)='goToBlogDetails(popularBlog)'>{{popularBlog.sub_title}} </a>
										</h5>
										<span>{{ popularBlog.created_date | date }}</span>
										<!-- October 26, 2016 -->
									</div>
									<div class="clearfix"></div>
								</div>
							</li>

							<!-- Post #2
							<li>
								<div class="widget-content">
									<div class="widget-thumb">
										<a><img src="../../assets/images/blog-widget-02.jpg" alt=""></a>
									</div>

									<div class="widget-text">
										<h5><a>Bedroom Colors You'll Never Regret</a></h5>
										<span>November 9, 2016</span>
									</div>
									<div class="clearfix"></div>
								</div>
							</li>

							Post #3
							<li>
								<div class="widget-content">
									<div class="widget-thumb">
										<a><img src="../../assets/images/blog-widget-01.jpg" alt=""></a>
									</div>

									<div class="widget-text">
										<h5><a>8 Tips to Help You Finding New Home</a></h5>
										<span>November 12, 2016</span>
									</div>
									<div class="clearfix"></div>
								</div>
							</li> -->

						</ul>

					</div>

					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>

</div>

<div id="backtotop"><a style="cursor: pointer" (click)="gotoTop()"></a></div>