<form [formGroup]="loginForm" class="login">
  <div *ngIf='!invalidUrl'>
    <div class="row">
      <label *ngIf='userData' style='font-weight: 900 !important;'>Hello,
        {{userData?.first_name}}&nbsp;{{userData?.last_name}}
      </label>
    </div><br>

    <div class="row">
      <label for="password">New Password:
        <i class="im im-icon-Lock-2"></i>
        <input type="password" class="form-control" formControlName="password" id="password" tabindex="2" required
          [ngClass]="{'error': control?.password?.invalid && isSubmitted===true}">
      </label>
    </div>
    <div class="row">
      <span *ngIf="control?.password?.invalid && isSubmitted===true">
        <p class="err-msg" *ngIf="control?.password?.errors?.required"> Password should not be blank</p>
        <p class="err-msg" *ngIf="!control.password.errors.required && control?.password?.invalid">Password should have
          minimum 6 characters </p>
      </span>
    </div>


    <div class="row">
      <label for="password"> Confirm Password:
        <i class="im im-icon-Lock-2"></i>
        <input type="password" class="form-control" formControlName="confirmPassword" id="password" tabindex="2"
          required
          [ngClass]="{'error': (control?.confirmPassword?.invalid || password_match_error===true) && isSubmitted===true}">
      </label>
    </div>
    <div class="row">
      <span *ngIf="(control?.confirmPassword?.invalid || password_match_error===true) && isSubmitted===true">
        <p class="err-msg" *ngIf="control?.confirmPassword?.errors?.required"> Password should not be blank</p>
        <p class="err-msg" *ngIf="!control?.confirmPassword?.errors?.required && password_match_error">Password should
          be same</p>
      </span>
    </div>

    <div class="row">
      <button type="button" class="button border" (click)="onSubmit()" [disabled]='isLoading'
        [ngStyle]="{'cursor': isLoading ? 'progress' : 'pointer'}">
        <i class="fa fa-spinner fa-pulse fa-1x fa-fw" *ngIf='isLoading'></i> Submit</button>
    </div>
  </div>
  <div *ngIf='invalidUrl'>
    <div class="row">
      <label style='color: red'>URL is expired, please try again!
      </label>
    </div>
  </div>
</form>