<div class="container" style="margin-top: 100px;">

  <div class="card text-center" *ngIf='loadingList===true'>
    <div class="card-content">
      <div class="card-body">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
    </div>
  </div>
  <div class="card text-center" *ngIf='dataError===true'>
    <div class="card-content">
      <div class="card-body">
        <img src='./assets/images/no_data.png' alt="no data" style='width: 100px' />
        <h4 class="card-title success">No Data available</h4>
      </div>
    </div>
  </div>

  <div class="row" *ngIf='listGrid'>
    <div class="col-md-6 right_section" *ngFor='let column of listGrid'>
      <table class="manage-table responsive-table">
        <tr>
          <th style="background-color: #8dc63f"><i class="fa fa-file-text"></i>My Properties</th>
          <th style="background-color: #8dc63f">Actions</th>
        </tr>
        <tr *ngFor='let row of column'>
          <td class="title-container">
            <a style="cursor: pointer" [routerLink]="['/user/detail-page', row?.id]">
              <img src="{{getImageUrl(row)}}" alt="property image" style="float:left;height: 80px;width: 50%;">
              <div class="title" style="float:left;">
                <h4 style='color:black'>{{row.features.bedrooms}} BHK Apartment</h4>
                <span style='height: 50px; overflow: auto; '>
                  {{getAddress(row?.details)}}
                </span>
                <span class="table-property-price"><i class="fa fa-inr"></i>
                  {{row.preference.exptRent}}/Month</span>
              </div>
            </a>
          </td>
          <td class="action">
            <!-- <a style="cursor: pointer" class="interested delete1" (click)="interestedProperty(row.id)"><i
                class="fa fa-heart"></i>Interested</a> -->
            <div class="row">
              <button (click)='shorlistInterestedProperty(row,row.id, "interested")' class="interested-button widget-button with-tip"
                data-tip-content="Add to interested property" [disabled]="isLoading"
                [ngStyle]="{'cursor': isLoading ? 'progress' : 'pointer'}">
                <i class="fa fa-spinner fa-pulse fa-1x fa-fw" *ngIf='isLoading && interestedLoading'></i> <i id="Thumbs" class="fa fa-heart white"></i>
                Express Interest
              </button>
            </div>
            <div class="row" style='margin-left: 3em; margin-top:0.8em '>
              <a style="cursor: pointer" class="delete" (click)="shortListProperty(row.id)" [disabled]="isLoading"
              [ngStyle]="{'cursor': isLoading ? 'progress' : 'pointer'}">
              <i class="fa fa-spinner fa-pulse fa-1x fa-fw" *ngIf='isLoading && isRemoving'></i> <i class="fa fa-remove"></i>Remove</a>
            </div>


          </td>
        </tr>
      </table>
    </div>
  </div>
</div>