/* Border Button Style */
a.button.border:before { display: none; }

a.button.border {
	background-color: transparent;
	color: #8dc63f;
	border: 1px solid #8dc63f;
	padding: 9px 19px;
}



a.button.border:hover {
	background-color: #8dc63f;
	color: #fff;
	opacity: 1;
}
a.button.border.reject:hover {
	background-color:#ef453a;
	border:1px solid #ef453a;
	color: #fff;
	opacity: 1;
}

a.button.border.white {
	border-color: #fff;
	color: #fff;
}

a.button.border.white:hover {
	background-color: #fff;
	color: #8dc63f;
}

/* Full Width button */
button.button.fullwidth,
a.button.fullwidth {
	width: 100%;
	text-align: center;
}

a.button.white.border:hover { color: #333; }

.button i { padding-right: 4px; }
