<div class="container">
	<div class="col-md-12">
		<h2 data-aos="zoom-in" data-aos-duration="1500">
			<center>Why Housewise?</center>
		</h2>
		<center>
			<p>Transparent, seamless, trustworthy and cost effective Property Management Solutions to Indians around the
				globe.</p>
		</center><br>
		<div class="row">
			<div class="col-md-4">
				<img src="./assets/images/why.png" alt="why image" height="240px" width="240px">
			</div>
			<div class="col-md-4">
				<ul style="text-align: justify">
					<li>Professional relationship with interactive Portal</li><br>
					<li>Founders are Professionals with decades of Corporate Experience</li><br>
					<li>Advisory Board of Seasoned Business Leaders</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul style="text-align: justify">
					<li>Well experienced Operational Staff</li><br>
					<li>Commenced operation in Pune & Bengaluru in 2015. Launched Hyderabad in 2016, Gurugram, Chennai
						and Noida in 2017, Mumbai
						in 2018, Delhi in 2019.</li><br>
					<!-- <li>60 valued Owner Partners and growing...</li> -->
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container" style="margin-top:50px;">
	<div class="col-md-12">
		<h2 data-aos="zoom-in" data-aos-duration="1500">
			<center>Vision/Mission</center>
		</h2><br><br>

		<div class="row">
			<div class="col-md-6">
				<h4 data-aos="zoom-in" data-aos-duration="1700" style="color:#8dc63f">Our Vision</h4>
				<p style="text-align: justify">To be recognized as a Global benchmark for management of Property in
					India</p>

				<h4 data-aos="zoom-in" data-aos-duration="1700" style="color:#8dc63f">Our Mission</h4>
				<p style="text-align: justify">To Provide transparent, seamless, trustworthy and cost effective Property
					Management Solutions to
					Indians
					around the globe.</p>
			</div>
			<div class="col-md-6">
				<center><img src="./assets/images/vision-mission.png" alt="vision-mission"></center>
			</div>
		</div>
	</div>
</div>



<div class="container" style="box-shadow:0 0 4px #ccc;margin-top: 50px; margin-bottom: 60px;">
	<div [ngClass]="{'show-more': showMore===true}">
		<h4 class="desc-headline" style="background-color:#8dc63f; color:#fff;padding:20px;">PROFESSIONAL RENTAL
			MANAGEMENT COMPANY IN INDIA- PUNE, BENGALURU, HYDERABAD, GURUGRAM, NOIDA, CHENNAI, MUMBAI</h4>

		<p style="text-align: justify">Your house or your property is that single thing which ties you back to your
			motherland. For that reason,
			scrutinizing
			the needs for rental property management services in India HOUSEWISE feels privileged to present the
			residential
			property management in India for NRIs to offer the support and assistance you need every time you are away,
			by taking
			care of your property.</p>


		<p style="text-align: justify">If you have often been thinking that, you would not be able to hit upon
			outstanding and dependable rental
			management
			solutions in India, HOUSEWISE is bound to change your point of view. We have constructed a network that not
			just
			fulfills all present-day needs of residential property management in India but also promises satisfaction to
			all our
			clients and partners.</p>

		<span style="font-weight: bold;"><u>
				<p style="text-align: justify">Benefits of hiring HOUSEWISE residential property management in India
					forNRI</p>
			</u></span>

		The HOUSEWISE rental management solutions in India offer loads of benefits to the property holders.
		<ul style="text-align: justify">
			<li>We take care of your property as our own, thus, conveying excellent service quality.</li>
			<li>We have a robust system that allows us to be accessible 24/7 and 365 days of the year. A committed team
				is approachable 24/7 to resolve any security issues on the subject of your house or property.</li>
			<li>Right from cleaning, maintenance, and repairs to usual fixes in the property, we will take care of the
				whole thing to keep your property in the best possible condition. Our property management services for
				NRI also take account of property insurance.</li>
			<li>We possess years of experience in the real estate industry. As a result, we are on familiar terms with
				authorized and above-board systems like the back of our hand.</li>
			<li>Contrasting to the brokers, we certificate and update our rental procedures online. We make sure that
				you get a reasonable and best possible rent for your property.</li>
			<li>We carry out police verification of all the renters as well. Their identification and address
				verification are made available to you on our website
			</li>
			<li>We put up with by the regulations and apply the only principled code of conduct in the industry. That
				means we follow all the set of laws and regulations governing the rental property management services in
				India.
			</li>
			<li>We watch out about paying the bills, dues and other taxes so that you do not ever get interrupted by the
				leftovers of those expenses.
				You will not have to hassle about collecting the rental fees and payments from your rental units as we
				will do that for you come what may.</li>
		</ul>

		<span style="font-weight: bold;"><u>Why trust HOUSEWISE rental management solutions in India?</u>
		</span><br><br>

		<p style="text-align: justify">HOUSEWISE rental management solutions in India is the right place for you as we
			are entirely committed to
			meet your needs to manage a
			property in India while you are overseas. Our rental property management services in India are the most
			beautiful colored feathers in
			our hat. Hiring us would turn out to be an ideal and worthwhile choice to save not just your energy and
			time, but it would save you
			substantial wealth and legal concerns, as well. Our word is our irrevocable promise to you, and we factually
			put up with by the promises
			that we make. Our commitment to you will, on no account, come under any question. </p>

		<a (click)='toggleShowMoreClass()' class="show-more-button" style="margin-bottom:5px; cursor: pointer"
			*ngIf="showMore"><u>Show
				More</u> <i class="fa fa-angle-down"></i></a>
	</div>
</div>

<div id="whatsapp-float-icon" class="whatsapp-web-link">
	<a style="cursor: pointer"
		href="https://web.whatsapp.com/send?phone=+917755910850&text=Hi,%20I%20contacted%20you%20Through%20your%20website."
		target="_blank"><img src="./assets/images/whatsapp2.png" alt="whatsapp icon"></a>
</div>

<div id="whatsapp-float-icon" class="whatsapp-api-link">
	<a style="cursor: pointer"
		href="https://api.whatsapp.com/send?phone=+917755910850&text=Hi,%20I%20contacted%20you%20Through%20your%20website."
		target="_blank"><img src="./assets/images/whatsapp2.png" alt="whatsapp icon"></a>
</div>

<div id="backtotop"><a style="cursor: pointer" (click)="gotoTop()"></a></div>