#whatsapp-float-icon {
  position: fixed;
  right: 0;
  display: block;
  bottom: 120px;
  z-index: 999;
}

#whatsapp-float-icon a {
  text-decoration: none;
  border: 0 none;
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  opacity: 1;
  transition: all 0.3s;
  border-radius: 3px;
  text-align: center;
  font-size: 45px
}

body #whatsapp-float-icon a {
  color: #8cc63f;
}

#whatsapp-float-icon a:after {
  font-family: "FontAwesome";
  position: relative;
  display: block;
  top: 45%;
  -webkit-transform: translateY(-55%);
  transform: translateY(-55%);
}

@media (max-width: 991px) {
  #whatsapp-float-icon {
    position: fixed;
    right: 0;
    display: block;
    bottom: 26rem;
    z-index: 999;
  }
}

/* To change whatsapp link */
@media (max-width:767px) {
  .whatsapp-api-link {
    display: inline-block !important;
  }

  .whatsapp-web-link {
    display: none !important;
  }
}

@media (min-width:768px) {
  .whatsapp-api-link {
    display: none !important;
  }

  .whatsapp-web-link {
    display: inline-block !important;
  }
}