<header id="header-container header-pos">
  <div class="clearfix"></div>
  <div id="header" class="d-none d-md-block">
    <div class="container-fluid" style="margin: 0px 12px 0px 62px;padding-right: 0px;">

      <div class="left-side">
        <div id="logo">
          <a [routerLink]="['/']"><img class="logo" src="assets/images/logohw.png" alt="logo" width="90px"
              height="70px;" /></a>
        </div>

        <nav id="navigation" class="style-1" style="margin-top:6px;">
          <ul id="responsive">
            <li *ngFor="let item of Menu" (click)='changeMenu(item)'
              [ngClass]="{'active':selectedHeaderName===item.name}">
              <a style="cursor: pointer" (click)="scrollTo(item.name)" id="{{ item.name }}"
                routerLinkActive="router-link-active">{{ item.name }}</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="right-side" style="margin-top:6px;">
        <div class="header-widget" *ngIf="!showUser">
          <a [routerLink]="['/auth/login']" class="sign-in" (click)='selectedMenu("loginRegister")'
            [ngClass]="{'selected-menu {':selectedHeaderName==='loginRegister'}">
            <i class="fa fa-user "></i>Log In /
            Register
          </a>
          <a [routerLink]="['/auth/login']" class="btn button border">Submit Property</a>
        </div>
        <div class="header-widget" *ngIf="showUser">
          <div class="user-menu" [ngClass]="{ active: usermenu }" (click)="toggleuser()"
            (clickOutside)="closeUserMenu($event)">
            <div class="user-name" style="font-size:14px;">
              <span class='circle'>{{getUserInitial()}}</span>Hi, {{userName}}
            </div>

            <ul>
              <li style="font-size:14px;">
                <a [routerLink]="['/user/profile']" routerLinkActive="router-link-active"><i
                    class="sl sl-icon-user"></i>My Profile</a>
              </li>
              <li style="font-size:14px;">
                <a [routerLink]="['/user/change-password']" routerLinkActive="router-link-active"><i
                    class="sl sl-icon-key"></i>Change
                  Password</a>
              </li>
              <li style="font-size:14px;">
                <a (click)="onLogout()" routerLinkActive="router-link-active"><i class="sl sl-icon-power"></i>Log
                  Out</a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="header" class="d-none d-md-block cloned unsticky">
    <div class="container-fluid right-margin-container">

      <div class="left-side">
        <div id="logo">
          <a [routerLink]="['/']"><img class="logo" src="assets/images/logohw.png" alt="logo" width="50px"
              height="70px;" /></a>
        </div>

        <nav id="navigation" class="style-1" style="margin-top:6px;">
          <ul id="responsive">
            <li *ngFor="let item of Menu" (click)='changeMenu(item)'
              [ngClass]="{'active':selectedHeaderName===item.name}">
              <a style="cursor: pointer" (click)="scrollTo(item.name)" id="{{ item.name }}"
                routerLinkActive="router-link-active">{{ item.name }}</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="right-side" style="margin-top:6px; margin-right: 0px;">
        <div class="header-widget" *ngIf="!showUser">
          <a [routerLink]="['/auth/login']" class="sign-in hover-white" style="margin-right: 0px;">
            <i class="fa fa-user "></i>Log In /
            Register
          </a>
          <a [routerLink]="['/auth/signup']" class="btn button border">Submit Property</a>
        </div>
        <div class="header-widget" *ngIf="showUser">
          <div class="user-menu" [ngClass]="{ active: userMenuSticky }" (click)="toggleUserSticky()"
            (clickOutside)="closeUserStickyMenu($event)">
            <div class="user-name" style="font-size:14px; color: white">
              <span class='circle'>{{getUserInitial()}}</span>Hi,
              {{userName}}
            </div>
            <ul>
              <li style="font-size:14px;">
                <a [routerLink]="['/user/profile']" routerLinkActive="router-link-active"><i
                    class="sl sl-icon-user"></i>My Profile</a>
              </li>
              <li style="font-size:14px;">
                <a [routerLink]="['/user/change-password']" routerLinkActive="router-link-active"><i
                    class="sl sl-icon-key"></i>Change
                  Password</a>
              </li>
              <li style="font-size:14px;">
                <a (click)="onLogout()" routerLinkActive="router-link-active"><i class="sl sl-icon-power"></i>Log
                  Out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Mobile Navbar  Start-->
  <nav id='nav_header' class="navbar d-none d-sm-block navbar-inverse"
    style="margin:0; height:80px;   z-index: 9999;  width: 100%; text-align:center"
    (clickOutside)="closePhoneNav($event)">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand" style="padding: 0 30px">
          <a [routerLink]="['/']"><img src="./assets/images/logohw.png" alt="logo" width="90px"
              height="70px;" /></a>
        </div>
        <!-- <a class="">WebSiteName</a> -->
        <button id='toggle_nav' type="button" class="navbar-toggle" (click)='togglePhoneMenu()'
          style="margin: 20px 10px;">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div *ngIf='phoneNavToggle' class="collapse navbar-collapse mobile-navbar navbar-fixed-top in" id="myNavbar"
        style="margin-top: 7.5rem; width: 100% !important; margin-left: 0; ">
        <ul class="nav navbar-nav">
          <li *ngFor="let item of Menu" (click)='changeMenu(item)'
            [ngClass]="{'active':selectedHeaderName===item.name}">
            <a (click)="scrollTo(item.name)" id="{{ item.name }}" [routerLink]="item.url"
              routerLinkActive="router-link-active">{{ item.name }}</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="!showUser">
            <a (click)='togglePhoneMenu()' [routerLink]="['/auth/login']" class="sign-in">
              <i class="fa fa-user "></i>Log In /
              Register
            </a>
          </li>
          <li *ngIf="!showUser">
            <a (click)='togglePhoneMenu()' [routerLink]="['/auth/signup']" class="btn button border">Submit Property</a>
          </li>
          <div class="header-widget" *ngIf="showUser" style="text-align: center;">
            <div style="float: none" class="user-menu" [ngClass]="{ active: usermenuphone }"
              (click)="toggleUserMenuPhone()">
              <div class="user-name" style="font-size:14px; color: white">
                <span class='circle'>{{getUserInitial()}}</span>Hi,
                {{userName}}
              </div>
              <ul class='phone-menu-position'>
                <li style="font-size:14px;">
                  <a [routerLink]="['/user/profile']" routerLinkActive="router-link-active"
                    (click)='togglePhoneMenu()'><i class="sl sl-icon-user"></i>My
                    Profile</a>
                </li>
                <li style="font-size:14px;">
                  <a [routerLink]="['/user/change-password']" routerLinkActive="router-link-active"
                    (click)='togglePhoneMenu()'><i class="sl sl-icon-key"></i>Change
                    Password</a>
                </li>
                <li style="font-size:14px;">
                  <a (click)="onLogout()" routerLinkActive="router-link-active" (click)='togglePhoneMenu()'><i
                      class="sl sl-icon-power"></i>Log
                    Out</a>
                </li>
              </ul>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>

  <!--  Mobile Navbar End -->
</header>