#navigation.style-1 ul a {
    font-size: 15px;
    line-height: 32px;
    padding: 6px 12px;
    color: #65676b;
    font-weight: 700;
}

.sticky div#logo {
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 47%;
    background: white;
    height: 149px;
    position: absolute;
    margin-left: 0px;
    margin-right: 10px;
    width: 156px;
    top: -79px;
    border: 2px green solid;
    transform: rotateZ(45deg);
    left: 2.5em;
}

.sticky img.logo {
    margin-top: 65px !important;
    height: 60px;
    width: 78px;
    margin-left: 59px;
    transform: rotateZ(-45deg) !important;
}

div#header.cloned {
    color: white !important;
    background: #8cc63f;
    margin: 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 0 !important;
}

.sticky nav#navigation {
    margin-top: 6px;
    margin-left: 24%;
}

.sticky a.button.border {
    background-color: transparent;
    color: #ffffff !important;
    border: 1px solid #ffffff;
    padding: 9px 19px;
}

.sticky a.button.border,
.sticky .header-widget .sign-in {
    background-color: transparent;
    /* color: #ffffff !important; */
    border: 1px solid #ffffff;
    padding: 10px 15px;
}

.sticky .header-widget .sign-in {
    border: none !important;
}

.sticky #navigation.style-1 ul li a {
    color: white !important;
}

.sticky #navigation ul li a:active {
    border: 1px black solid !important;
}

.sticky #navigation ul li a:hover {
    border: 1px white solid !important;
}

.sticky #navigation ul li.active a {
    border: 1px white solid !important;
    color: white !important;
}

#navigation ul li.active {
    background-color: #8cc63f;
    color: white !important;
}

#navigation ul li.active a {
    background-color: #8cc63f;
    color: white !important;
}

#navigation ul li a:hover {
    background-color: #8cc63f;
    color: white
}

.user-name:hover {
    color: #8cc63f;
}

.selected-menu {
    color: #8dc63f !important;
}

.user-menu ul li a:hover {
    color: #8cc63f;
}

.header-widget .hover-white {
    color: white !important;
}

.header-widget .sign-in:hover {
    color: #8cc63f;
}

a.button.border:hover {
    background-color: #A3D067 !important;
    color: #fff;
    opacity: 1;
}

.hover {
    background-color: #A3D067 !important;
    color: #fff;
    opacity: 1;
}

.user-menu:hover .user-name:after {
    color: #8cc63f;
}

.sticky .user-menu .user-name:after {
    color: white;
}

.sticky .user-menu:hover .user-name:after {
    color: white;
}

.circle {
    display: inline-block;
    font-size: 1em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border-radius: 50%;
    background: #EF4137;
    vertical-align: middle;
    margin-right: 1em;
    color: white;
}

.center-vertical {
    vertical-align: middle !important;
}

.right-margin-container {
    margin: 0 1% !important;
    margin-left: 2% !important;
    padding-right: 0px !important;
}

.phone-sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.phone-menu-position {
    z-index: 2;
    position: fixed;
    top: 15em;
    left: 30%;
}

@media (min-width: 768px) {
    #myNavbar {
        margin-top: 10% !important;
    }

    .phone-menu-position {
        z-index: 2;
        position: fixed;
        top: 19rem;
        left: 40%;
    }

    .user-menu {
        top: 0px !important;
    }
}