<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <center>
        <h2>Log In & Register With</h2>
      </center>
      <div class="row">
        <button class="button social-login via-google google-background" (click)="socialSignIn('google')"><i
            class="fa fa-google" tabindex="1"></i>
          Google </button>
        <!-- <div class="col-md-6">
          <button class="button social-login via-google google-background" (click)="socialSignIn('google')"><i
              class="fa fa-google"></i>
            Google </button>
        </div>
        <div class="col-md-6">
          <button class="button social-login via-facebook" (click)="socialSignIn('facebook')"><i
              class="fa fa-facebook"></i> Facebook</button>
        </div> -->
      </div>


      <div class="my-account style-1 margin-top-5 margin-bottom-40">

        <ul class="tabs-nav">
          <li *ngIf='!forgotTabActive' (click)="toggle(true)" [ngClass]="{'active': active}"><a
              [ngClass]="{'active-tab': active}" [routerLink]="['/auth/login']">Log In</a></li>
          <li *ngIf='!forgotTabActive' (click)="toggle(false)" [ngClass]="{'active': !active}"><a
              [ngClass]="{'active-tab': !active}" [routerLink]="['/auth/signup']">Register</a>
          </li>
          <li *ngIf='forgotTabActive' class='active'><a class='active-tab' [routerLink]="['/auth/signup']">Forgot
              Password</a>
          </li>

        </ul>

        <div class="tabs-container alt" style="padding: 0 7px;">

          <!-- Login -->
          <div class="tab-content" id="tab1">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="backtotop"><a style="cursor: pointer" (click)="gotoTop()"></a></div>