.google-background {
        background-color: #cf4332 !important;
}

.active-tab {
        border-color: #8dc63f !important;
        color: #8dc63f !important;
}

.tabs-nav li a:hover,
.tabs-nav li.active a {
        color: #8dc63f !important;
        z-index: 11;
}

button.button.social-login {
        width: 35% !important;
        margin-left: 30%;
}