<div *ngIf="readMore == 1"  class="container" style="box-shadow:0 0 4px #ccc;margin-top: 30px; margin-bottom: 30%;width: 85%;">

  <center><h3 class="desc-headline" style="background-color:#8dc63f; color:#fff;padding:20px;">
  Rental Management</h3>
  <p>We offer our best services to our valuable clients.</p>
  </center>
  
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-8">
  <ul>
  <li>Preliminary site visit to assess repair, utilities and society rules.</li>
  <li>Photography.</li>
  <li>Posting and Publishing in multiple channel.</li>
  <li>Connect with prospective Tenant and Show flat.</li>
  <li>Police verification.</li>
  <li>Online agreement registration.</li> 
  <li>Collection of security deposit and 1st rent.</li> 
  <li>Complete society formality.</li> 
  <li>Facilitate move-in/out.</li>
  </ul>
</div>
</div>
<a [routerLink]="['/home']" routerLinkActive="router-link-active" >Back</a>
</div>



<!-- Readmore Page 2 -->
<div class="container" *ngIf="readMore == 2" style="box-shadow:0 0 4px #ccc;margin-top: 30px; margin-bottom: 30%;width: 85%;">
  <center>
  <h3 class="desc-headline" style="background-color:#8dc63f; color:#fff;padding:20px;">
  End-To-End Services</h3>
  <p>We offer our best services to our valuable clients.</p>
  </center>
<div class="col-md-12">
<div class="row">
  <div class="col-md-6">
   <ul>
     <li>Site visit to assess repair, utilities & society rules.</li>
     <li>Photography.</li>
     <li>Posting and publishing in multiple channel.</li>
     <li>Connect with prospective Tenant and show flat.</li>
     <li>Police Verification.</li>
     <li>Online agreement registration.</li> 
     <li>Collection of security deposit and 1st rent.</li> 
     <li>Complete society formality.</li> 
     <li>Facilitate move-in/out.</li>
  </ul>
  </div>

 <div class="col-md-6">
   <ul>
    <li>Ensure rent collection.</li>
    <li>Photography.</li>
    <li>Periodic visit to property.</li>
    <li>Repair and Fitments.</li>
    <li>Maintenance.</li>
    <li>Payment to statutory authorities.</li> 
    <li>Resolve dispute, if any.</li> 
    <li>Exit formality.</li> 
  </ul>
  </div>
</div>
</div>
<a [routerLink]="['/home']" routerLinkActive="router-link-active" >Back</a>

</div>

<!-- Readmore Page 3 -->
<div class="container" *ngIf="readMore == 3" style="box-shadow:0 0 4px #ccc;margin-top: 30px; margin-bottom: 30%;width: 85%;">

	<center><h3 class="desc-headline" style="background-color:#8dc63f; color:#fff;padding:20px;">Property Management</h3></center>
		<div class="row" style="margin-left: 0px;">
		    <center><p>We offer our best services to our valuable clients.</p></center>
			    <div class="row">
				    <div class="col-md-4"></div>
						<div class="col-md-8">
							<ul>
								 <li>Property monitoring for plots and empty houses/flats.</li>
								 <li>Help with property sale/purchase.</li>
								 <li>Rental management of residential properties.</li>
								 <li>Dealing with developer on behalf of Owner.</li>
								 <li>Periodic visit to property.</li>
								 <li>Paperwork like Khatta, Encumbrance Certificate etc.</li> 
								 <li>Repair and Maintenance.</li> 
							</ul>
					    </div>
			    </div>
          <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Back</a>
        </div>
</div>

<div id="backtotop"><a  ></a></div>