<div id="titlebar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{newsFeed.title}}</h2>
        <!-- <nav id="breadcrumbs">
          <ul>
            <li><a >Home</a></li>
            <li>News Feed</li>
          </ul>
        </nav> -->
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="blog-page">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-post">
          <p class="newsFeed-image">
            <img *ngIf="newsFeed?.image && newsFeed?.image!=''" class="post-img" src={{newsFeed?.image}} alt="news feed image">
            <img *ngIf="!newsFeed?.image && newsFeed?.image===''" class="post-img default-img" src="./assets/images/logohw.png"  alt="news feed image">
          </p>
          <div class="post-content">
            <ul class="post-meta">
              <li>{{newsFeed?.created_date | date}}</li>
              <li class="author"><i class="fa fa-user"></i> admin</li>
            </ul>

            <p [innerHtml]="newsFeed?.text"></p>
          </div>
        </div>
        <a [routerLink]="['/home']" routerLinkActive="router-link-active">Back</a>
      </div>
    </div>
  </div>
</div>