@media (max-width:767px) {
    #titlebar h2 {
        font-size: 20px;
        line-height: 27px;
    }

    .post-img {
        width: 80% !important;
    }
}

@media (min-width:768px) {
    #titlebar h2 {
        font-weight: 500;
        font-size: 30px;
    }
}

.newsFeed-image {
    text-align: center !important;
}

.post-img {
    margin: 10px auto 10px !important;
    width: 50%;
}

.post-content p {
    margin: 18px 0 0;
    font-size: 14px;
    text-align: justify;
}

@media(min-width:768px) {
    .default-img {
        max-width: 25%;
    }
}