<!-- <div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Properties</h2>
			</div>
		</div>
	</div>
</div>
<br><br>

<div class="container" style="margin-top:-80px;">
	<div class="row">

		<div class="col-md-12">
			<div class="pricing-container margin-top-30">
				<div class="plan">
					<div class="plan-price" style="height:175px;">
						<h3>Added <span class="value value1">{{propertyCountData?.added_property}}</span></h3><br>
						<h3>Listed <span class="value value1">{{propertyCountData?.listed_property}}</span></h3><br>
						<h3> Rented <span class="value value1">{{propertyCountData?.rented_property}}</span></h3>
					</div>
				</div>

				<!-- Plan #2 -->
<!-- <div class="plan featured">
					<div class="plan-price">
						<h3>For Approval</h3>
						<span class="value">{{propertyCountData?.for_approval_property}}</span>
					</div>
				</div> -->

<!-- Plan #3 -->
<!-- <div class="plan">
					<div class="plan-price" style="height:175px;">
						<h3>Agreement Approve</h3>
						<span class="value"
							style="color:#8dc63f">{{propertyCountData?.agreement_approve_property}}</span>
					</div>
				</div>

			</div>
		</div>
	</div>
</div> -->

<!-- <div class="card " *ngIf="userDateError === true && !peopertyListData" style="margin-top: 10rem;">
	<div class="card-content">
		<div class="col-md-2"></div>
		<div class="col-md-9">
			<img class="col-md-2" src='./assets/images/warning-icon.png' alt="warning icon" style='width: 100px' />
			<h4 class="warning col-md-10">The site is undergoing an upgrade.<br> Please contact support@housewise.in or
				+91-7755910850 for assistance.</h4>
		</div>
		<div class="col-md-1"></div>
	</div>
</div> -->

<div class="container" style="margin-bottom:40px;margin-top:-20px;" *ngIf="propertyCount===0">
	<div class="row">

		<div class="col-md-12">
			<h4 *ngIf='dataError===false' class="headline margin-top-70 margin-bottom-30">My Properties</h4>
			<div class="card text-center" *ngIf='propertyCount===0' style="margin-top: 10rem">
				<div class="card-content">
					<div class="card-body">
						<!-- <img src='./assets/images/no_data.png' alt="No data" style='width: 100px' /> -->
						<h4 class="card-title success">No properties to showcase currently. Please add a Property.</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container" style="margin-bottom:40px;margin-top:-20px;" *ngIf="peopertyListData">
	<div class="row">

		<div class="col-md-12">
			<!-- <a [routerLink]="['/user/submit-property']" id="submit" class="button border hidden-sm hidden-md"
				style="float:right;margin-top:50px;">Submit New Property</a>

			<a [routerLink]="['/user/submit-property']" id="submit1 " class="button border  hidden-xs hidden-lg"
				style="float:right;">Submit New Property</a> -->


			<h4 *ngIf='dataError===false' class="headline margin-top-70 margin-bottom-30">My Properties</h4>


			<div class="card text-center" *ngIf='loadingList===true'>
				<div class="card-content">
					<div class="card-body">
						<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
					</div>
				</div>
			</div>

			<div class="card text-center" *ngIf='dataError===true' style="margin-top: 10rem">
				<div class="card-content">
					<div class="card-body">
						<img src='./assets/images/no_data.png' alt="No data" style='width: 100px' />
						<h4 class="card-title success">No Data available</h4>
					</div>
				</div>
			</div>

			<div class="card text-center" *ngIf='propertyCount===0' style="margin-top: 10rem">
				<div class="card-content">
					<div class="card-body">
						<!-- <img src='./assets/images/no_data.png' alt="No data" style='width: 100px' /> -->
						<h4 class="card-title success">No properties to showcase currently. Please add a Property.</h4>
					</div>
				</div>
			</div>


			<div class="table-responsive" *ngIf='dataError===false'>

				<table class="basic-table" style="border:2px solid #8dc63f;" *ngIf='propertyCount!==0'>

					<tr>
						<th>Property Id</th>
						<th>City</th>
						<th style="width:10%">Address</th>
						<th>Property Status</th>
						<th><center>My Documents</center></th>
						<th>HW Agreement</th>
						<th>Tenant Details</th>
						<th>HW Uploaded Documents</th>
						<th>HW Agreement Status</th>
					</tr>

					<tr *ngFor='let item of peopertyListData'>
						<td><a [routerLink]="['/user/detail-page/',item?.id]" routerLinkActive="router-link-active">
								<center>{{item?.id}}</center>
							</a></td>
						<td>{{item?.cityName}}</td>
						<td>{{item?.details?.addr1}}</td>
						<td>{{item?.HW_status}}</td>

						<!-- my docs -->
						<!-- <td style='text-align: center'> <a [routerLink]="['/user/upload-docs', item?.id,'my_docs']"
								button class="button border">View/Upload</a>
						</td> -->
						<td style='text-align: center'> <a [routerLink]="['/user/upload-property-documents', item?.id]"
							button class="button border">View/Upload</a>
					</td>

						<!-- HW Agreement -->
						<td style='text-align: center'>
							<a *ngIf="(item.HW_status !== 'Added') && item.text" button data-toggle="modal"
								data-target="#AgreementTextModal" (click)='showAgreementText(item)'
								class="button border">View</a>

							<a *ngIf="(item.HW_status !== 'Added') && item.url" href='{{item.url}}' target='_blank'
								class="button border">View</a>
						</td>

						<!-- Tenant Details -->
						<td style='text-align: center'>
							<a *ngIf='item?.tenant_id.length > 0'
								[routerLink]="['/user/upload-docs',item?.id,'tenant_uploaded_docs']"
								button class="button border">View</a>
						</td>

						<!-- HW Uploaded Documents -->
						<td style='text-align: center'>
							<a *ngIf='item?.HW_op_docs>0' [routerLink]="['/user/upload-docs', item?.id,'reports']"
								button class="button border">View</a></td>

						<!-- agreement_status -->
						<td colspan="2">
							<div *ngIf='checkStatus(item)===1'>
								<a (click)="updateAgreementStatus(item?.id,'Approved')" button
									class="button border approve" [disabled]="isLoading"
									[ngStyle]="{'cursor': approvedBtnPressed ? 'progress' : 'pointer'}"><i
										class="fa fa-spinner fa-pulse fa-1x fa-fw"
										*ngIf='approvedBtnPressed'></i>Approve</a>
								<a (click)="updateAgreementStatus(item?.id,'Rejected')" button
									class="button border reject" [disabled]="isLoading"
									[ngStyle]="{'cursor': rejectedBtnPressed ? 'progress' : 'pointer'}"><i
										class="fa fa-spinner fa-pulse fa-1x fa-fw"
										*ngIf='rejectedBtnPressed'></i>Reject</a>
							</div>
							<div *ngIf='checkStatus(item)===2'>
								<center>
									<lable class="rejected">{{item.aggrement_status}}</lable>
								</center>
							</div>
							<div *ngIf='checkStatus(item)===3'>
								<center>
									<lable class="approved">{{item.aggrement_status}}</lable>
								</center>
							</div>
							<div *ngIf='checkStatus(item)===4'>
								<center>
									<lable class="else">{{item.aggrement_status}}</lable>
								</center>
							</div>
						</td>

					</tr>

				</table>
			</div>


		</div>
	</div>
</div>

<div class="container" style="margin-bottom:40px;margin-top:-20px;" *ngIf='loadingList==false && dataError==false'>
	<div class="row">
		<div class="col-md-12">
			<h4 class="headline margin-top-70 margin-bottom-30">Housewise Bank Account Details</h4>
			<h5><b>Account Name -</b> Housewise Services Private Ltd</h5>
			<h5><b>Account No -</b> 098505003728</h5>
			<h5><b>Bank Name -</b> ICICI Bank, Baner Road, Pune</h5>
			<h5><b>IFSC -</b> ICIC0000985</h5>
			<h5><b>Account Type -</b> Current Account</h5>
		</div>
	</div>
</div>


<div id="backtotop"><a style="cursor: pointer" (click)="gotoTop()"></a></div>


<!-- Modal -->
<div id="AgreementTextModal" class="modal in" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button id='closeModal' type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Agreement</h4>
			</div>
			<div class="modal-body">
				<div *ngIf="agreementText" style="height:500px; overflow: scroll;"
					[innerHTML]='sanitized.bypassSecurityTrustHtml(agreementText)'>
				</div>

			</div>
		</div>
	</div>
</div>