.plan {
	background-color: #8dc63f;
}

.plan-price .value.value1 {
	display: inline;
	font-size: 24px;
	line-height: 35px;
	padding: 22px 0 0 0;
	color: #8dc63f;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	#submit1 {
		margin-top: -2%;
	}
}

/* Border Button Style */

a.button.border:before {
	display: none;
}

a.button.border {
	background-color: transparent;
	color: #8dc63f;
	border: 1px solid #8dc63f;
	padding: 9px 19px;
}

a.button.border:hover {
	background-color: #8dc63f;
	color: #fff;
	opacity: 1;
}

a.button.border.reject:hover {
	background-color: #ef453a;
	border: 1px solid #ef453a;
	color: #fff;
	opacity: 1;
}

a.button.border.reject:disabled {
    background-color: #909090;
    border-color: #909090;
}

a.button.border.approve:disabled {
    background-color: #909090;
    border-color: #909090;
}

a.button.border.white {
	border-color: #fff;
	color: #fff;
}

a.button.border.white:hover {
	background-color: #fff;
	color: #8dc63f;
}

/* Full Width button */

button.button.fullwidth,
a.button.fullwidth {
	width: 100%;
	text-align: center;
}

a.button.white.border:hover {
	color: #333;
}

.button i {
	padding-right: 4px;
}

.approved {
	color: #8dc63f;
}

.rejected {
	color: red;
}

.else {
	color: black;
}

a:active,
a:hover {
	outline: 0;
	color: black;
}

.modal-title {
	color: black;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 1.7em;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	padding-top: 30px;
	top: 5rem;
	width: 97%;
	height: 80%;
	overflow: auto;
}

.warning {
	color: orangered;
}

h5 {
	font-size: 15px;
    line-height: 1.3em;
}

@media (max-width:991px) {
	
	#style::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
		background-color: #F5F5F5;
		border-radius: 10px;
		box-shadow: transparent;
	}

	#style::-webkit-scrollbar {
		width: 10px;
		background-color: #F5F5F5;
	}

	#style::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color:transparent;
		background-image: -webkit-linear-gradient(top,#90be50 0%,#83ad48 50%,#8dbe47 51%,#89c734 100%);
	}

}