.interestedActive>i {
    color: #EF4136 !important;
}

.shortlistedActive>i {
    color: #ffb400;
    content: "\f005";
}

.listing-title a:hover {
    color: black;
}

.listing-title h4 a:hover {
    color: #8cc63f;
}

.s-i-btn {
    margin-bottom: 1rem;
}

.shortlisted-button {
    width: 80px;
}