<div class="container" style="margin-top:60px;">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6" style="box-shadow:0 0 10px #ccc ;height:295px;">
        <center>
          <h3 style="background-color:#8dc63f;color:#fff;padding:12px;">REFINE YOUR SEARCH
          </h3>
          <h5>FIND BEST THAT SUITS YOU</h5>
        </center>
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h5>City</h5>
          <select [(ngModel)]="cityid" id='cityid' (change)="onSelect($event)">
            <option value="Select">Select City</option>
            <option selected *ngFor='let item of cityList' value="{{item.city_id}}">{{item.city_name}}</option>
          </select>

          <center style="margin-top:40px;"><button class="button border" (click)="searchProperty();">Find me a
              home</button></center>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>


  <div class="clearfix"></div>
  <div class="container" style="margin-top:120px;">

    <div class="card text-center" *ngIf='loadingList===true'>
      <div class="card-content">
        <div class="card-body">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
      </div>
    </div>

    <div class="card text-center" *ngIf='dataError===true && currentPage===1'>
      <div class="card-content">
        <div class="card-body">
          <img src='./assets/images/no_data.png' alt="no data" style='width: 100px' />
          <h4 class="card-title success">No Data available</h4>
        </div>
      </div>
    </div>

    <div class="row fullwidth-layout">
      <div class="col-md-12 right_section">
        <div class="listings-container list-layout" *ngIf='pageData'>
          <div class="listing-item" *ngFor='let item of pageData | paginate: { itemsPerPage: count, currentPage: p }'>
            <a [routerLink]="['/user/detail-page', item?.id]" class="listing-img-container"
              style="height: 241px; cursor: pointer">
              <div class="listing-img-content">
                <span class="listing-price"> </span>
              </div>
              <img src="{{getPropertyImage(item)}}" alt="property image" style="height: 241px;">
            </a>

            <div class="listing-content">
              <div class="listing-title">
                <h4><a [routerLink]="['/user/detail-page', item?.id]"
                    *ngIf='item.features && item.features.bedrooms'>{{item?.features?.bedrooms}}BHK
                    {{item?.ptype_name}}</a></h4>
                <a [routerLink]="['/user/detail-page', item?.id]">
                  <i class="fa fa-map-marker"></i>
                  {{getAddress(item?.details)}}
                </a>
              </div>

              <ul class="listing-details">
                <li>{{item.features.builtup}} {{item.features.units}}</li>
                <li>{{item.features.bedrooms}} Bedroom</li>
                <li>{{item.features.bathrooms}} Bathroom</li>
                <li>{{item.features.balconies}} Balconies</li>
                <li>{{item.features.floorlvl}} Floor(of {{item.features.totalFloor}})</li>
              </ul>

              <div class="listing-footer">
                <i class="fa fa-inr"></i>{{item.preference.exptRent}}/Month&nbsp;&nbsp;&nbsp;&nbsp;
                <!-- Available from {{item.details.availFrom}} -->
                <span class="s-i-btn">
                  <button (click)='shorlistInterestedProperty(item,item.id,"shortlisted")'
                    [ngClass]="{'shortlistedActive': item.sactive}" class="shortlisted-button widget-button with-tip"
                    data-tip-content="Add to shortlisted property" [disabled]="isLoading"
                    [ngStyle]="{'cursor': isLoading ? 'progress' : 'pointer'}" *ngIf='!item?.iactive'>
                    <i class="fa fa-spinner fa-pulse fa-1x fa-fw" *ngIf='isLoading && shortlistedLoading'></i> <i
                      class="fa fa-star"></i>
                    <div class="tip-content" *ngIf='item?.sactive'>Shortlisted</div>
                    <div class="tip-content" *ngIf='!item?.sactive'>Add to shortlisted property</div>
                  </button>
                  <button (click)='shorlistInterestedProperty(item,item.id,"interested")'
                    [ngClass]="{'interestedActive': item.iactive}" class="interested-button widget-button with-tip"
                    data-tip-content="Add to interested property" [disabled]="isLoading"
                    [ngStyle]="{'cursor': isLoading ? 'progress' : 'pointer'}">
                    <i class="fa fa-spinner fa-pulse fa-1x fa-fw" *ngIf='isLoading && interestedLoading'></i> <i
                      id="Thumbs" class="fa fa-heart white"></i>
                    Express Interest
                  </button>
                </span>
              </div>
            </div>
          </div>


          <!--Including the pagination control.-->

          <div class="pagination-container margin-top-20">
            <nav class="pagination">
              <ul>
                <li *ngFor='let pageNumber of paginationArray' (click)="changePage(pageNumber)"><a
                    style="cursor: pointer" [ngClass]="{ 'current-page': currentPage===pageNumber}">{{pageNumber}}</a>
                </li>
              </ul>
            </nav>

            <nav class="pagination-next-prev">
              <ul>
                <li *ngIf='!loadingList===true && dataError===false && currentPage!==1' (click)='previousPage()'><a
                    class="prev" style='cursor: pointer;'>Previous</a></li>
                <li *ngIf='!loadingList===true && dataError===false && currentPage!==paginationArray.length'
                  (click)='nextPage()' style='cursor: pointer;'><a class="next">Next</a></li>
              </ul>
            </nav>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div id="backtotop"><a style="cursor: pointer" (click)="gotoTop()"></a></div>

  <div class="clearfix"></div>