<!-- <div class="card " *ngIf="userDateError === true" style="margin-top: 10rem;">
	<div class="card-content">
		<div class="col-md-2"></div>
		<div class="col-md-9">
			<img class="col-md-2" src='./assets/images/warning-icon.png' alt="warning icon" style='width: 100px' />
			<h4 class="warning col-md-10">The site is undergoing an upgrade.<br> Please contact support@housewise.in or
				+91-7755910850 for assistance.</h4>
		</div>
		<div class="col-md-1"></div>
	</div>
</div> -->


<div class="container" style="margin-top:30px;margin-bottom:150px;height:250px;">
	<div class="col-md-12">

		<div class="card text-center" *ngIf='loadingList===true'>
			<div class="card-content">
				<div class="card-body">
					<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
				</div>
			</div>
		</div>

		<div class="card text-center" *ngIf='dataError===true'>
			<div class="card-content">
				<div class="card-body">
					<img src='./assets/images/no_data.png' alt="no data" style='width: 100px' />
					<h4 class="card-title success">No Data available</h4>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6" style="box-shadow:0 0 10px #ccc ;height:295px;">
				<center>
					<h3 style="background-color:#8dc63f;color:#fff;padding:12px;">REFINE YOUR SEARCH
					</h3>
				</center>
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<center>
						<h5>FIND BEST THAT SUITS YOU</h5>
					</center>
					<h5>City</h5>
					<select class="chosen-select-no-single" [(ngModel)]="selectedCityId" (change)="onSelect($event)">
						<option value="Select">Select City</option>
						<option *ngFor="let city of cityList" value={{city.city_id}}>{{city.city_name}}</option>
					</select>
					<center style="margin-top:40px;"><button class="button border" (click)="onFindHomes()">Find me a
							home</button></center>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</div>


<div class="container" style="padding-bottom:30px;">
	<h2>Dashboard</h2>
	<div class="row">
		<div class="col-md-12">
			<div class="pricing-container margin-top-30">
				<div class="plan">
					<div class="plan-price" style="height:250px;">
						<h3>Properties</h3>
						<span class="value"><i class="fa fa-building" style="font-size:50px; color: #8dc63f"></i></span>
						<h3>Interested Properties <a style="cursor: pointer"
								[routerLink]="['/user/interested-property']"><span class="value value1"
									style='display: inline-block;'>{{tenantPropertyCount?.interested_properties}}</span></a>
						</h3>
						<h3>Shortlisted Properties <a style="cursor: pointer"
								[routerLink]="['/user/shortlisted-property']"><span class="value value1"
									style='display: inline-block;'>{{tenantPropertyCount?.shortlisted_properties}}</span></a>
						</h3>
					</div>
				</div>


				<div class="plan">
					<div class="plan-price" style="height:250px;">
						<h3>Payment(S)</h3>
						<span class="value"><i class="fa fa-inr" style="font-size:50px; color: #8dc63f"></i></span>
						<span>No records exists</span>
					</div>
				</div>


				<div class="plan">
					<div class="plan-price" style="height:250px;">
						<h3>Document(S)</h3>
						<span class="value"><i class="fa fa-file" style="font-size:50px; color: #8dc63f"></i></span>
						<h3>User Documents <a style="cursor: pointer; text-decoration-color: transparent !important;"
								(click)=gotoUserDocuments()><span class="value value1"
									style='display: inline-block;'>{{tenantPropertyCount?.user_documents}}</span></a>
						</h3>
						<!-- <h3>Agreement Document <a href="{{agreement.path}}"
								style="cursor: pointer; text-decoration-color: transparent !important;"><span
									class="value value1" style='display: inline-block;'>0</span></a>
						</h3> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container" style="margin-bottom:40px;margin-top:-20px;">
	<div class="row">
		<div class="col-md-12">
			<h4 class="headline margin-top-70 margin-bottom-30">Housewise Bank Account Details</h4>
			<h5><b>Account Name -</b> Housewise Services Private Ltd</h5>
			<h5><b>Account No -</b> 098505003728</h5>
			<h5><b>Bank Name -</b> ICICI Bank, Baner Road, Pune</h5>
			<h5><b>IFSC -</b> ICIC0000985</h5>
			<h5><b>Account Type -</b> Current Account</h5>
		</div>
	</div>
</div>

<div id="backtotop"><a style="cursor: pointer" (click)="gotoTop()"></a></div>