<app-header></app-header>
<div style="margin-bottom: 15rem">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>


<!-- Modal -->
<div id="forgotPasswordModal" class="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button id='closeModal' type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Forgot Password</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="loginForm" class="my-account login">

                    <div class="row">
                        <label for="username">Username:
                            <i class="im im-icon-Male"></i>
                            <input class="form-control" type="email" name="username" id="username" tabindex="1"
                                autofocus [ngClass]="{'error': control?.username?.invalid && isSubmitted===true}"
                                formControlName="username">
                        </label>
                    </div>
                    <div class="row">
                        <span *ngIf="control?.username?.invalid && isSubmitted===true">
                            <p class="err-msg" *ngIf="control.username.errors.required "> Username should not be blank
                            </p>
                            <p class="err-msg" *ngIf="control.username.errors.pattern"> Invalid Username</p>
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="button border" (click)="onSubmit()" [disabled]='isLoading'
                    [ngStyle]="{'cursor': isLoading ? 'progress' : 'pointer'}">
                    <i class="fa fa-spinner fa-pulse fa-1x fa-fw" *ngIf='isLoading'></i> Send</button>
            </div>
        </div>
    </div>
</div>