<div class="container">
  <center><h3>Privacy Statement</h3>
  <p>Welcome to Housewise, an online property management services platform.</p></center>


  <p style="text-align: justify">We value the trust you place in Housewise Services Pvt. Ltd. 
  That's why we will take reasonable steps to protect user privacy consistent with the terms set forth in this policy and with
   applicable laws. insist upon the highest standards for secure transactions and customer information privacy. This privacy policy
   is designed to inform users of the www.housewise.in website and any related software & mobile applications controlled by Housewise 
   (collectively the “Website”) about how Housewise Services Pvt. Ltd. (“Housewise,” “we” or “us”) gathers and uses personal information
   submitted to Housewise through the Website. In this policy “user” or “you” or “your” or “visitor” means any person viewing the Website or
   submitting any personal information to Housewise in connection with using the Website. By using the Website, you are indicating you consent
   to this Privacy Policy. Note: Our privacy policy is subject to change at any time.</p>

  <p style="text-align: justify">From time to time, we may develop new or offer additional services. If the introduction of these new or additional services results in any 
  change to the manner we collect or process your personal information we will provide you with more information and additional terms 
  or policies. Unless stated otherwise when we introduce these new or additional services, they will be subject to this Policy.
   To make sure you are aware of any changes, please review this policy periodically. IF YOU DO NOT AGREE TO THIS PRIVACY POLICY 
   YOU SHOULD NOT USE THIS WEBSITE.</p>

  <p style="text-align: justify">This Policy is combined into our Terms of Use (the "Terms") and is a part of them. Please refer to our Terms of Use for more information 
  about how the Website works.</p>


  <h3>1. WHAT INFORMATION DO WE COLLECT:</h3>
  Personal Information provided by user:

  <p style="text-align: justify">To access and use some sections of the Website that are restricted only to a registered user, you need to create an account on the Website.</p>

  <p style="text-align: justify">The below table sets out the categories of personal information collected and used by Housewise about a user on the Website:</p>


  Personal Information collected when a user signs up and registers an account on the Website:
  <table border=4px solid #fff style="border:#8dc63f">
  <tr>
  <th><center>Nature of personal information</center>	</th>
  <th><center>Description of collection of personal information</center></th>

  </tr>
  <tr>
  <td style="padding:4px;">Account Registration Information</td>
  <td style="padding:8px;text-align: justify"><p>This is personal information that is provided by you or collected by us to enable you to sign up for 
  and use the Website. This includes your email address, phone number, identity proof, address proof, 
  employment/occupational proof, property title/ownership documentation (applicable to Owner Users only). 
  All documentary proof must contain User’s recent photograph, date of birth, address and any other 
  identification proof prescribed by the applicable authority. Additional personal information that maybe
   collected by HW will depend on the nature of the Services that you sign up for as defined under the Terms 
   of Use located at https://www.housewise.in/t&c.html and whether or not such personal
   information will be collected and used in accordance with the terms of a separate services agreement 
   with HW.</p></td>
  </tr>
  </table>
  <p style="text-align: justify">Personal information collected with your permission through User’s choice of specific services as defined
   in the Terms or under a separate service agreement or related transaction: </p>
   
  <table border=4px solid #8dc63f style="border:#8dc63f">
  <tr>
  <th><center>Nature of personal information</center></th>
  <th><center>Description of collection of personal information
  </center></th>
  </tr>
  <tr>
  <td style="padding:4px;">Transaction specific personal Information</td>
  <td style="padding:8px;text-align: justify"><p>This is personal information that is collected about you when you purchase
   specific services provided by Housewise either as a registered user or as a guest user on the Website.<br>
   In addition to the documents below, any additional personal information collected will vary depending
   on the nature of Services agreed between User and Housewise under payment obligations under a separate 
   service agreement or communicated via email at support@housewise.in. Owners, whether registered or not are
   required
   to furnish the following list of documents along with personal information (this is not an exhaustive list):</p>
   <b><u>Owner Users Personal Information</u></b>
   <ul style="text-align: justify">
   <li>Name;</li>
  <li>Date of birth;</li>
  <li>Pan Card;</li>
  <li>Aadhar Card;</li>
  <li>Mobile phone number;</li>
  <li>Property Documents – Certified copy of title deeds, Property tax, municipal khata
   and any other documentary proof as prescribed by the relevant authority.</li>
  <li>Transactions details;</li>
  <li>Bank Account details;</li>
  <li>Any other information as required to process the transaction as communicated by HW from time-to-time.</li>
  </ul>
  <p style="text-align: justify">Residents, whether registered or not are required to furnish the following list of documents along with personal
   information (this is not an exhaustive list):</p>
   
   <b><u>Resident User’s Personal Information</u></b>
   <ul style="text-align: justify">
  <li> Name;</li>
  <li>Date of birth;</li>
  <li>Pan Card;</li>
  <li>Aadhar Card;</li>
  <li>Mobile phone number;</li>
  <li>Address Proof</li>
  <li>Employment ID Card;</li>
  <li>Transaction details</li>
  <li>Bank Account details;</li>
  <li>Any other information as required to process the tra nsaction as communicated by HW from time-to-time.</li>
  </ul>
   </td>
  </tr>
  </table>

  <p style="text-align: justify">Personal information collected with your permission to enable Housewise to provide User with 
  additional or optional services: </p>

  <table border=4px solid #8dc63f style="border:#8dc63f">
   <tr>
  <th><center>Nature of personal information</center></th>
  <th><center>Description of collection of personal information</center></th>
   </tr>
  <tr>

  <td style="padding:4px;"> Surveys & Schemes</td>
  <td style="padding:8px;text-align: justify"><p>This personal information that is provided by you to allow you to sign up and 
  participate in these types of promotions. The exact personal information collected will 
  vary depending on the promotion.</p>

  <p style="text-align: justify">This information includes user generated content in the form of but not 
  limited to feedback, comments, questions received from users in response to
   communications and activities that are related to HW services via phone calls, 
   ils, documentation etc.</p></td>
   </tr>
   
   <tr>

  <td style="padding:4px;">Marketing Information</td>
  <td style="padding:8px; text-align: justify">This is personal information already made available to Housewise that is 
  used to send you marketing communications either:
  <ul style="text-align: justify">
  <li>Via email;</li>
  <li>During the terms of a service agreement; and</li>
  <li>During the use of the Website and/or HW services as defined in the Terms.</li>
  </ul>
  </td>
   </tr>
   
   <tr>

  <td style="padding:4px;">Browsing & Analytical Information</td>
  <td style="padding:8px;text-align: justify">This is analytical information that is triggered when a User to the Website accesses 
  different web pages of the Website and the interactions with the Website interface. Such information may include:
  <ul>
  <li>IP Address;</li>
  <li>Browser Information;</li>
  <li>Time and Date of your visit;</li>
  <li>URL request;</li>
  <li>Device used to access the Website, including any details of the OS, language settings, place of access.</li>
  </ul>
  </td>
   </tr>
   
   <tr>

  <td style="padding:4px;">Cookies</td>
  <td style="padding:8px;text-align: justify"><p>The Website directly or through third party service providers uses
   cookies that allow your device to be recognized when you return to or browse through the Website.</p>
   <p>The information collected is in an anonymous form, including information on the number of visitors to the
   Website, information about the Websites from where visitors have arrived at the Website and the web pages 
   visited by the User.</p>

  </td>
   </tr>
   
  </table>

  <h3>2. HOW PERSONAL INFORMATION IS COLLECTED</h3>
  <p style="text-align: justify"> Housewise collects User’s personal information in the following ways:</p>
  <p style="text-align: justify">When you register an account on the Website for the Services - when you register an account for Services,
   we collect certain personal 
  information, so you can use the Services such as your email address, birth date, gender, and country. </p>
  <p style="text-align: justify">During your use of the Services, you may also provide us personal information from time-to- time in connection with your use 
  of the Service, such as payment information, property information and changes and modification related thereto.</p>
  <p style="text-align: justify">Personal information collected that enables us to provide you with additional services- from time to time, 
  you also may provide us with additional personal information 
  or give us your permission to collect additional personal information e.g. to provide you with additional 
  services.</p>
  <p style="text-align: justify">From third 
  parties - we may receive personal information about you and your browsing activity from third parties we work 
  with.</p>

  <h3>3. LEGAL BASIS FOR COLLECTION OF PERSONAL INFORMATION</h3>
  <p style="text-align: justify"><u>Collecting personal information based on consent</u></p>
  <p style="text-align: justify">The collection of personal information is based on consent from a User that will store documentation related to the consent given by the user for the purposes
   of a legitimate interest pursued by Housewise. User consents will always be stored and documented in our systems.</p>
   <p style="text-align: justify"><u>Collecting personal information based on transactions</u></p>
  <p style="text-align: justify">We collect personal information for providing contractual services based on service agreements with Users and fulfilling 
  service obligations based on separate transactional documents with users or transactional history for each User.</p>

  <h3> USE OF PERSONAL INFORMATION BY HOUSEWISE</h3>
  <p style="text-align: justify">We, at Housewise, take the privacy of our users very seriously.</p>
  <p style="text-align: justify">We may use the information collected as explained in Section 1 above for the following purposes:</p>
  <ul style="text-align: justify">
  <li>Customer service;</li>
  <li>Direct sales;</li>
  <li>Direct marketing</li>
  </ul>
  <p style="text-align: justify"><u>Use of collected information explained:</u></p>
  <ul style="text-align: justify">
  <li>for full functionality of the Website and to provide our services with all its features;</li>
  <li>to provide personalised notifications, advertisements, communications, messages and offers related 
  to the services provided by Housewise;</li>
  <li>to improve its marketing and promotional efforts, to analyse site usage, improve the Website’s content 
  and new and/or customised service offerings and for its business purposes;</li>
  <li>providing you with support, handling complaints and contacting you when we believe it is necessary such as replying to a ‘Contact me’ or other incoming email requests you have written on our Website;
  for enforcing the Terms and this Policy and preventing misuse of the Service;</li>
  <li>HW may be required from time to time to disclose users' personal information to law enforcing agencies or 
  our regulators, if we think it is justified;</li>
  <li>we may also disclose personal information to enforce our policies, respond to claims that a posting or other content violates other's rights, or protects anyone's rights, property or safety.
  taking any action in any case of dispute involving you, with respect or in relation to the Website.</li>
  </ul>

  <h3>5. DATA RETENTION AND DELETION</h3>
  <p style="text-align: justify">We store personal information only for as long as we find it necessary to fulfil the purpose for which the 
  personal information was collected, including but not limited to complying with our legal obligations, complying
   with requirements under applicable laws, to attend to any legal claims/complaints, and for safeguarding
   purposes.</p>
  <p style="text-align: justify">We essentially retain your personal information so long as you are either: (i) a registered user of the Website; or (ii) Housewise is providing you services under a separate service agreement or other transactional
   document between Housewise and you; or (iii) for a reasonable period of time after your last interaction with us.</p>
  <p style="text-align: justify">When the personal information that we have collected is no longer required, we will ensure that the personal information will not be accessible to HW operational systems, processes or personnel, upon a valid written request from the specific User. Post completion of services under a transactional document
   or separate services agreement, any further processing/use of your personal information will be anonymized.</p>
  <p style="text-align: justify">If you request, we will delete or anonymise your personal information so that it no longer identifies you,
   unless, we are legally allowed or required to maintain certain personal information, including situations such
   as the following:</p>
   
   <ul style="text-align: justify">
   <li>For an unresolved issue relating to your account until the claim or issue is resolved;</li>
    <li>For our legal, tax, audit, and accounting obligations, we will retain the necessary personal information 
    for the period required by applicable law; and/or,</li>
   <li>For legitimate business interests.</li>
   </ul>
   
   <h3>6. CROSS BORDER TRANSFER OF INFORMATION</h3>
  <p style="text-align: justify">User’s personal information collected from you will be transferred outside your home country to HW data servers located in India or to our third-party suppliers located outside India. In addition to the HW servers, user’s personal information may also be processed and stored in servers owned and operated by third parties that partner with HW for providing cloud-based data processing services. Therefore, User’s personal 
  information, will be subject to privacy laws and standards that are different from user’s country of residence.</p>
  <p style="text-align: justify">For personal Information collected from users residing within the European Union and Switzerland, Housewise shall ensure that the transfer of user’s personal information is carried out in accordance with applicable privacy laws and, in particular, that appropriate contractual, technical,
   and organisational measures are in place such as the Standard Contractual Clauses approved by the EU Commission.</p>
  <p style="text-align: justify">Disclosure under the European General Data Protection Regulation (GDPR): As a data controller of our users' personal information, we are committed to protecting and respecting your privacy in compliance with EU- General Data Protection Regulation (GDPR) 2016/679, implemented May 25, 2018. This privacy statement explains when and why we collect personal information, how we use it, the conditions under which we may disclose it to others and how we keep it secure. This Privacy Statement applies to the use of HW services and to HW sales, marketing and user services agreement fulfilment activities. You have the right to 
  withdraw your consent at any time; and to submit a complaint to the relevant supervisory data protection
   authority.</p>
   
   <h3>7. E-MAILS AND OPT-OUT</h3>
   <p style="text-align: justify">All users may opt-out of receiving notifications from us by writing to us at support@housewise.com 
   after you log on to Website.</p>
   
   <h3>8. INFORMATION SECURITY</h3>
   <p style="text-align: justify">HW implements measures to reduce the risks of damage, loss of information and unauthorized 
   access or use of confidential information. These measures do not provide absolute information security.</p>
   <p style="text-align: justify">Your account is password protected. We implement industry standard measures to protect the personal information that is stored in our database. We limit the access to your personal information to those employees 
   and contractors only on need to know basis to perform their job function, such as our customer service personnel.
   </p>
   
  <h3>9. CHANGES TO THIS PRIVACY POLICY</h3>
   <p style="text-align: justify">We may occasionally make changes to this Policy.</p>
   <p style="text-align: justify">When we make material changes to this Policy, we’ll provide you with notice as appropriate under the circumstances, e.g., by 
   displaying change notice through the Website interface or by sending you an email. We may notify you in advance.</p>
   <p style="text-align: justify">Please, therefore, make sure you read any such notice carefully.</p>
   
   <h3>10. CONTACTING US</h3>
   <ul style="text-align: justify">
   <li>You can email us on support@housewise.in</li>
   <li>Our office address Housewise Services Private Limited, Pune.</li>
   </ul>
   <br>
   <p style="text-align: justify">Last updated: November, 2018</p>
  </div>
<br>
<div id="backtotop"><a style="cursor: pointer" (click)="gotoTop()"></a></div>