.form-inline .form-control {
    height: 50px !important;
    margin-left: 10px !important;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }


  .my-account input:focus {
    transition: box-shadow 0s !important;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0) !important;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0) !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

a:focus, a:hover {
  color: black;
  text-decoration: underline;
}

.tnc-align {
  margin-left: -27px !important;
}

.btn-align {
  margin-left: -14px !important;
}

.im-icon-Phone:before {
  content: "\eb5f";
  position: absolute;
  margin-top: -12px;
  margin-left: 14px;
}