@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
   .radio1
{
    margin-top:-6%;
}}



.modal-backdrop{
  z-index:0;
}

.lost_password a:hover {
  color: black;
}