<form [formGroup]="loginForm" class="login">

  <div class="row">
    <label for="username">Username:
      <i class="im im-icon-Male"></i>
      <input class="form-control" type="email" formControlName="username"
         name="username" id="username" tabindex="1" required autofocus
        [ngClass]="{'error': control?.username?.invalid && isSubmitted===true}"
        [(ngModel)]="loginData?.username && loginData.username">
    </label>
  </div>
  <div class="row">
    <span *ngIf="control?.username?.invalid && isSubmitted===true">
      <p class="err-msg" *ngIf="control.username.errors.required "> Username should not be blank</p>
      <p class="err-msg" *ngIf="control.username.errors.pattern"> Invalid Username</p>
    </span>
  </div>
  <div class="row">
    <label for="password">Password:
      <i class="im im-icon-Lock-2"></i>
      <input type="password" class="form-control" formControlName="password" id="password" tabindex="2" required
        [ngClass]="{'error': control?.username?.invalid && isSubmitted===true}"
        [(ngModel)]="loginData?.password && loginData.password">
    </label>
  </div>
  <div class="row">
    <span *ngIf="control?.password?.invalid && isSubmitted===true">
      <p class="err-msg" *ngIf="control.password.errors.required"> Password should not be blank</p>
      <!-- <p class="err-msg" *ngIf="control?.password?.invalid">Password should have minimum 6 characters </p> -->
    </span>
  </div>

  <div class="row">
    <re-captcha (resolved)="resolved($event)" siteKey="6Lc8ALcUAAAAAL7Hdc23hhc475SzpEYG4hNKGtAR" formControlName="captcha"
    tabindex="3"></re-captcha>
  </div>
  <!-- <div class="g-recaptcha" data-sitekey="your_site_key"></div> -->
  <br>

  <div class="row">
    <button type="submit" class="button border" (click)="onSubmit(loginForm)" [disabled]="isLoading"
      [ngStyle]="{'cursor': isLoading ? 'progress' : 'pointer'}" tabindex="4">
      <i class="fa fa-spinner fa-pulse fa-1x fa-fw" *ngIf='isLoading'></i> Submit</button>
    <label for="rememberme" class="rememberme">
      <input formControlName="remember_me" name="rememberme" type="checkbox" id="rememberme" value="false" tabindex="5"
        [(ngModel)]="loginData?.remember_me && loginData.remember_me" /> Remember Me</label>
  </div>


  <p class="lost_password" style="margin-top: 5px">
    <a style="cursor: pointer" data-toggle="modal" data-target="#forgotPasswordModal">Lost Your Password?</a>
    <!-- <a [routerLink]="['/auth/forget-password']">Lost Your Password?</a> -->
  </p>
</form>