<div class="container" style="margin-top: 5rem;">
	<div class="row">
		<div class="col-md-1">
			<a class="back-to-listings" (click)="goToPreviousPage()"></a>
		</div>
		<div class="col-md-11">
			<h2 style="float:left;" class="font">{{title}}</h2>
			<!-- <nav id="breadcrumbs">
				<ul>
					<li><a class="font">Dashboard</a></li>
					<li class="font">{{title}}</li>
				</ul>
			</nav> -->
			<!-- <button class="button border" style="margin-top:2%;margin-left:1%; float: right;" data-toggle="modal"
				data-target="#myModal" *ngIf="type=='my_docs'"><i class="fa fa-upload"></i>
				Upload Document</button> -->

			<button class="button border" style="margin-top:2%;margin-left:1%; float: right;" *ngIf="type=='my_docs'"
				(click)="uploadPropertyDocs()"><i class="fa fa-upload"></i>
				Upload Document</button>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal" id="myModal" role="dialog" style='z-index: 9999;'>
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Upload Document</h4>
				</div>
				<div class="modal-body" style="margin-top:2%">
					<div class="row">
						<div class="col-md-6">
							<h5>Docs</h5>
							<select class="chosen-select-no-single" id="documentName" tabindex="24"
								(change)="docsChanged($event)" *ngIf='docsArray'>
								<option *ngFor='let item of docsArray' value='{{item?.document_proof_id}}'>
									{{item?.document_proof_name}}</option>
							</select>
						</div>

						<div class="col-md-6">
							<h5>Docs Type</h5>
							<select class="chosen-select-no-single" tabindex="25" id="documentType" *ngIf='docsArray'
								(change)="docsTypeChanged($event)">
								<option *ngFor='let item of docsArray[selectedDocIndex]?.docType'
									value='{{item?.document_proof_type_id}}'>
									{{item.document_proof_type_name}}</option>
							</select>
						</div>
						<div class="col-md-6" style="margin-top:2%">
							<h5>Upload File</h5>
							<input id='upload_documents' type="file" accept=".pdf, image/*, .doc, .docx"
								(change)="onFileChange($event)">
							<p>Note: File size limit is 5MB</p>
						</div>



						<!-- <div class="col-md-12 text-center" style="margin-top:2%">
							<label>&nbsp;</label>
							<button class="button border" (click)='uploadDocs()' [disabled]='isLoading'
								[ngStyle]="{'cursor': isLoading ? 'progress' : 'pointer'}">
								<i class="fa fa-spinner fa-pulse fa-1x fa-fw" *ngIf='isLoading'></i>Upload</button>
						</div> -->
					</div>
					<div class="row">
						<div class="card text-center col-md-6" *ngIf='isLoading===true'>
							<div class="card-content">
								<div class="card-body">
									<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
									Uploading....
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer" style="margin-top:2%">
						<button id='modelClose' #modelClose type="button" class="btn btn-default"
							data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>


	</div>
	<br><br>



	<div class="container" style="margin-bottom:40rem;">

		<div class="card text-center" *ngIf='loadingList===true'>
			<div class="card-content">
				<div class="card-body">
					<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
				</div>
			</div>
		</div>

		<div class="card text-center" *ngIf='dataError===true'>
			<div class="card-content">
				<div class="card-body">
					<img src='./assets/images/no_data.png' alt="no data" style='width: 100px' />
					<h4 class="card-title success">No Data available</h4>
				</div>
			</div>
		</div>

		<div class="col-md-12" *ngIf='type!=="tenant_uploaded_docs"'>
			<div class="row" *ngFor=' let row of documentsArrayMatrix; let i=index'>
				<div class="col-md-4" *ngFor='let item of row; let k=index'>
					<div *ngIf='type==="my_docs"'>
						<center>
							<h3>{{item?.document_proof_name}}</h3>
							<h5>{{item?.document_proof_type_name}}</h5>
						</center>
						<div class="agent">
							<div class="agent-avatar">
								<a href="{{getDocumentFileImageUrl(item)}}" target='_blank'>
									<img src="{{getDocumentFileImage(item)}}" alt="document">
									<span class="view-profile-btn"><i class="fa fa-eye"></i></span>
								</a>
							</div>
						</div>

						<!-- <center>
							<button (click)='deletePropertyDocument(item,i,k)' class="button border" hidden><i
									class="fa fa-trash"></i></button>
						</center> -->
					</div>
					<div *ngIf='type!=="my_docs" && type!=="tenant_uploaded_docs"'>
						<center>
							<h3>{{item?.title1}}&nbsp; </h3>
							<h5>{{item?.title2}}&nbsp; </h5>
						</center>
						<div class="agent">
							<div class="agent-avatar">
								<a href="{{item?.path}}" target='_blank'>
									<img src="{{getImagePath(item)}}" alt="document">
									<span class="view-profile-btn"><i class="fa fa-eye"></i></span>
								</a>
							</div>
						</div>

						<center>
							<!-- <button (click)='deletePropertyDocument(item,i,k)' class="button border" hidden><i
											class="fa fa-trash"></i></button> -->
						</center>
					</div>

				</div>
			</div>
			<br>

		</div>

		<div class="col-md-12" *ngIf='type=="tenant_uploaded_docs"'>
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>
								<center>Tenant Id</center>
							</th>
							<th>
								<center>Tenant Name</center>
							</th>
							<th>
								<center>Contact No</center>
							</th>
							<th>
								<center>Tenant Address</center>
							</th>
							<th colspan="2">
								<center>Action</center>
							</th>
							<th>
								<center>Tenant Documents</center>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor='let item of interestedTenants; let i=index'>
							<td>
								<center>{{item?.tenant_id}}</center>
							</td>
							<td>
								<center>{{item?.first_name}}&nbsp;{{item?.last_name}}</center>
							</td>
							<td>
								<center>{{item?.contact_no}}</center>
							</td>
							<td>
								<center>{{item?.user_address}}</center>
							</td>							
							<td colspan="2">
								<div *ngIf='checkStatus(item)===1'>
									<center>
										<a (click)="updateAgreementStatus(item,'Approved')" button
											class="button border approve" [disabled]="isLoading"
											[ngStyle]="{'cursor': approvedBtnPressed ? 'progress' : 'pointer'}"><i
												class="fa fa-spinner fa-pulse fa-1x fa-fw"
												*ngIf='approvedBtnPressed'></i>Approve</a>
										<a (click)="updateAgreementStatus(item,'Rejected')" button
											class="button border reject" [disabled]="isLoading"
											[ngStyle]="{'cursor': rejectedBtnPressed ? 'progress' : 'pointer'}"><i
												class="fa fa-spinner fa-pulse fa-1x fa-fw"
												*ngIf='rejectedBtnPressed'></i>Reject</a>
									</center>
								</div>
								<div *ngIf='checkStatus(item)===2'>
									<center>
										<lable class="rejected">{{item?.tenant_detail_status}}</lable>
									</center>
								</div>
								<div *ngIf='checkStatus(item)===3'>
									<center>
										<lable class="approved">{{item?.tenant_detail_status}}</lable>
									</center>
								</div>
								<div *ngIf='checkStatus(item)===4'>
									<center>
										<lable class="else">{{item?.tenant_detail_status}}</lable>
									</center>
								</div>
							</td>
							<!-- <td colspan="2" *ngIf="item?.status ===''">
							<a (click)="updateAgreementStatus(item,'Approved')" button class="button border approve">Approve</a>
							<a (click)="updateAgreementStatus(item,'Rejected')" button class="button border reject">Reject</a>
						  </td> -->
							<td>
								<center><a
										[routerLink]="['/user/upload-docs', propertyId, item?.tenant_id,'tenant_docs']"
										class="button border">View </a></center>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>