
.font{
    font-family:"Varela Round", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.thumbnail {
  max-width: 100%;  
}

.italic { font-style: italic; }
.small { font-size: 0.8em; }

/** LIGHTBOX MARKUP **/

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height:60%;
	margin-top: 10%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

.back-to-listings:hover {
    color: #fff;
	background-color: #8dc63f;
	cursor: pointer;
}

.back-to-listings {
	margin-top: 3.5rem;
}

@media (max-width:767px) {
	.back-to-listings {
		margin-top: 0rem;
	}	
}

@media (min-width:768px) and (max-width:991px) {
	.back-to-listings {
		margin-top: -1rem;
		background-color: #8dc63f;
		color: #fff;
	}	
}

.approved {
    color: #8dc63f;
}

.rejected {
    color: red;
}

.else {
    color: black;
}

a.button.border.reject:disabled {
    background-color: #909090;
    border-color: #909090;
}

a.button.border.approve:disabled {
    background-color: #909090;
    border-color: #909090;
}

a.button.border.reject:hover {
    background-color: #ef453a !important;
    border: 1px solid #ef453a;
    color: #fff;
    opacity: 1;
}