<div id="titlebar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{blogData?.title}}</h1>
        <!-- <nav id="breadcrumbs">
          <ul>
            <li><a>Home</a></li>
            <li>Blog</li>
          </ul>
        </nav> -->
      </div>
    </div>
  </div>
</div>


<div class="card text-center" *ngIf='loadingList===true'>
  <div class="card-content">
    <div class="card-body">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </div>
  </div>
</div>

<div class="container" style="margin-top:0px;">
  <div class="blog-page">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-post">
          <img *ngIf="blogData?.image && blogData?.image!=''" class="post-img" src="{{blogData?.image}}" alt="blog image">
          <div class="post-content">
            <h2>{{blogData?.sub_title}}</h2>
            <ul class="post-meta">
              <li>{{blogData?.created_date | date}}</li>
              <li class="author"><i class="fa fa-user"></i> admin</li>
            </ul>
            <p class="post-data" [innerHtml]="blogData?.text"></p>
            <!-- <p class="post-data" [innerHtml]="blogDesc"></p> -->
          </div>
          <a [routerLink]="['/blog']" routerLinkActive="router-link-active" style="margin-left: 10px;">Back</a>
        </div>
      </div>
    </div>
    <row>
      <div class="card text-center col-md-8" *ngIf='dataError===true' style="margin-top: 10rem">
        <div class="card-content">
          <div class="card-body">
            <img src='./assets/images/no_data.png' alt="No data" style='width: 100px' />
            <h4 class="card-title success">No Data available</h4>
          </div>
        </div>
      </div>
    </row>
  </div>
</div>