
.my-profile label {
	margin-top:15px;
}

.my-profile { padding-right: 35px; }

.my-profile label i {
	margin-right: 1px;
}

.my-profile textarea {
	height: 200px;
}

.doctable{
	padding-top: 12px;
	padding-bottom: 5px;
	text-align: left;
	background-color:#a3d066;
	color: white;
}    


#customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
  }



  /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:not(.disable):not(.active):hover {
    background-color: #ddd;
}

.tab button.disable{
    color: #00000050;
}


.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #8cc63f;
}

/* Style the tab content */
.tabcontent {
    display: none;
}

.tab-info {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: black;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: 4px solid #EF4136;
    border-bottom-color: transparent;
    font-size: 1.2em;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-size: 1.2em;
}


.my-profile {
    padding-right: 75px !important;
    margin-left: 35px !important;
}

a:focus, a:hover {
    color: black;
    text-decoration: underline;
}

.isd {
    padding-right: 0px;
    padding-left: 0px;
}

.phone {
    padding-left: 0px;
}

select {
    padding: 15px 0px;
    cursor: pointer;
}

@media (max-width:991px) {
	.doc-margin {
		margin-left: 2rem;
		margin-right: 2rem;
    }
}