.interestedActive > i{
color: #EF4136;
}

.shortlistedActive > i{
    color: #ffb400;  
    content: "\f005";
}

.listing-title a:hover {
    color:black;
}

.listing-title h4 a:hover {
    color:#8cc63f;
}
