<div class="container" style="margin-top:60px;">
	<div *ngIf="userRole === 'tenant'" class="container" style="margin-top:0px;margin-bottom:150px;height:250px;">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6" style="box-shadow:0 0 10px #ccc ;height:295px;">
					<center>
						<h3 style="background-color:#8dc63f;color:#fff;padding:12px;">REFINE YOUR SEARCH
							<h5>FIND BEST THAT SUITS YOU</h5>
						</h3>
					</center>
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<h5>City</h5>
						<select class="chosen-select-no-single">
							<option>Pune</option>
							<option>Mumbai</option>
							<option>Bangaluru</option>
							<option>Hyderabad</option>
							<option>Chennai</option>
							<option>Noida</option>
							<option>Gurgaon</option>
						</select>
						<center style="margin-top:40px;"><button class="button border">Find me a home</button></center>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>
	</div>

	<div class="card text-center" *ngIf='loadingList===true'>
		<div class="card-content">
			<div class="card-body">
				<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
			</div>
		</div>
	</div>

	<div class="card text-center" *ngIf='dataError===true'>
		<div class="card-content">
			<div class="card-body">
				<img src='./assets/images/no_data.png' alt="no data" style='width: 100px' />
				<h4 class="card-title success">No Data available</h4>
			</div>
		</div>
	</div>

	<div class="row fullwidth-layout">

		<div class="col-md-12 right_section" style="margin-top: 1px !important">

			<!-- <div class="listings-container list-layout">
						<div class="listing-item"  >
		
							<a  (click)="viewDetails()" class="listing-img-container">
								<div class="listing-badges">
									<span>For Rent</span>
								</div>
		
								<div class="listing-img-content">
									<span class="listing-price"> </span>
								</div>
		
								<img src="./assets/images/apartment1.jpg" alt="">
							</a>
							
							<div class="listing-content">
								<div class="listing-title">
									<h4><a >2BHK  Apartment</a></h4>
									<a  >
										<i class="fa fa-map-marker"></i>
										 E 1004, Silver Sky Scepe, Near Datt Mandir, Wakad, Pune, India
									</a>
								</div>
		
								<div class="listing-footer">
									1&nbsp;&nbsp;&nbsp;&nbsp; Added&nbsp;&nbsp;&nbsp;&nbsp;
									<a  ><i class="fa fa-pencil"></i> Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;
								
									<a   ><i class="fa fa-remove"></i>Remove</a>
								</div>
							</div>
						</div>	
						
					
					</div>
		 -->

			<div class="listings-container list-layout" *ngIf='pageData'>
				<div class="listing-item" *ngFor='let item of pageData '>

					<a style="cursor: pointer" [routerLink]="['/user/detail-page', item?.id]"
						class="listing-img-container">
						<div class="listing-badges" hidden>
							<span>For Rent</span>
						</div>

						<div class="listing-img-content">
							<span class="listing-price"> </span>
						</div>

						<img src="{{getPropertyImage(item)}}" alt="">
						<!-- <img src="./assets/images/apartment1.jpg" alt=""> -->
					</a>

					<div class="listing-content">
						<div class="listing-title">
							<h4><a style="cursor: pointer" [routerLink]="['/user/detail-page', item?.id]"
									*ngIf='item?.features && item?.features?.bedrooms'>{{item?.features?.bedrooms}} BHK
									{{item?.ptype_name}}</a></h4>
							<a style="cursor: pointer"
								href='https://www.google.com/maps/search/?api=1&query={{getAddress(item?.details)}}'
								target='_blank'>
								<i class="fa fa-map-marker"></i>
								{{getAddress(item?.details)}}
							</a>
						</div>

						<div class="listing-footer">
							PID:{{item?.id}}&nbsp;&nbsp;&nbsp;&nbsp; {{item.HW_status}} &nbsp;&nbsp;&nbsp;&nbsp;
							<a style="cursor: pointer" (click)='editProperty(item)'><i class="fa fa-pencil"></i>
								Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;

							<!-- <a style="cursor: pointer" (click)="deleteProperty($event, item.id)"><i
									class="fa fa-remove"></i>Remove</a> -->
						</div>
					</div>
				</div>

			</div>


			<div class="pagination-container margin-top-20">
				<nav class="pagination">
					<ul>
						<li *ngFor='let pageNumber of paginationArray' (click)="changePage(pageNumber)">
							<a style="cursor: pointer"
								[ngClass]="{ 'current-page': currentPage===pageNumber}">{{pageNumber}}</a></li>
					</ul>
				</nav>

				<nav class="pagination-next-prev">
					<ul>
						<li *ngIf='!loadingList===true && dataError===false && currentPage!==1'
							(click)='previousPage()'><a class="prev" style='cursor: pointer;'>Previous</a></li>
						<li *ngIf='!loadingList===true && dataError===false && currentPage!==paginationArray.length'
							(click)='nextPage()'><a class="next" style='cursor: pointer;'>Next</a></li>
					</ul>
				</nav>
			</div>

		</div>
	</div>
</div>
<div id="backtotop"><a style="cursor: pointer" (click)="gotoTop()"></a></div>

<div class="clearfix"></div>