<!-- <ngx-json-ld [json]="schema"></ngx-json-ld> -->
<div #homeSection class="parallax" data-color="#36383e" data-img-width="2500" data-img-height="1600"
  style="background-image: url(./assets/images/a2.jpg);font-family: Roboto, sans-serif;">
  <div class="container">
    <div class="row">
      <div class="parallax-overlay" style="background-color: rgb(54, 56, 62);opacity: 0.7;"></div>
      <div class="col-md-12">
        <div class="search-container">
          <center>
            <h1 style="line-height:50px;font-size:50px; font-weight: bold;" class="changing-words"><span
                id="changingword" style="color:red">HESITANT</span><span style="color:white;"> ABOUT </span><span
                id="change" style="color:red">RENTING</span><br>
              <span style="color:white;">YOUR PROPERTY IN {{cityName}}?</span></h1>
          </center>
          <br>
          <center>
            <p>
              <span style="color:#8dc63f;font-size:22px;"><b>HouseWise </b></span>
              <span style="color: #fff;font-size:18px;">is the solution to all your worries.Call </span>
              <a href="tel:+91-7755910850"><span class="fa fa-phone-square"></span></a>
              <!-- <a style="margin-left: 10px;"
                href="https://api.whatsapp.com/send?phone=+917755910850&text=Hi,%20I%20contacted%20you%20Through%20your%20website."
                target="_blank">
                <span class="fa fa-whatsapp" style="color:#8dc63f"></span></a> -->
              <b><a href="tel:+91-7755910850"> +91-7755910850-Now </a></b>
            </p>
          </center>

          <center>
            <div class="col-md-12">
              <a [routerLink]="['/auth/signup']" class="button border login-register-btn">SIGN UP</a>
              <a [routerLink]="['/auth/login']" class="button border login-register-btn">LOGIN</a>
            </div>
          </center>
          <center>
            <div class="city-name-div">
              <h2 class="city-names">Pune | Bengaluru | Hyderabad | Gurugram | Noida | Chennai | Delhi | Mumbai</h2>
            </div>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>

<div #servicesSection>
  <section id="services" class="fullwidth  margin-top-0" data-background-color="#ffffff">
    <div class="container">
      <div class="col-md-12">
        <h2 class="headline dived margin-bottom-35 margin-top-10" style="text-align: center">Services</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div (click)="loadReadmore(1)" class="icon-box-1 alternative" style="cursor: pointer">
            <div>
              <i class="fa fa-building" style="color:#000;font-size: 50px;"></i>
            </div>
            <h3>Rental Management</h3>
            <ul id="ul" style="text-align:left;margin-left:40px;">
              <li>Photography.</li>
              <li>Police verification.</li>
              <li>Complete society formality.</li>
              <li>Facilitate move-in/out.</li>
            </ul>
            <a class="read-more" style="color:#000;">Read More <i class="fa fa-angle-right"></i></a><br>
          </div>
        </div>


        <div class="col-md-4">
          <div (click)="loadReadmore(2)" class="icon-box-1 alternative" style="cursor: pointer">
            <div>
              <i class="fa fa-briefcase" style="color:#000;font-size: 50px;"></i>
            </div>
            <h3>End-To-End Services</h3>

            <ul id="ul" style="text-align:left;margin-left:40px;">
              <li>Ensure rent collection.</li>
              <li>Periodic visit to property.</li>
              <li>Payment to statutory authorities.</li>
              <li>Resolve dispute, if any.</li>
            </ul>
            <a class="read-more" style="color:#000;">Read More <i class="fa fa-angle-right"></i></a><br>
          </div>
        </div>

        <div class="col-md-4">
          <div class="icon-box-1 alternative" (click)="loadReadmore(3)" style="cursor: pointer">
            <div>
              <i class="fa fa-home" style="color:#000;font-size:50px;"></i>
            </div>
            <h3>Property Management</h3>
            <ul id="ul" style="text-align:left;margin-left:40px;">
              <li>Monitoring plots / empty houses.</li>
              <li>Rental management of residential properties.</li>
              <li>Repair and Maintenance.</li>
            </ul>
            <a class="read-more" style="color:#000;">Read More <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="parallax margin-top-0 margin-bottom-40"
    style="background-image: url(./assets/images/listings-parallax.jpg);" data-color="#252529" data-img-width="800"
    data-img-height="505" #countersView>
    <div id="counters">
      <div class="container-fluid">
        <div class="row">
          <div class="counter-boxes-inside-parallax">
            <div class="col-md-1 col-sm-6">
              <div class="counter-box-icon" style="display:none">
                <i class="im im-icon-Building"></i>
                <span class="counter">{{propertyCounter}}</span>
                <p>Properties</p>
              </div>
            </div>
            <div class="col-md-2 col-sm-6">
              <div class="counter-box">
                <div class="counter-box-icon">
                  <i class="im im-icon-Building"></i>
                  <span class="counter">{{propertyCounter}}</span>
                  <p>Properties</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-6">
              <div class="counter-box">
                <div class="counter-box-icon">
                  <i class="im im-icon-Location-2"></i>
                  <span class="counter">{{sqftCounter}}</span>
                  <p>Square-Feet</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-6">
              <div class="counter-box">
                <div class="counter-box-icon">
                  <i class="im im-icon-Business-Mens"></i>
                  <span class="counter">{{clientCounter}}</span>
                  <p>Happy Clients</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-6">
              <div class="counter-box">
                <div class="counter-box-icon">
                  <i class="im im-icon-Factory"></i>
                  <span class="counter">{{citiesCounter}}</span>
                  <p>Cities Covered</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-6">
              <div class="counter-box last">
                <div class="counter-box-icon">
                  <i class="im im-icon-Chacked-Flag"></i>
                  <span class="counter">{{countriesCounter}}</span>
                  <p>Countries</p>
                </div>
              </div>
            </div>
            <div class="col-md-1 col-sm-6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div #howItWorksSection>
  <section id="how" class="fullwidth margin-top-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="headline dived margin-bottom-35 margin-top-10" style="text-align: center">How It Works?</h2>
        </div>
        <div class="container">
          <div class="row">

            <div class="col-md-4">
              <div class="icon-box-1 alternative">
                <div>
                  <i class="fa fa-mobile" style="font-size:50px;"></i>
                </div>
                <h3>Step 1</h3>
                <ul style="text-align:justify;">House owner contacts HouseWise representative and authorizes him/her to
                  rent out the property(flat/bunglow) on the house owner's behalf</ul>
              </div>
            </div>


            <div class="col-md-4">
              <div class="icon-box-1 alternative">
                <div>
                  <i class="fa fa-key" style="font-size:50px;"></i>
                </div>
                <h3>Step 2</h3>
                <ul style="text-align:justify;">House owner hands over keys and relevant property documents to the
                  HouseWise representative</ul>
              </div>
            </div>


            <div class="col-md-4">
              <div class="icon-box-1 alternative">
                <div>
                  <i class="fa fa-user" style="font-size:50px;"></i>
                </div>
                <h3>Step 3</h3>
                <ul style="text-align:justify;">HouseWise hunts for tenants, the ones working with marquee companies and
                  looking out for a house on rent.</ul>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-4">
              <div class="icon-box-1 alternative">
                <div>
                  <i class="fa fa-check-square" style="font-size:50px;"></i>
                </div>
                <h3>Step 4</h3>
                <ul style="text-align:justify;">On finalizing the tenant, HouseWise does the following; <br> a) Police
                  verification of the prospective tenant <br> b) Ask for proof of employment (HR letter) from the
                  prospective tenant
                </ul>
              </div>
            </div>


            <div class="col-md-4">
              <div class="icon-box-1 alternative">
                <div>
                  <i class="fa fa-group" style="font-size:50px;"></i>
                </div>
                <h3>Step 5</h3>
                <ul style="text-align:justify;">After successful verification of the prospective tenant, HouseWise
                  prepare the contract to be signed by both parties - house owner and the tenant. House owner can
                  pre-authorize HouseWise representative
                  to sign on the owner's behalf.</ul>
              </div>
            </div>


            <div class="col-md-4">
              <div class="icon-box-1 alternative">
                <div>
                  <i class="fa fa-dollar" style="font-size:50px;"></i>
                </div>
                <h3>Step 6</h3>
                <ul style="text-align:justify;">a) Tenant transfers monthly rent to house owner's account. <br> b)
                  HouseWise continues to maintain property till end of the lease.</ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<br>

<div #teamSection>
  <section id="founders" class="fullwidth margin-bottom-0 " style="margin-top:-140px;background-color:#f7f7f7">
    <div>
      <h2 style="text-align: center">Founder</h2>
    </div>
    <div class="container">

      <div class="row align-self-center" style="margin-bottom: 2em">
        <div class="col-md-4" style="text-align: center">
          <div><img src="./assets/images/pryank.jpg" alt="team person image" height="210px" width="220px">
            <br>
            <h5 style="color:#000;font-size:24px;">Pryank Agrawal </h5>
            <span style="color:#000;">IIT Roorkee</span>
          </div>
        </div>

        <div class="col-md-8">
          <div data-aos="fade-right" data-aos-duration="1500">
            <br>
            <p style="padding-top:30px;text-align:justify;">Pryank Agrawal is a IIT Roorkee Graduate. He has held
              leadership positions in large marquee names in IT and Banking industry for almost a decade and half and
              has lived in various cities in India, US and Middle East. His fascination with new cities and love for
              real estate investments led him to buy property in various cities in across India. The idea of Housewise
              came to fruition when he could not find a single trustworthy property management company in India.
            </p>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-md-4 d-none d-sm-block" style="text-align: center">
          <div><img src="./assets/images/manojeet.png" alt="team person image" height="210px" width="220px"
              style="opacity:2px;" id="img1">
            <br>
            <h4 style="color:#000;font-size:24px;">Manojeet Chowdhury </h4>
            <span style="color:#000;">BITS Pilani</span>
          </div>
        </div>
        <div class="col-md-8">
          <div data-aos="fade-right" data-aos-duration="1500">
            <br>
            <p style="padding-top:30px;text-align:justify;">Manojeet is an Entrepreneur and comes with more than 35
              years of experience in Industry. A graduate of Chemical Engineering from BITS Pilani and PG in Mgmt from
              IRMA Anand, he started his career in Capital goods and Project industry with Alfa Laval and Tetra Pak, and
              moved to IT Industry in year 2000. He has been a member of Leadership Councils of Mahindra Satyam,
              Hexaware, Intentia AB and Defiance Technologies as also Chairman of Board of Satyam Egypt. He currently
              mentors start-up and also a partner of a German IT company.
            </p>
          </div>
        </div>

        <div class="col-md-4 d-none d-md-block" style="text-align: center">
          <div><img src="./assets/images/manojeet.png" alt="team person image" height="210px" width="220px"
              style="opacity:2px;" id="img1">
            <br>
            <h4 style="color:#000;font-size:24px;">Manojeet Chowdhury </h4>
            <span style="color:#000;">BITS Pilani</span>
          </div>
        </div>
      </div> -->

    </div>
  </section>

  <section id="advisory" style="background-color:#f7f7f7;margin-top:-20px;text-align: center;">
    <div>
      <h2 style="text-align: center">Advisory</h2>
    </div>
    <div class="container">
      <div class="row">

        <div class="col-md-4" style="margin-top:30px;">
          <div><img src="./assets/images/ruchir_arora.jpg" alt="team person image" height="180px" width="240px">
            <br>
            <h4 style="color:#000;font-size:24px;">Ruchir Arora </h4>
            <span style="color:#000;">ISB Hyderabad</span>
          </div>

        </div>
        <div class="col-md-8">
          <br>
          <p style="padding-top:50px; text-align:justify;">Ruchir is Founder and CEO of CollegeDekho.com. He is
            technology entrepreneur with more than 13 years of experience across internet startups, technology and
            media. He founded HTCampus, the first and the largest in its category, in 2010, targeting the education
            services and advertising market - with a portfolio of 6 websites, mobile app and a services business. He is
            a graduate of Indian School of Business. </p>
        </div>
      </div>
    </div>
  </section>

  <section id="testimonials" class="fullwidth margin-bottom-0">
    <div>
      <h2 style="text-align: center">Testimonials</h2>
    </div><br>
    <div class="container">
      <div class="row">

        <div class="w3-content w3-section">
          <div class="mySlides w3-animate-left">
            <div class="col-md-3 col-xs-12 col-sm-12" style="text-align: center">
              <img src="./assets/images/abhilash.jpg" alt="team person image" style="height:150px;width:150px;">
              <h4>Abhilash Gautam</h4>
              <h5> Sydney, Australia</h5>
            </div>
            <div class="col-md-9">
              <p style="text-align:justify;"><i class="fa fa-quote-left" aria-hidden="true"
                  style="font-size:32px;color:#8dc63f;"></i> I had a new flat ready to be rented out & I was struggling
                with the efforts involved in finding tenants. Housewise offered a solution to both these problems and as
                a result, I had my flat rented in no time. I am happy to recommend Housewise.<i
                  class="fa fa-quote-right" style="font-size:32px;color:#8dc63f;"></i></p>
            </div>
          </div>

          <div class="mySlides w3-animate-left">
            <div class="col-md-3 col-xs-12 col-sm-12" style="text-align: center">
              <img src="./assets/images/partha.png" alt="team person image" style="height:150px;width:150px;">
              <h4>Partha</h4>
              <h5>London, UK</h5>
            </div>
            <div class="col-md-9">
              <p style="text-align:justify;"><i class="fa fa-quote-left" aria-hidden="true"
                  style="font-size:32px;color:#8dc63f;"></i> I had the pleasure of interacting with the Housewise team
                when all established "local" agents were found to be turning up with not so desirable tenants. Loved
                their proactiveness and attention to details. Did I say they were much cheaper than the agents - and
                professional too!! Wish You all the best.<i class="fa fa-quote-right"
                  style="font-size:32px;color:#8dc63f;"></i></p>
            </div>
          </div>


          <div class="mySlides w3-animate-left">
            <div class="col-md-3 col-xs-12 col-sm-12" style="text-align: center">
              <img src="./assets/images/parshant.jpg" alt="team person image" style="height:150px;width:150px;">
              <h4>Vaibhav Patle </h4>
              <h5>Princeton New Jersey, USA</h5>
            </div>
            <div class="col-md-9">
              <p style="text-align:justify;"><i class="fa fa-quote-left" aria-hidden="true"
                  style="font-size:32px;color:#8dc63f;"></i> I have nothing but positive experience with Housewise. I
                bought an investment property (an apartment) in Pune and contacted Housewise for the property
                management. They also took care of all rent related legal paperwork. The property is still under
                Housewise care and I have real peace of mind about my property. I highly recommend Housewise to anyone
                who wants to take good care of their investment property.<i class="fa fa-quote-right"
                  style="font-size:32px;color:#8dc63f;"></i></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>

<div class="container" id="newsfeed" *ngIf="newsFeedData">
  <div>
    <h2 style="text-align: center">News Feed</h2>
  </div><br>
  <div class="container">
    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let newsFeed of newsFeedData" class="slide ">
        <div class="carousel-col">
          <div class="post-slide13">
            <a>
              <div class="post-img">
                <img *ngIf="newsFeed?.image && newsFeed?.image!=''" src="{{newsFeed?.image}}" alt="news feed image"
                  width="100" height="100">
                <img *ngIf="!newsFeed?.image && newsFeed?.image===''" src="./assets/images/logohw.png"
                  alt="news feed image" width="400" height="400">
              </div>
            </a>

            <h5 class="post-title"><a (click)='gotoNewsFeedDetails(newsFeed)'>{{newsFeed?.title}}</a></h5>
            <ul class="post-bar">
              <li class="post-date"><i class="fa fa-calendar"></i> {{newsFeed?.created_date | date}}</li>
              <li class="author"><i class="fa fa-user"></i>admin</li>
            </ul>
            <p class="post-description newsfeed-desc" [innerHtml]="newsFeed?.text"
              style="height:135px !important; overflow: hidden;"></p>
          </div>
          <a style="cursor: pointer" class="read-more" (click)='gotoNewsFeedDetails(newsFeed)'>Read More <i
              class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </ngx-slick>
  </div>
</div>

<!-- <div class="container" id="newsfeed" *ngIf="newsFeedData">
    <div>
      <h2 style="text-align: center">News Feed</h2>
    </div><br>
    <div class="card text-center" *ngIf='loadingList===true'>
      <div class="card-content">
        <div class="card-body">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
      </div>
    </div>
    <div class="container newsfeed-height" *ngIf='loadingList===false'>
      <div class="row row-height" style="width: inherit;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-centered">
          <div class="item" *ngFor="let newsFeed of newsFeedData">

            <div class="carousel-col">
              <div class="post-slide13">
                <a>
                  <div class="post-img">
                    <img *ngIf="newsFeed?.image && newsFeed?.image!=''" src="{{newsFeed?.image}}" alt="news feed image"
                      width="100" height="100">
                    <img *ngIf="!newsFeed?.image && newsFeed?.image===''" src="./assets/images/logohw.png"
                      alt="news feed image" width="400" height="400">
                  </div>
                </a>

                <h5 class="post-title"><a (click)='gotoNewsFeedDetails(newsFeed)'>{{newsFeed?.title}}</a></h5>
                <ul class="post-bar">
                  <li class="post-date"><i class="fa fa-calendar"></i> {{newsFeed?.created_date | date}}</li>
                  <li class="author"><i class="fa fa-user"></i>admin</li>
                </ul>                
                <p class="post-description newsfeed-desc" [innerHtml]="newsFeed?.text"
                  style="height:135px !important; overflow: hidden;"></p>                
              </div>
              <a style="cursor: pointer" class="read-more" (click)='gotoNewsFeedDetails(newsFeed)'>Read More <i
                class="fa fa-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> -->

<div #contactUsSection style="margin-top: 50px;">
  <section id="contact" class="fullwidth" style="margin: 0; padding:0;">
    <div class="container-fluid">
      <div style="margin-top: 60px; margin-bottom: 20px;">
        <h2 style="text-align: center">Contact Us</h2>
      </div><br>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h4 class="headline margin-bottom-30">Find Us There</h4>
            <div class="sidebar-textbox">

              <ul class="contact-details">
                <li><a href="tel:+91-7755910850">
                    <span>
                      <i class="fa fa-phone"></i>
                    </span>
                    <strong class="phone">Phone:</strong> <span>+91-7755910850 </span></a></li>
                <li>
                  <span>
                    <i class="fa fa-envelope"></i>
                  </span>

                  <strong>E-Mail:</strong> <span><a href="mailto:sales@housewise.in">sales@housewise.in</a></span>
                </li>
                <li><i class="fa fa-map-marker"></i><strong>Location:</strong></li>

                <h3 class="locations">
                  <li>
                    <span style="cursor: pointer;" [routerLink]="['/property-management-services-in-Pune']"
                      class="pune">Pune</span> |
                    <span style="cursor: pointer;" [routerLink]="['/property-management-services-in-Bangalore']"
                      class="Bengaluru">Bengaluru</span> |
                    <span style="cursor: pointer;" [routerLink]="['/property-management-services-in-Hyderabad']"
                      class="Hyderabad">Hyderabad</span>
                  </li>

                  <li>
                    <span style="cursor: pointer;" [routerLink]="['/property-management-services-in-Gurugram']"
                      class="Gurugram">Gurugram</span>
                    |
                    <span style="cursor: pointer;" [routerLink]="['/property-management-services-in-Delhi']"
                      class="Noida">Noida</span> |
                    <!-- <span style="cursor: pointer;" [routerLink]="['/property-management-services-in-Noida']"
                      class="Noida">Noida</span> | -->
                    <span style="cursor: pointer;" [routerLink]="['/property-management-services-in-Chennai']"
                      class="Chennai">Chennai</span>
                  </li>

                  <li>
                    <span style="cursor: pointer;" [routerLink]="['/property-management-services-in-Delhi']"
                      class="Delhi">Delhi</span> |
                    <span style="cursor: pointer;" [routerLink]="['/property-management-services-in-Mumbai']"
                      class="Mumbai">Mumbai</span>
                  </li>
                </h3>


                <div class="address"></div>
                <div class="punediv">
                  <div><b>{{defaultAddress}}</b>
                  </div>
                </div>

              </ul>

              <ul class="contact-details socialicon">
                <li class="socialicon">
                  <a href="https://www.facebook.com/housewiseindia/" target="_blank" class="fa fa-facebook fa1"></a>
                  <a href="https://twitter.com/housewiseindia" target="_blank" class="fa fa-twitter fa1"></a>
                  <a href="https://www.linkedin.com/company/housewise/" target="_blank" class="fa fa-linkedin fa1"></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-6">
            <section id="contact2">
              <h4 class="headline margin-bottom-35">Contact Form</h4>

              <form [formGroup]="contactForm">
                <div class="row">
                  <div class="col-md-12">
                    <div>
                      <input [ngClass]="{'error': control?.name?.invalid && isSubmitted===true}" formControlName="name"
                        class="form-control" type="text" id="name" placeholder="Your Name" required="required" />
                      <span *ngIf="control?.name?.invalid && (control.name.touched || isSubmitted)">
                        <p class="err-msg2" *ngIf="control.name.errors.required" style="margin-top: -10px"> Name is
                          required</p>
                        <p class="err-msg" *ngIf="control.name.errors.pattern" style="margin-top: -10px"> Name must
                          contain characters only</p>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <select [ngClass]="{ 'error': (control?.country_code?.invalid && isSubmitted===true)}"
                      class="chosen-select-no-single" formControlName="country_code" [(ngModel)]="country_code">
                      <option data-countryCode="IN" value="+91">India (+91)</option>
                      <option data-countryCode="GB" value="+44">UK (+44)</option>
                      <option data-countryCode="US" value="+1">USA (+1)</option>
                      <option data-countryCode="DZ" value="+213">Algeria (+213)</option>
                      <option data-countryCode="AD" value="+376">Andorra (+376)</option>
                      <option data-countryCode="AO" value="+244">Angola (+244)</option>
                      <option data-countryCode="AI" value="+1264">Anguilla (+1264)</option>
                      <option data-countryCode="AG" value="+1268">Antigua &amp; Barbuda (+1268)
                      </option>
                      <option data-countryCode="AR" value="+54">Argentina (+54)</option>
                      <option data-countryCode="AM" value="+374">Armenia (+374)</option>
                      <option data-countryCode="AW" value="+297">Aruba (+297)</option>
                      <option data-countryCode="AU" value="+61">Australia (+61)</option>
                      <option data-countryCode="AT" value="+43">Austria (+43)</option>
                      <option data-countryCode="AZ" value="+994">Azerbaijan (+994)</option>
                      <option data-countryCode="BS" value="+1242">Bahamas (+1242)</option>
                      <option data-countryCode="BH" value="+973">Bahrain (+973)</option>
                      <option data-countryCode="BD" value="+880">Bangladesh (+880)</option>
                      <option data-countryCode="BB" value="+1246">Barbados (+1246)</option>
                      <option data-countryCode="BY" value="+375">Belarus (+375)</option>
                      <option data-countryCode="BE" value="+32">Belgium (+32)</option>
                      <option data-countryCode="BZ" value="+501">Belize (+501)</option>
                      <option data-countryCode="BJ" value="+229">Benin (+229)</option>
                      <option data-countryCode="BM" value="+1441">Bermuda (+1441)</option>
                      <option data-countryCode="BT" value="+975">Bhutan (+975)</option>
                      <option data-countryCode="BO" value="+591">Bolivia (+591)</option>
                      <option data-countryCode="BA" value="+387">Bosnia Herzegovina (+387)
                      </option>
                      <option data-countryCode="BW" value="+267">Botswana (+267)</option>
                      <option data-countryCode="BR" value="+55">Brazil (+55)</option>
                      <option data-countryCode="BN" value="+673">Brunei (+673)</option>
                      <option data-countryCode="BG" value="+359">Bulgaria (+359)</option>
                      <option data-countryCode="BF" value="+226">Burkina Faso (+226)</option>
                      <option data-countryCode="BI" value="+257">Burundi (+257)</option>
                      <option data-countryCode="KH" value="+855">Cambodia (+855)</option>
                      <option data-countryCode="CM" value="+237">Cameroon (+237)</option>
                      <option data-countryCode="CA" value="+1">Canada (+1)</option>
                      <option data-countryCode="CV" value="+238">Cape Verde Islands (+238)
                      </option>
                      <option data-countryCode="KY" value="+1345">Cayman Islands (+1345)
                      </option>
                      <option data-countryCode="CF" value="+236">Central African Republic
                        (+236)</option>
                      <option data-countryCode="CL" value="+56">Chile (+56)</option>
                      <option data-countryCode="CN" value="+86">China (+86)</option>
                      <option data-countryCode="CO" value="+57">Colombia (+57)</option>
                      <option data-countryCode="KM" value="+269">Comoros (+269)</option>
                      <option data-countryCode="CG" value="+242">Congo (+242)</option>
                      <option data-countryCode="CK" value="+682">Cook Islands (+682)</option>
                      <option data-countryCode="CR" value="+506">Costa Rica (+506)</option>
                      <option data-countryCode="HR" value="+385">Croatia (+385)</option>
                      <option data-countryCode="CU" value="+53">Cuba (+53)</option>
                      <option data-countryCode="CY" value="+90392">Cyprus North (+90392)
                      </option>
                      <option data-countryCode="CY" value="+357">Cyprus South (+357)</option>
                      <option data-countryCode="CZ" value="+42">Czech Republic (+42)</option>
                      <option data-countryCode="DK" value="+45">Denmark (+45)</option>
                      <option data-countryCode="DJ" value="+253">Djibouti (+253)</option>
                      <option data-countryCode="DM" value="+1809">Dominica (+1809)</option>
                      <option data-countryCode="DO" value="+1809">Dominican Republic (+1809)
                      </option>
                      <option data-countryCode="EC" value="+593">Ecuador (+593)</option>
                      <option data-countryCode="EG" value="+20">Egypt (+20)</option>
                      <option data-countryCode="SV" value="+503">El Salvador (+503)</option>
                      <option data-countryCode="GQ" value="+240">Equatorial Guinea (+240)
                      </option>
                      <option data-countryCode="ER" value="+291">Eritrea (+291)</option>
                      <option data-countryCode="EE" value="+372">Estonia (+372)</option>
                      <option data-countryCode="ET" value="+251">Ethiopia (+251)</option>
                      <option data-countryCode="FK" value="+500">Falkland Islands (+500)
                      </option>
                      <option data-countryCode="FO" value="+298">Faroe Islands (+298)</option>
                      <option data-countryCode="FJ" value="+679">Fiji (+679)</option>
                      <option data-countryCode="FI" value="+358">Finland (+358)</option>
                      <option data-countryCode="FR" value="+33">France (+33)</option>
                      <option data-countryCode="GF" value="+594">French Guiana (+594)</option>
                      <option data-countryCode="PF" value="+689">French Polynesia (+689)
                      </option>
                      <option data-countryCode="GA" value="+241">Gabon (+241)</option>
                      <option data-countryCode="GM" value="+220">Gambia (+220)</option>
                      <option data-countryCode="GE" value="+7880">Georgia (+7880)</option>
                      <option data-countryCode="DE" value="+49">Germany (+49)</option>
                      <option data-countryCode="GH" value="+233">Ghana (+233)</option>
                      <option data-countryCode="GI" value="+350">Gibraltar (+350)</option>
                      <option data-countryCode="GR" value="+30">Greece (+30)</option>
                      <option data-countryCode="GL" value="+299">Greenland (+299)</option>
                      <option data-countryCode="GD" value="+1473">Grenada (+1473)</option>
                      <option data-countryCode="GP" value="+590">Guadeloupe (+590)</option>
                      <option data-countryCode="GU" value="+671">Guam (+671)</option>
                      <option data-countryCode="GT" value="+502">Guatemala (+502)</option>
                      <option data-countryCode="GN" value="+224">Guinea (+224)</option>
                      <option data-countryCode="GW" value="+245">Guinea - Bissau (+245)
                      </option>
                      <option data-countryCode="GY" value="+592">Guyana (+592)</option>
                      <option data-countryCode="HT" value="+509">Haiti (+509)</option>
                      <option data-countryCode="HN" value="+504">Honduras (+504)</option>
                      <option data-countryCode="HK" value="+852">Hong Kong (+852)</option>
                      <option data-countryCode="HU" value="+36">Hungary (+36)</option>
                      <option data-countryCode="IS" value="+354">Iceland (+354)</option>
                      <option data-countryCode="IN" value="+91">India (+91)</option>
                      <option data-countryCode="ID" value="+62">Indonesia (+62)</option>
                      <option data-countryCode="IR" value="+98">Iran (+98)</option>
                      <option data-countryCode="IQ" value="+964">Iraq (+964)</option>
                      <option data-countryCode="IE" value="+353">Ireland (+353)</option>
                      <option data-countryCode="IL" value="+972">Israel (+972)</option>
                      <option data-countryCode="IT" value="+39">Italy (+39)</option>
                      <option data-countryCode="JM" value="+1876">Jamaica (+1876)</option>
                      <option data-countryCode="JP" value="+81">Japan (+81)</option>
                      <option data-countryCode="JO" value="+962">Jordan (+962)</option>
                      <option data-countryCode="KZ" value="+7">Kazakhstan (+7)</option>
                      <option data-countryCode="KE" value="+254">Kenya (+254)</option>
                      <option data-countryCode="KI" value="+686">Kiribati (+686)</option>
                      <option data-countryCode="KP" value="+850">Korea North (+850)</option>
                      <option data-countryCode="KR" value="+82">Korea South (+82)</option>
                      <option data-countryCode="KW" value="+965">Kuwait (+965)</option>
                      <option data-countryCode="KG" value="+996">Kyrgyzstan (+996)</option>
                      <option data-countryCode="LA" value="+856">Laos (+856)</option>
                      <option data-countryCode="LV" value="+371">Latvia (+371)</option>
                      <option data-countryCode="LB" value="+961">Lebanon (+961)</option>
                      <option data-countryCode="LS" value="+266">Lesotho (+266)</option>
                      <option data-countryCode="LR" value="+231">Liberia (+231)</option>
                      <option data-countryCode="LY" value="+218">Libya (+218)</option>
                      <option data-countryCode="LI" value="+417">Liechtenstein (+417)</option>
                      <option data-countryCode="LT" value="+370">Lithuania (+370)</option>
                      <option data-countryCode="LU" value="+352">Luxembourg (+352)</option>
                      <option data-countryCode="MO" value="+853">Macao (+853)</option>
                      <option data-countryCode="MK" value="+389">Macedonia (+389)</option>
                      <option data-countryCode="MG" value="+261">Madagascar (+261)</option>
                      <option data-countryCode="MW" value="+265">Malawi (+265)</option>
                      <option data-countryCode="MY" value="+60">Malaysia (+60)</option>
                      <option data-countryCode="MV" value="+960">Maldives (+960)</option>
                      <option data-countryCode="ML" value="+223">Mali (+223)</option>
                      <option data-countryCode="MT" value="+356">Malta (+356)</option>
                      <option data-countryCode="MH" value="+692">Marshall Islands (+692)
                      </option>
                      <option data-countryCode="MQ" value="+596">Martinique (+596)</option>
                      <option data-countryCode="MR" value="+222">Mauritania (+222)</option>
                      <option data-countryCode="YT" value="+269">Mayotte (+269)</option>
                      <option data-countryCode="MX" value="+52">Mexico (+52)</option>
                      <option data-countryCode="FM" value="+691">Micronesia (+691)</option>
                      <option data-countryCode="MD" value="+373">Moldova (+373)</option>
                      <option data-countryCode="MC" value="+377">Monaco (+377)</option>
                      <option data-countryCode="MN" value="+976">Mongolia (+976)</option>
                      <option data-countryCode="MS" value="+1664">Montserrat (+1664)</option>
                      <option data-countryCode="MA" value="+212">Morocco (+212)</option>
                      <option data-countryCode="MZ" value="+258">Mozambique (+258)</option>
                      <option data-countryCode="MN" value="+95">Myanmar (+95)</option>
                      <option data-countryCode="NA" value="+264">Namibia (+264)</option>
                      <option data-countryCode="NR" value="+674">Nauru (+674)</option>
                      <option data-countryCode="NP" value="+977">Nepal (+977)</option>
                      <option data-countryCode="NL" value="+31">Netherlands (+31)</option>
                      <option data-countryCode="NC" value="+687">New Caledonia (+687)</option>
                      <option data-countryCode="NZ" value="+64">New Zealand (+64)</option>
                      <option data-countryCode="NI" value="+505">Nicaragua (+505)</option>
                      <option data-countryCode="NE" value="+227">Niger (+227)</option>
                      <option data-countryCode="NG" value="+234">Nigeria (+234)</option>
                      <option data-countryCode="NU" value="+683">Niue (+683)</option>
                      <option data-countryCode="NF" value="+672">Norfolk Islands (+672)
                      </option>
                      <option data-countryCode="NP" value="+670">Northern Marianas (+670)
                      </option>
                      <option data-countryCode="NO" value="+47">Norway (+47)</option>
                      <option data-countryCode="OM" value="+968">Oman (+968)</option>
                      <option data-countryCode="PW" value="+680">Palau (+680)</option>
                      <option data-countryCode="PA" value="+507">Panama (+507)</option>
                      <option data-countryCode="PG" value="+675">Papua New Guinea (+675)
                      </option>
                      <option data-countryCode="PY" value="+595">Paraguay (+595)</option>
                      <option data-countryCode="PE" value="+51">Peru (+51)</option>
                      <option data-countryCode="PH" value="+63">Philippines (+63)</option>
                      <option data-countryCode="PL" value="+48">Poland (+48)</option>
                      <option data-countryCode="PT" value="+351">Portugal (+351)</option>
                      <option data-countryCode="PR" value="+1787">Puerto Rico (+1787)</option>
                      <option data-countryCode="QA" value="+974">Qatar (+974)</option>
                      <option data-countryCode="RE" value="+262">Reunion (+262)</option>
                      <option data-countryCode="RO" value="+40">Romania (+40)</option>
                      <option data-countryCode="RU" value="+7">Russia (+7)</option>
                      <option data-countryCode="RW" value="+250">Rwanda (+250)</option>
                      <option data-countryCode="SM" value="+378">San Marino (+378)</option>
                      <option data-countryCode="ST" value="+239">Sao Tome &amp; Principe (+239)
                      </option>
                      <option data-countryCode="SA" value="+966">Saudi Arabia (+966)</option>
                      <option data-countryCode="SN" value="+221">Senegal (+221)</option>
                      <option data-countryCode="CS" value="+381">Serbia (+381)</option>
                      <option data-countryCode="SC" value="+248">Seychelles (+248)</option>
                      <option data-countryCode="SL" value="+232">Sierra Leone (+232)</option>
                      <option data-countryCode="SG" value="+65">Singapore (+65)</option>
                      <option data-countryCode="SK" value="+421">Slovak Republic (+421)
                      </option>
                      <option data-countryCode="SI" value="+386">Slovenia (+386)</option>
                      <option data-countryCode="SB" value="+677">Solomon Islands (+677)
                      </option>
                      <option data-countryCode="SO" value="+252">Somalia (+252)</option>
                      <option data-countryCode="ZA" value="+27">South Africa (+27)</option>
                      <option data-countryCode="ES" value="+34">Spain (+34)</option>
                      <option data-countryCode="LK" value="+94">Sri Lanka (+94)</option>
                      <option data-countryCode="SH" value="+290">St. Helena (+290)</option>
                      <option data-countryCode="KN" value="+1869">St. Kitts (+1869)</option>
                      <option data-countryCode="SC" value="+1758">St. Lucia (+1758)</option>
                      <option data-countryCode="SD" value="+249">Sudan (+249)</option>
                      <option data-countryCode="SR" value="+597">Suriname (+597)</option>
                      <option data-countryCode="SZ" value="+268">Swaziland (+268)</option>
                      <option data-countryCode="SE" value="+46">Sweden (+46)</option>
                      <option data-countryCode="CH" value="+41">Switzerland (+41)</option>
                      <option data-countryCode="SI" value="+963">Syria (+963)</option>
                      <option data-countryCode="TW" value="+886">Taiwan (+886)</option>
                      <option data-countryCode="TJ" value="+7">Tajikstan (+7)</option>
                      <option data-countryCode="TH" value="+66">Thailand (+66)</option>
                      <option data-countryCode="TG" value="+228">Togo (+228)</option>
                      <option data-countryCode="TO" value="+676">Tonga (+676)</option>
                      <option data-countryCode="TT" value="+1868">Trinidad &amp; Tobago (+1868)
                      </option>
                      <option data-countryCode="TN" value="+216">Tunisia (+216)</option>
                      <option data-countryCode="TR" value="+90">Turkey (+90)</option>
                      <option data-countryCode="TM" value="+7">Turkmenistan (+7)</option>
                      <option data-countryCode="TM" value="+993">Turkmenistan (+993)</option>
                      <option data-countryCode="TC" value="+1649">Turks &amp; Caicos Islands
                        (+1649)</option>
                      <option data-countryCode="TV" value="+688">Tuvalu (+688)</option>
                      <option data-countryCode="UG" value="+256">Uganda (+256)</option>
                      <!-- <option data-countryCode="GB" value="44">UK (+44)</option> -->
                      <option data-countryCode="UA" value="+380">Ukraine (+380)</option>
                      <option data-countryCode="AE" value="+971">United Arab Emirates (+971)
                      </option>
                      <option data-countryCode="UY" value="+598">Uruguay (+598)</option>
                      <!-- <option data-countryCode="US" value="1">USA (+1)</option> -->
                      <option data-countryCode="UZ" value="+7">Uzbekistan (+7)</option>
                      <option data-countryCode="VU" value="+678">Vanuatu (+678)</option>
                      <option data-countryCode="VA" value="+379">Vatican City (+379)</option>
                      <option data-countryCode="VE" value="+58">Venezuela (+58)</option>
                      <option data-countryCode="VN" value="+84">Vietnam (+84)</option>
                      <option data-countryCode="VG" value="+84">Virgin Islands - British
                        (+1284)</option>
                      <option data-countryCode="VI" value="+84">Virgin Islands - US (+1340)
                      </option>
                      <option data-countryCode="WF" value="+681">Wallis &amp; Futuna (+681)
                      </option>
                      <option data-countryCode="YE" value="+969">Yemen (North)(+969)</option>
                      <option data-countryCode="YE" value="+967">Yemen (South)(+967)</option>
                      <option data-countryCode="ZM" value="+260">Zambia (+260)</option>
                      <option data-countryCode="ZW" value="+263">Zimbabwe (+263)</option>
                    </select>
                  </div>
                  <div class="col-md-8">
                    <input [ngClass]="{'error': control?.contact_no?.invalid && isSubmitted===true}"
                      formControlName="contact_no" class="form-control" type="text" id="mobile"
                      placeholder="Mobile Number" required="required" />
                  </div>
                  <span *ngIf="control?.contact_no?.invalid && (control.contact_no.touched || isSubmitted)">
                    <p class="err-msg2" *ngIf="control.contact_no.errors.required"
                      style="margin-top: -10px; margin-left: 35%"> Mobile
                      number is required.</p>
                    <p class="err-msg2" *ngIf="control.contact_no.errors.pattern"
                      style="margin-top: -10px; margin-left: 35%"> Invalid
                      Mobile number</p>
                  </span>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <input [ngClass]="{'error': control?.email?.invalid && isSubmitted===true}" formControlName="email"
                      class="form-control" type="email" id="email" placeholder="Email Address" />
                    <span *ngIf="control?.email?.invalid && (control.email.touched || isSubmitted)">
                      <p class="err-msg2" *ngIf="control.email.errors.required" style="margin-top: -10px"> Email is
                        required
                      </p>
                      <p class="err-msg2" *ngIf="control.email.errors.pattern" style="margin-top: -10px"> Invalid
                        email
                      </p>
                    </span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <input [ngClass]="{'error': control?.subject?.invalid && isSubmitted===true}"
                      formControlName="subject" class="form-control" type="text" id="subject" placeholder="Subject"
                      required="required" />
                    <span *ngIf="control?.subject?.invalid && (control.subject.touched || isSubmitted)">
                      <p class="err-msg2" *ngIf="control.subject.errors.required" style="margin-top: -10px"> Subject
                        is
                        required</p>
                    </span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <textarea [ngClass]="{'error': control?.message?.invalid && isSubmitted===true}"
                      formControlName="message" class="form-control" cols="40" rows="3" id="comments"
                      placeholder="Message" spellcheck="true" required="required"></textarea>
                    <span *ngIf="control?.message?.invalid && (control.message.touched || isSubmitted)">
                      <p class="err-msg2" *ngIf="control.message.errors.required" style="margin-top: -10px"> Message
                        is
                        required</p>
                    </span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <re-captcha (resolved)="resolved($event)" siteKey="6Lc8ALcUAAAAAL7Hdc23hhc475SzpEYG4hNKGtAR"
                      formControlName="captcha"></re-captcha>
                  </div>
                </div>
                <!-- <div class="g-recaptcha" data-sitekey="your_site_key"></div> -->
                <br>

                <button type="button" class="button border" (click)="onSubmit(contactForm)" [disabled]="isLoading"
                  [ngStyle]="{'cursor': isLoading ? 'progress' : 'pointer'}">
                  <i class="fa fa-spinner fa-pulse fa-1x fa-fw" *ngIf='isLoading'></i> Submit Message</button>
              </form>

            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>



<section id="AdvisoryBoard" class="fullwidth"
  style="margin-top:10px;background-color:#f7f7f7; scroll-padding-top: 30px !important; top: 30px">

  <div class="container">
    <div style="text-align: center !important;">
      <h2>Professional Rental Management Company in {{solutionInCityName}}</h2>
    </div><br>
    <div class="row">

      <div class="col-sm-12" *ngIf="cityName==='INDIA'">

        <div class="col-md-6">
          <div class="contact-details">
            <div class="row clearfix">
              <div class="col-sm-12">
                <div class=" contact-heading">
                  <h1 class="title-one" style="color: #333; font-size:25px;text-align: left">Why trust HOUSEWISE
                    rental management solutions in India?</h1>
                </div>
              </div>
            </div>
            <div class="row  clearfix">
              <div class="col-sm-12">
                <div class="col-md-12 " style="opacity: 0.9;padding-left: 0px;padding-right: 0px;">
                  <div class="col-md-12" style="padding-left: 0px;">
                    <h2 style="font-size: 14px; font-weight: normal;text-align: justify !important">
                      <p>
                        Rental property management services/solutions in India-HOUSEWISE feels privileged to present
                        the
                        residential property management in India for NRIs to offer the support and assistance you need
                        every time you are away, by taking care of your property.
                        <br><br>
                        Contrasting to the brokers, we certificate and update our rental procedures online. We make
                        sure
                        that you get a reasonable and best possible rent for your property.
                      </p>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="contact-details">
            <div class="row  clearfix">
              <div class="col-sm-12">
                <div class="contact-heading">
                  <h1 class="title-one" style="color: #333; font-size:25px;text-align: left;">
                    Benefits of hiring HOUSEWISE residential property management in India for NRI</h1>
                </div>
              </div>
            </div>
            <div class="row text-center clearfix">
              <div class="col-sm-12">
                <div class="col-md-12 " style="opacity: 0.9;padding-left: 0px;padding-right: 0px;">
                  <div class="col-md-12" style="padding-left: 0px;">
                    <h2 style="font-size: 14px; font-weight: normal;text-align: justify !important">
                      <p>
                        Right from cleaning, maintenance, and repairs to usual fixes in the property, we will take
                        care
                        of the whole thing to keep your property in the best possible condition. Our property
                        management
                        services for NRI also take account of property insurance.
                      </p>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- <div class="col-md-12" style="text-align: justify !important;" *ngIf="cityName==='INDIA'">
        <h2 style="font-size: 11px; font-weight: normal; text-align: justify;" [innerHtml]= "htmlText"> </h2>
        <p></p>
      </div> -->

      <div class="col-md-12" style="text-align: justify;" *ngIf="cityName==='PUNE'">
        <h2 style="font-size: 11px; font-weight: normal;" [innerHtml]="htmlText"> </h2>
        <p></p>
      </div>

      <div class="col-md-12" style="text-align: justify;" *ngIf="cityName==='BANGALORE'">
        <h2 style="font-size: 14px; font-weight: normal;" [innerHtml]="htmlText"> </h2>
      </div>

      <div class="col-md-12" style="text-align: justify;" *ngIf="cityName==='HYDERABAD'">
        <h2 style="font-size: 14px; font-weight: normal;" [innerHtml]="htmlText"> </h2>
        <p></p>
      </div>

      <div class="col-md-12" style="text-align: justify;" *ngIf="cityName==='GURUGRAM'">
        <h2 style="font-size: 14px; font-weight: normal;" [innerHtml]="htmlText"> </h2>
        <p></p>
      </div>

      <div class="col-md-12" style="text-align: justify;" *ngIf="cityName==='NOIDA'">
        <h2 style="font-size: 14px; font-weight: normal;" [innerHtml]="htmlText"></h2>
        <p></p>
      </div>

      <div class="col-md-12" style="text-align: justify;" *ngIf="cityName==='CHENNAI'">
        <h2 style="font-size: 14px; font-weight: normal;" [innerHtml]="htmlText"> </h2>
        <p></p>
      </div>

      <div class="col-md-12" style="text-align: justify;" *ngIf="cityName==='DELHI'">
        <h2 style="font-size: 14px; font-weight: normal;" [innerHtml]="htmlText"> </h2>
      </div>

      <div class="col-md-12" style="text-align: justify;" *ngIf="cityName==='MUMBAI'">
        <h2 style="font-size: 11px; font-weight: normal;" [innerHtml]="htmlText"> </h2>
        <p></p>
      </div>

    </div>


  </div>
  <br> <br>
</section>

<div id="whatsapp-float-icon" class="whatsapp-web-link">
  <a style="cursor: pointer"
    href="https://web.whatsapp.com/send?phone=+917755910850&text=Hi,%20I%20contacted%20you%20Through%20your%20website."
    target="_blank"><img src="./assets/images/whatsapp2.png" alt="whatsapp icon"></a>
</div>

<div id="whatsapp-float-icon" class="whatsapp-api-link">
  <a style="cursor: pointer"
    href="https://api.whatsapp.com/send?phone=+917755910850&text=Hi,%20I%20contacted%20you%20Through%20your%20website."
    target="_blank"><img src="./assets/images/whatsapp2.png" alt="whatsapp icon"></a>
</div>

<div id="backtotop"><a style="cursor: pointer" (click)="gotoTop()"></a></div>