body {
  overflow-x: hidden !important;
}

.icon-box-1.alternative:hover {
  background-color: #8dc63f;
  color: #000;
}

.icon-box-1.alternative p:hover {
  color: #000;
}

.icon-box-1.alternative h3:hover {
  color: #000;
}

.img1:hover {
  opacity: 0.7;
}

@media (max-width: 991px) {
  #testimonials {
    height: 650px;
  }
}

@media (min-width: 768px) {
  .newsfeed-height {
    height: 520px;
  }
  .row-height {
    position: absolute;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #ul li {
    margin-left: 34%;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) and (orientation: portrait) {

  html,
  body {
    overflow-y: hidden;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 479px) and (orientation: portrait) {

  html,
  body {
    overflow-x: hidden;
  }
}

.locations {
  color: #8dc63f;
  margin-top: -10px;
}

.address.punediv {
  margin-top: -2px;
  line-height: 30px;
  color: #8dc63f;
  margin-left: 40px;
  height: 100px;
}

.post-slide13 {
  padding: 0 15px;
}

.post-slide13 .post-img {
  position: relative;
}

.post-slide13 .post-img>a {
  display: block;
}

.post-slide13 .post-img img {
  width: 100%;
  height: 100px;
}

/*.post-slide13 .post-img:hover:before{
    content: "";
    position: absolute;
    width: 100%;
    height:100%;
    //background-color: rgba(220, 0, 90, 0.6);
}*/
/* .post-slide13 .post-img:after {
  content: "\f065";
  font-family: "font-family: "Varela Round ", "HelveticaNeue ", "Helvetica Neue ", Helvetica, Arial, sans-serif; text-transform: none";
  position: absolute;
  top: 17px;
  right: 20px;
  color: #fff;
  opacity: 0;
} */

/*.post-slide13 .post-img:hover:after{
    opacity: 1;
    transform: scale(1);
}*/
.post-slide13 .post-title {
  margin-top: 20px;
  font-family: "Varela Round ", "HelveticaNeue ", "Helvetica Neue ", Helvetica, Arial, sans-serif;
  text-transform: none;
}

.post-slide13 .post-title>a {
  color: #222;
  display: block;
  text-align: left;
  font-size: 17px;
  font-weight: 600;
  font-family: "Varela Round ", "HelveticaNeue ", "Helvetica Neue ", Helvetica, Arial, sans-serif;
  text-transform: none;
}

.post-slide13 .post-title>a:hover {
  text-decoration: none;
  color: #8dc63f;
  cursor: pointer;
  font-family: "font-family: "Varela Round ", "HelveticaNeue ", "Helvetica Neue ", Helvetica, Arial, sans-serif; text-transform: none";
}

.post-slide13 .post-bar {
  padding: 0;
  list-style: none;
}

.post-slide13 .post-bar>li {
  display: inline-block;
}

.post-slide13 .post-date,
.post-slide13 .author,
.post-slide13 .author>a {
  color: #8dc63f;
  font-size: 12px;
  margin-right: 16px;
  text-transform: uppercase;
  font-family: "Varela Round", "HelveticaNeue", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  text-transform: "none";
}

.post-slide13 .post-date>i,
.post-slide13 .author>i {
  margin-right: 5px;
}

.post-slide13 .author>a:hover {
  color: #8dc63f;
}

.post-slide13 .post-description {
  color: #707070;
  font-size: 15px;
  /* line-height: 27px; */
  padding-top: 5px;
  /* max-height: 26.5rem; */
  /* (Number of lines you want visible) * (line-height) */
  line-height: 2.2rem;
  text-align: left;
  overflow: hidden;
  font-family: "font-family: "Varela Round ", "HelveticaNeue ", "Helvetica Neue ", Helvetica, Arial, sans-serif; text-transform: none";
}

.post-slide13 .post-description:before {
  content: "";
  display: block;
  border-top: 4px solid #8dc63f;
  padding-bottom: 12px;
  width: 50px;
}

.owl-theme .owl-controls .owl-page span {
  width: 52px;
  height: 5px;
  border-radius: 0;
  margin-bottom: 0;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  opacity: 1;
  border-top: 4px solid #8dc63f;
}

.fa1 {
  padding: 10px;
  font-size: 18px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #8dc63f;
  border-radius: 50%;
  margin-left: 10px;
}

.contact-details.socialicon {
  margin-left: 70px;
}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) and (orientation: portrait) {
  .contact-details.socialicon {
    margin-left: 200px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 479px) and (orientation: portrait) {
  .contact-details.socialicon {
    margin-left: -10px;
  }
}

.col-centered {
  float: none;
  margin: 0 auto;
  padding: 0 !important;
}

.carousel-control {
  width: 8%;
  width: 0px;
}

.carousel-control.left,
.carousel-control.right {
  margin-right: 40px;
  margin-left: 32px;
  background-image: none;
  opacity: 1;
}

.carousel-control>a>span {
  color: white;
  font-size: 29px !important;
}

.carousel-col {
  position: relative;
  min-height: 1px;
  padding: 5px;
  float: left;
}

.active>div {
  display: none;
}

.active>div:first-child {
  display: block;
}

.carousel-control {
  width: 8%;
  width: 0px;
}

.carousel-control.left,
.carousel-control.right {
  margin-right: 40px;
  margin-left: 32px;
  background-image: none;
  opacity: 1;
}

.carousel-control>a>span {
  color: white;
  font-size: 29px !important;
}



.active>div {
  display: none;
}

.active>div:first-child {
  display: block;
}

@media (max-width: 460px) {
  .carousel-inner .active.left {
    left: -50%;
  }

  .carousel-inner .active.right {
    left: 50%;
  }

  .carousel-inner .next {
    left: 50%;
  }

  .carousel-inner .prev {
    left: -50%;
  }

  .carousel-col {
    width: 100%;
  }

  .active>div:first-child+div {
    display: block;
  }
}

/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left {
    left: -50%;
  }

  .carousel-inner .active.right {
    left: 50%;
  }

  .carousel-inner .next {
    left: 50%;
  }

  .carousel-inner .prev {
    left: -50%;
  }

  .carousel-col {
    width: 100%;
    height: 48rem;
  }

  .post-description {
    max-height: 26rem !important;
  }

  .active>div:first-child+div {
    display: block;
  }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left {
    left: -50%;
  }

  .carousel-inner .active.right {
    left: 50%;
  }

  .carousel-inner .next {
    left: 50%;
  }

  .carousel-inner .prev {
    left: -50%;
  }

  .carousel-col {
    width: 100%;
  }

  .active>div:first-child+div {
    display: block;
  }

  .changing-words {
    font-size: 40px !important;
  }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left {
    left: -33%;
  }

  .carousel-inner .active.right {
    left: 33%;
  }

  .carousel-inner .next {
    left: 33%;
  }

  .carousel-inner .prev {
    left: -33%;
  }

  .carousel-col {
    width: 100%;
  }

  .active>div:first-child+div {
    display: block;
  }

  .active>div:first-child+div+div {
    display: block;
  }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left {
    left: -25%;
  }

  .carousel-inner .active.right {
    left: 25%;
  }

  .carousel-inner .next {
    left: 25%;
  }

  .carousel-inner .prev {
    left: -25%;
  }

  .carousel-col {
    width: 100%;
  }

  .active>div:first-child+div {
    display: block;
  }

  .active>div:first-child+div+div {
    display: block;
  }

  .active>div:first-child+div+div+div {
    display: block;
  }
}

.block {
  width: 306px;
  height: 230px;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
}

/* h2{
  text-align: center !important;
} */
.owl-item {
  width: 50% !important;
}

.phone:hover {
  text-decoration: none !important;
}

.login-register-btn {
  background-color: #6f9d30 !important;
  border: none !important;
}

#whatsapp-float-icon {
  position: fixed;
  right: 3rem;
  display: block;
  bottom: 45rem;
  z-index: 999;
}

@media (min-width:1240px) {
  #whatsapp-float-icon {
    bottom: 28rem;
  }
}

#whatsapp-float-icon a {
  text-decoration: none;
  border: 0 none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  opacity: 1;
  transition: all 0.3s;
  border-radius: 3px;
  text-align: center;
  font-size: 45px
}

body #whatsapp-float-icon a {
  color: #8cc63f;
}

#whatsapp-float-icon a:after {
  font-family: "FontAwesome";
  position: relative;
  display: block;
  top: 45%;
  -webkit-transform: translateY(-55%);
  transform: translateY(-55%);
}

@media (max-width: 991px) {
  #whatsapp-float-icon {
    position: fixed;
    right: 0rem;
    display: block;
    bottom: 26rem;
    z-index: 999;
  }

  .city-name-div {
    margin-top: 5rem;
  }

}

.city-names {
  font-size: 24px;
  font-family: "Varela Round", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-weight: 500;
  line-height: 1.1;
}

@media (min-width: 992px) {
  .city-name-div {
    margin-top: 10rem;
  }

  
}

/* .fa.fa-whatsapp:hover {
 color: black !important;
} */


/* To change whatsapp link */
@media (max-width:767px) {
  .whatsapp-api-link {
    display: inline-block !important;
  }

  .whatsapp-web-link {
    display: none !important;
  }

  .post-img {
    width: 50% !important;
  }
}

@media (min-width:768px) {
  .whatsapp-api-link {
    display: none !important;
  }

  .whatsapp-web-link {
    display: inline-block !important;
  }

  .post-img {
    width: 50% !important;
    margin: 10px auto 10px !important;
  }
}

.read-more {
  margin: 0 0 0 15px;
}

div.slick-track {
  left: -30px !important;
}
