<div class="container" style="margin-top:70px;">
  <form [formGroup]="changePasswordForm" class="">


    <div class="row">
      <div class="col-md-9 right_section">
        <div class="row">
          <div class="col-md-6  my-profile">
            <label for="p1">Current Password
            </label>
            <input class="form-control" [ngClass]="{'error': control?.oldPassword?.invalid && isSubmitted===true}"
              type="password" placeholder="" id="p1" 
              formControlName="oldPassword">
            <span *ngIf="control?.oldPassword?.invalid && isSubmitted===true">
              <p class="err-msg" *ngIf="control.oldPassword.errors.required"> Password is required</p>
            </span>
            <label for="p2">New Password
            </label>
            <input class="form-control" [ngClass]="{'error': control?.newPassword?.invalid && isSubmitted===true}"
              type="password" placeholder="" id="p2"
              formControlName="newPassword">
            <span *ngIf="control?.newPassword?.invalid && isSubmitted===true">
              <p class="err-msg" *ngIf="control.newPassword.errors.required"> Password is required</p>
              <p class="err-msg" *ngIf="control.newPassword.errors.minLength">
                New password must have minimum 6 characters
              </p>
            </span>
            <label for="p3">Confirm New Password
            </label>
            <input class="form-control" [ngClass]="{'error': control?.confirmPassword?.invalid && isSubmitted===true}"
              type="password" placeholder="" id="p3" 
              formControlName="confirmPassword">
            <span *ngIf="control?.confirmPassword?.invalid">
              <p class="err-msg" *ngIf="control?.confirmPassword.errors?.required && isSubmitted===true"> Verify
                Password is required</p>
            </span>
            <p class="err-msg" *ngIf="passwordMismatch && (control?.confirmPassword.touched || isSubmitted===true)">
              Password does not match</p>
            <a class="button border" (click)="changePassword(changePasswordForm)">Save Changes</a>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>