<footer class="footer fixed-bottom">
  <p><span style="color:black"> Copyright © 2019 - Housewise | All Rights Reserved | <a
        [routerLink]="['/terms-condition']">Terms & Conditions </a>| <a [routerLink]="['/privacy-policy']">Privacy
        Policy</a> | <a [routerLink]="['/blog']">Blogs</a> | <a [routerLink]="['/faq']">FAQ</a></span></p>
</footer>