.footer {
    position:fixed;
    /*left: 0;*/
    /*bottom: 0;*/
    width: 100%;
    /*background-color:#f6f6f6;*/
    color: white;
    background-color: white;
    text-align: center;
 }

.fixed-bottom {
    bottom: 0;
}

 .fixed-bottom {
    z-index: 1038;
    right: 0;
    left: 0;
}

a:focus, a:hover {
    color: black;
    text-decoration: underline;
}